[2020-02-26 08:03] georgehristov commented on #966
Good, then we can close the issue

[2020-02-26 08:03] #966 closed

[2020-02-26 18:46] romaninsh opened #969 "Action Executor ignores field value for the preview function"
When action defines fields=['name'] - executor asks for that name and sets it before executing action (as expected)

If you have a preview, however, the value is not set for the preview:

<img width="767" alt="Screenshot 2020-02-26 at 18 44 24" src="https://user-images.githubusercontent.com/453929/75376607-3c80d100-58c8-11ea-9f9d-7f8f41d59b1d.png">

<img width="1184" alt="Screenshot 2020-02-26 at

[2020-02-26 19:10] ibelar commented on #969
@romaninsh - You should be using argument for this.

[code]

Fields will only set form for direct model editing/saving.

[2020-02-26 20:54] ibelar commented on #969
@romaninsh - nevermind previous comment. Fix in #970

[2020-02-28 17:31] woolfrom20 opened #971 "Column Filtering Not Working?"
After pulling the latest dev code to fix the delete issue, the ability to have column filtering has appeared to stop working.  The dropdown arrows in each column heading are no longer there.

This code used to work and no longer does:

[code]

[2020-02-28 17:34] woolfrom20 commented on #971
![ColFilter](https://user-images.githubusercontent.com/61597118/75571130-98616c00-5a26-11ea-9a3d-6a08bb6fdc27.PNG)

[2020-02-28 17:42] georgehristov commented on #971
Have you rebult and deployed the latest assets (js and css)?

[2020-02-28 17:46] woolfrom20 commented on #971
I am using composer to pull the updates and was under the assumption it handle that for me.

[2020-02-28 17:49] georgehristov commented on #971
You will need to build them to make sure they are the latest version and you need to make sure browser does not have the old version in cache.
Previously Chrome loaded fresh version on refresh page but now I have to clear the cache.
For Firefox refresh only works.
 No experience with other browsers.

[2020-02-28 17:51] woolfrom20 commented on #971
I have tried both browers (FF and Chome) and cleared the cache in both.  How do I ensure they are the latest version (I have never had to do this before)?

[2020-02-28 17:54] georgehristov commented on #971
See #900
You need to rebuild the css from less using lessc and js using npm

[2020-02-29 19:34] #969 closed

[2020-03-01 10:29] #944 closed

[2020-03-03 21:34] PhilippGrashoff opened #973 "Implement average for table totals"
Currently, there is no "avg" for table totals. Implementation would be easy, I can take care of it when I update to current versions. Code is quite finished:

1) new property `avgCount` for table:` $this->avgCount = 0;`
2) that code in updateTotals:
[code]

[2020-03-03 22:01] DarkSide666 commented on #973
Well I guess it's a bit to much calculations.
Probably better would be to use two protected (for internal use) table properties:
[code]

[2020-03-04 07:54] PhilippGrashoff commented on #973
definitely the more sensible approach!

[2020-03-04 07:56] PhilippGrashoff commented on #973
aaaah, avgSum and avgCount need to be arrays, as we might calculcate an avg for more than one column :)

[2020-03-04 20:30] woolfrom20 commented on #971
Thanks.  I was able to rebuild both and it appears to be working again.

[2020-03-04 20:30] #971 closed

[2020-03-08 13:44] NotAProfessionalDeveloper opened #974 "Table displays all records, even if only one is loaded"
(The same applies to Grid/CRUD)

This works: (record 3035 is displayed)
`$t->setModel($m)->addCondition('NIC_ID', '=', 3035);`

This doesn't: (all records are displayed)
`$t->setModel($m)->load(3035);`

This is the complete example:

[code]

[2020-03-09 13:25] DarkSide666 commented on #973
Oh, yes, correct.
Can you create PR for this?

[2020-03-09 13:27] DarkSide666 commented on #974
This is as expected. Please read documentation of atk4/data more carefully.
This is how agile data models work. When you add condition it's like setting scope of model. But loading particular record is not scope, it's just an active record.

[2020-03-09 13:27] #974 closed

[2020-03-09 13:36] PhilippGrashoff commented on #973
Will do when I switch to newest ATK versions, still on 1.7

[2020-03-11 09:28] mvorisek commented on #921
@DarkSide666 What is the best way to fix this?

[2020-03-11 11:57] PhilippGrashoff opened #978 "Make App->isJsonRequest() public"
Hi,

at the moment this function is protected. However, we might want to know from inside a View if the request is a full page reload or a JSON request. Hence I think this function should be public. Also the name without a leading _ supposes the function is public.

What do you think? any counter-arguments?

[2020-03-12 09:52] romaninsh commented on #973
Related #286

[2020-03-12 10:08] DarkSide666 commented on #921
But there is such a check in UserAction.php: https://github.com/atk4/ui/blob/develop/src/ActionExecutor/UserAction.php#L570

[2020-03-12 10:54] mvorisek commented on #921
@DarkSide666 Ahh, fixed 2 months ago. But the fix does not escape HTML.

Is this intended for js response? Or what about reusing: https://github.com/atk4/ui/blob/fa94b89c986bec4936846e63dff69c3f28a463b8/src/App.php#L265

[2020-03-12 10:59] mvorisek opened #982 "Remove "1.0" branch"
Is it ok to remove "1.0" branch?

It seems like a leftover from history and it is a litte bit confusing with "legacy/v1".

[2020-03-13 10:05] mvorisek opened #983 "Lookup vs Autocomplete"
What is the extra functionality of `Autocomplete` form field vs. `Lookup`?

A lot of the code is copy pasted between these two classes - is it ok to deprecate `Autocomplete` or share the code by implementing `Lookup` by extending `Autocomplete`?

Compare these two files:
- https://github.com/atk4/ui/blob/develop/src/FormField/Lookup.php
- https://github.com/atk4/ui/blob/develop/src/FormField/AutoC

[2020-03-13 11:19] mvorisek commented on #983
Related with https://github.com/atk4/ui/pull/951

[2020-03-14 12:22] mvorisek opened #986 "Fix hook trait usage"
Fix these once https://github.com/atk4/core/pull/133 is merged:

Regex:
[code]

Code to be fixed:
- https://github.com/atk4/ui/blob/80b86da11c331342dd01b02081ea3176eee5006e/src/ActionExecutor/Basic.php#L153
  - return is indexed differently
- https://github.com/atk4/ui/blob/80b86da11c331342dd01b02081ea3176eee5006e/src/ActionExecutor/jsEvent.php#L144
  - return is indexed differently
- https://gith

[2020-03-15 23:02] mvorisek opened #987 "/demos/table.php - Exception Value should be scalar"
Related code:
https://github.com/atk4/ui/blob/ad62e4488da24996016c6f12678d22d9799453b6/demos/table.php#L40

But `\DateTime` value should be supported.

[2020-03-15 23:48] DarkSide666 commented on #921
Do you think it should escape HTML?

[2020-03-15 23:53] mvorisek commented on #921
Yes. the `$e->getMessage()` from here:
https://github.com/atk4/ui/blob/7e0c0aa2948b614a252e8d82666cd1072b9f1bc4/src/ActionExecutor/UserAction.php#L570
is currently not HTML, but it is set as HTML/content without escaping.

[2020-03-15 23:53] DarkSide666 commented on #982
done

[2020-03-15 23:53] #982 closed

[2020-03-16 03:06] mvorisek opened #989 "All UI elements should extend View"
Currently some classes like `Callback` are not extended from `View`.

This break things a litte bit as strict type checking is not possible. Is there any significant reason or can all UI elements than can be added to the render tree be based on the `View` class?

Afftected (top-most only) classes:
- `atk4/ui/Callback`
- `atk4/ui/Template`
- `atk4\ui\TableColumn\Generic`

Once fixed, change no clas

[2020-03-16 03:14] #907 closed

[2020-03-16 11:05] mvorisek commented on #921
Related with - https://github.com/atk4/ui/issues/925 - Exception rended should be probably centralized.

[2020-03-16 22:55] mvorisek opened #990 "Migrate addHook() to onHook()"
Why: https://github.com/atk4/core/blob/483766acd200602cfe5bdfdee887ce46d35b1275/src/HookTrait.php#L22

Affected code: https://github.com/atk4/ui/search?p=1&q=addHook&unscoped_q=addHook

But notice, that the addHook() has default priority of 0, but onHook() 5.

[2020-03-17 09:40] mvorisek opened #992 "Improve UX - Add arrow to all/between Wizard items"
![image](https://user-images.githubusercontent.com/2228672/76843064-890e5b00-683b-11ea-9e2f-b007bc119ba5.png)

With arrows the Wizard components seems much more understandable to me (/w arrows = wizard, /wo = menu). Wdyt?

[2020-03-17 09:53] mvorisek opened #993 "/demos/tutorial_actions.php - Call to undefined method atk4\ui\View::addStep()"
Affected file: https://github.com/atk4/ui/blob/develop/demos/tutorial_actions.php#L9

[2020-03-17 15:05] mvorisek opened #994 "Fix security alert - minimist node package"
Alert: https://github.com/atk4/ui/network/alert/package-lock.json/minimist/open

File: https://github.com/atk4/ui/blob/develop/package-lock.json

Introduced by @ibelar - is this file needed at all? It seems like a mistake - https://github.com/atk4/ui/commit/e38e0c0e22815d60707f38377861c7c154878ebb , the commit title says "updated", but in reality it adds this file.

[2020-03-17 18:46] mvorisek opened #995 "Call of add() on Session demo class"
What should this add() do? The add method is not defined..
https://github.com/atk4/ui/blob/2c51c5fe81fc109efb0b1815ba0e9a93482bb59c/demos/Session.php#L121

[2020-03-17 19:52] DarkSide666 commented on #993
Unable to reproduce.

[2020-03-17 22:03] DarkSide666 commented on #992
I agree.

[2020-03-17 22:12] #995 closed

[2020-03-18 11:28] DarkSide666 commented on #992
Strangely in https://semantic-ui.com/elements/step.html it's already working like that, but in our UI it's not.

[2020-03-18 16:01] ibelar commented on #992
This is a Fomantic Ui issue that has been fixed in their 2.7.7 release. We are still on 2.7.2 because of our issue with Tabs see PR #979. It will be resolved by itself when we can upgrade Fomantic UI release.

[2020-03-18 17:48] mvorisek commented on #992
Great, I have added "Fixes <this issue>" to that PR, this issue will be closed once merged.

[2020-03-18 17:55] mvorisek commented on #994
The mentioned lock file in the security alert was not fixed - @ibelar, is the fix really a fix to that issue?

And for me that lock file looks like a mistake, it should be probably removed and maybe even added to `.gitignore`.

[2020-03-18 18:18] ibelar commented on #994
@mvorisek -thks. Not sure how package-json.lock file end up in main directory, but should not be there anyhow.

[2020-03-18 19:38] #994 closed

[2020-03-21 01:50] #930 closed

[2020-03-21 01:56] mvorisek opened #1002 "Document ->add() migration to ::addTo()"
Related with PR #991

- document and update guidelines to always us refactorable `::addTo()` instead of `->add()` when seed is not strictly an object
- migrate documentation (md and rst files)
- migrate commented code (php files)

To find the files to update use regex `->add\s*\((?!\$)`

[2020-03-21 12:35] mvorisek commented on #986
Please check the questions above and close if no actions are needed.

[2020-03-21 12:37] #990 closed

[2020-03-21 12:40] #993 closed

[2020-03-21 18:00] mvorisek opened #1005 "Feature request - Allow nullable form field"
When model field can be null, there needs to be an option to rended additional checkbox "null", i.e. allow user to set null value from Form/CRUD.

[2020-03-21 18:21] #1002 closed

[2020-03-21 18:23] mvorisek opened #1006 "TravisCI/Behat tests are failing"
See https://travis-ci.org/github/atk4/ui/jobs/665250783#L680

[2020-03-21 20:01] #1006 closed

[2020-03-21 22:29] mvorisek opened #1009 "Prevent loosing work on AJAX/server side error"
Currently when a connection is lost or server side error/exception occurs, the unsaved data from components like CRUD are lost.

This is a feature request to prevent this bad behaviour for most common use-cases and to offer a possibility to return back to the unsaved data for retry/fix.

[2020-03-22 10:29] DarkSide666 commented on #1005
I don't see the point.

From UI point of view there is no `null` value. It makes no sense for user. Standard user thinks that `empty` is empty/no-value and he have no idea what `null` means.
From data point of view of course we would like to store `null` sometimes instead of empty values. That's what data normalization should do on atk4/data level. For example, convert empty string values to null,

[2020-03-22 11:42] mvorisek commented on #1005
Here is my idea:
![image](https://user-images.githubusercontent.com/2228672/77248485-02da8600-6c3a-11ea-8537-feca8bf040a7.png)
Add some form field property like `nullable` - set to `false` by default, but if the programmer need an option to allow the control to be set a null - iit can be very easily set to `true` and the right part of the example will be rendered.

[2020-03-22 11:54] DarkSide666 commented on #1005
It's possible to implement that of course. I'm not against any improvement in toolkit, but in this case I still I don't see real use-case for that. That will add complexity, but will be used very rarely. Maybe only if you try to build something like MySQL Workbench UI in Agile toolkit.

[2020-03-23 18:46] mvorisek opened #1010 "CRUD - PHP notice / bad index when submitted"
When CRUD is submitted, the following PHP notice is shown:
[code]

It seems that:
a) the `$response` is an array with one value but instead of with index `0`, the index is `1`
b) adding extra test if the index `0` exists seems to fix this issue

Questions:
a) What does the `0` index mean?
b) what is the purpose of the extra code when index `0` is presented?

How to fix this?

[2020-03-26 09:45] mvorisek opened #1013 "Grid - search returns JSON but with content-type = text/html"
Fix to return content type: `application/json` and fix other JSON responses if they are affected too.

[2020-03-26 09:51] mvorisek opened #1014 "Grid - wrong quickSearch property type"
See:
https://github.com/atk4/ui/blob/8dec96248dfe843d093d30f176cc75f0d73480b5/src/Grid.php#L31

Can the type be `FormField\Generic` at all or should the phpdoc be changed to `array` or `\atk4\ui\jsSearch`?

[2020-03-26 16:22] georgehristov opened #1015 "Using static::addTo results in unexpected behavior when called from child classes"
As example in `Menu` methods `addMenu`, `addGroup`, `addMenuRight` use `static::addTo`.
I had defined a child class `NavMenu` extending `Menu`.
When calling the `addMenu` method within the new class the expected behavior is that a `Menu` is added (as original behavior) and not `NavMenu` (as happens now).

Using `self` instead of `static` in `Menu` methods does not solve the issue. Only using `Menu

[2020-03-26 19:33] ibelar commented on #1010
This problem is associated with form submit having more than one hook to deal with and come from Hook refactoring.

https://github.com/atk4/core/blob/188895e63e2a30458a142e2b5d5e3f4751f69ffb/src/HookTrait.php#L175

For example:
[code]
When form is submitted, each CheckBox has added a 'loadPost' hook. Thus, when hook are executing, the response from `$response = $this->hook('submit');` is not corre

[2020-03-26 20:17] mvorisek commented on #1010
I have already analysed the impact of the hook refactoring already, but thanks, need help with fixing it - see https://github.com/atk4/ui/issues/986 . It makes sense to return the hook values indexes by the hook index that produced it.

To this issue: do we have a guarantee that the hook from which the result is used in `jsCallback` is always the first called? I think no, as if later a different h

[2020-03-26 20:50] ibelar commented on #1010
To my knowledge, only jsCallback checked for index 0 response, and I believe this was done for directly returning a View object from a form submit. So it can be easily fixed in Form::ajaxSubmit() or maybe even better in jsCallback directly.

Question for @romaninsh and @DarkSide666 - Is there other places in atk4 repo that uses response with index 0, other than jsCallback?

If no, then I can issue

[2020-03-26 23:34] mvorisek commented on #1015
There are a lot of usages of `addTo` and only for these reasons I strictly isolated manual fixes vs. fixes applied by custom refactoring script/tool.

Please see commits history:
- https://github.com/atk4/ui/pull/991/commits
- https://github.com/atk4/ui/pull/1004/commits

Manual check were done by hand or semi-automated. Automated/large changes should be 100% back-compatible, i.e. 1:1, i.e. static

[2020-03-27 07:40] georgehristov commented on #1015
Yes, it looks like issue was introduced in 1744324.
But unfortunately fix is not that straight forward.
Normally replacing `static` with `self` should fix the issue but maybe due to a php bug (I could not find anything about it) the `static` in the `addTo` method is interpreted as the child class and not as expected the parent.
Only using explicitly `Menu` (which should be same as `self` but is no

[2020-03-27 08:00] mvorisek commented on #1015
You must be doing something wrong. `static` is always resolved to the class name that you are refering, `self` to the class name where it is used. Please note, that if you call `self::some method` and then use `static::something` in that method, then the later static means the first `self`.

Please check the manual changes from me and open a PR and will comment each exact case.

[2020-03-27 08:02] georgehristov commented on #1015
This is what you would expect but it does not work like that (php 7.3)

[2020-03-27 08:13] georgehristov commented on #1015
See here:
http://sandbox.onlinephpfunctions.com/code/48c6194fbb8ae85830328fe6a41ea1a43a4e18c0

[2020-03-27 08:43] mvorisek commented on #1015
@georgehristov Very interesting - probably a bug or some very weird behaviour of PHP - I just opened an issue for it directly in PHP - https://bugs.php.net/bug.php?id=79419

[2020-03-27 09:09] mvorisek commented on #1015
Probably here is some explanation - https://wiki.php.net/rfc/lsb_parentself_forwarding

So `self` can be used safely only with `self::class` which resolves to the expected current (where defined) class name and then you can call any static method explicitely with this class name.

[2020-03-27 09:26] georgehristov commented on #1015
Yes, I believe this explains the issue. Not sure why PHP team went this non-intuitive way.
But explanation is not a solution.

The only way to solve it stable is to somehow force StyleCI to ignore the `Menu` and not try to replace it with `self`. Any suggestions?

[2020-03-27 09:30] mvorisek commented on #1015
Yes, see my sandpit code, use: `(self::class)::className();` instead of `self::className();`. Currently, I do not see a better possible fix, but refactoring will not work. I may write some hack for this later (using backtrace for example), but there are only a few uses of `self` currently...

[2020-03-27 10:29] #1015 closed

[2020-03-27 19:41] mvorisek opened #1020 "Reuse Dropdown as much as possible in Lookup"
This is a feature request to reuse `Dropdown` as much as possible in `Lookup`.

I understand that in the future that `Lookup` can be more than simple dropdown so I propose not extending `Dropdown` directly but reusing the the `Dropdown` component as much as possible. Currently lot of the base code is shared which is hard to maintain.

[2020-03-27 20:34] ibelar commented on #1020
Actually, DropDown and Lookup are both extending Input.
In fact Lookup should be an extension of DropDown. They use the same Fomantic-Ui dropdown module at their base but Lookup use the api configuration of the module to perform server query.

[2020-03-27 20:37] mvorisek commented on #1020
I am 100% ok with that. I proposed to wrap it as in the feature `Lookup` (at least from its name) can be much richer UI element like element with preview of the linked value etc.

[2020-03-27 20:41] mvorisek opened #1021 "Remove DropDownButton"
Is there any strong use case for `DropDownButton` - https://github.com/atk4/ui/blob/develop/src/DropDownButton.php ?

If not, mark it deprecated and remove it later.

[2020-03-28 07:41] georgehristov commented on #1021
There is a very strong use case for `DrobDownButton` when drop down needs to be attached to a button.

Attached one of my use cases

![DropDownButton](https://user-images.githubusercontent.com/8128250/77818069-e756fb80-70cf-11ea-91fc-be9edc56ddac.png)

[2020-03-28 07:57] mvorisek commented on #1021
If `Lookup` will be implemeted as an extension of `DropDown`, then removing this class will be more than needed - see issue #1020 - for now, leaving this open, should be decided.

Feedback is welcomed anytime.

[2020-03-29 09:42] mvorisek opened #1022 "Behat - dump page source if test has failed"
Important to quickly identify failed tests like this one: https://travis-ci.org/github/atk4/ui/jobs/668304912#L1017

[2020-03-29 10:12] mvorisek opened #1023 "Merge/extend deeper levels of seed like "ui" or "class""
What is currently the best way to merge/extend "ui" seed?

Related with: https://github.com/atk4/ui/issues/1021

Example code:
[code]

[2020-03-29 10:22] mvorisek opened #1024 "Simplify/fix names like DropDown to Dropdown"
Class names likes `DropDown` should be changed to `Dropdown`. This is a standard across almost every UI framework - just google "DropDown".

`Drop` class will never exists or it will mean something totally different. In contrast and for this reason classes like `CardSection` are legit.

Normally, this will be a huge BC break, but as PHP classes are case-insensitive, this change should be only cosm

[2020-03-29 11:25] DarkSide666 commented on #1010
Sorry, no idea about that :)

[2020-03-29 15:18] mvorisek commented on #147
Is this issue still valid in 2020?

[2020-03-29 15:22] mvorisek opened #1025 "Use local resources only - pack/download from CDN lately on install"
This is a feature request to pack or download all resources with composer at install/update.

This includes not only directly resources for atk4, but also for used libraries, like CDN fonts used in Fomantic UI.

Important for intranets/IOT where internet connection is not available or limited.

[2020-03-29 18:57] #1010 closed

[2020-03-29 19:17] ibelar commented on #1013
I am not able to reproduce this. Can you share a little more details?

[2020-03-29 19:23] mvorisek commented on #1013
@ibelar Steps to reproduce:
1. open https://ui.agiletoolkit.org/demos/grid.php
2. open `developer tools > network` in your browser
3. try to search something like `x`
4. notice the AJAX request - https://ui.agiletoolkit.org/demos/grid.php?__atk_reload=atk_admin_grid_view&_q=x
5. notice the response headers:
![image](https://user-images.githubusercontent.com/2228672/77858377-7add1900-7203-11ea-80c5

[2020-03-29 20:04] ibelar commented on #1013
https://ui.agiletoolkit.org/demos/grid.php use old atk4/ui version 1.7.1

This was refactored in version 2.0

[2020-03-29 20:04] #1013 closed

[2020-03-29 21:10] mvorisek commented on #1013
@ibelar You are right, not sure how I came to it in the latest version, but then I retested it in the demo/1.7.1...

related with https://github.com/atk4/ui/pull/873

[2020-03-29 21:21] mvorisek opened #1027 "How to reorder elements in the layout?"
Example:
[code]

Why is the save button (added in init, ie. before the dropdown is added initially) not moved to the end with the code above?

What is currently the best way to do so once the layout is initialized?

[2020-03-29 21:32] romaninsh commented on #1020
we might have some functionality duplication - similarly to Modal and jsModal - there are some differences and possible that certain things will be discontinued and removed later on. Refactoring is not a huge priority and probably should wait until we've done with https://github.com/atk4/data/pull/375

[2020-03-29 22:15] mvorisek opened #1028 "Some templates are missing common properties like id"
Templates like `admin.html/pug` are missing `id` property.

Is that intentional?

Element properties like `id`, `data`, ... has almost nothing to do with styling and if user/programmer wants to add them, it should be always possible no matter if defined in the template or not.

This is a feature request to introduce some special template parameter like `{$implicit_props}` which can be easily added

[2020-03-30 09:02] DarkSide666 commented on #147
I think no because now we use CDN with https:
[code]

[2020-03-30 09:03] #147 closed

[2020-03-30 09:09] DarkSide666 commented on #1027
Currently the only way to change order of elements after they are added is to mess with `elements` array of parent (or remove element and add it at the end) I think. At least that's what I have also done in some places.
Probably there should be some nice-named method for that.

[2020-03-30 09:10] DarkSide666 commented on #1025
+ already compiled JS and CSS files.

[2020-03-30 10:07] mvorisek commented on #1025
@DarkSide666, wdym? The compiled (& minified) files are currently not available within this repo.

One possible solution - and I prefer it - is to put the compiled (& minified) files into the repo directly, ensure that all of them can be built repeatably and add CI tests to make sure the compiled files are 1:1 (ie. synchronized) with the source files.

[2020-03-30 13:47] ibelar commented on #1027
Form rely on a layout View to add field and buttons. This layout view is added to the form template inside the Content tag.

In your code above, when creating the form instance, initLayout method is called, thus inserting the layout view within the Content region of the form.
Then, your code added the $dropdown field within the same Content region of the form template.

Since the save button is pa

[2020-03-30 15:11] arrochado opened #1029 "UploadImg inside Modal / CRUD"
I tried to customize the default modal form in a CRUD. Used a custom Form/Executor class: MyForm and MyExecutor.
[code]
[code]

[code]
The modal displays correctly the custom form. But when I delete an previous uploaded picture, or try to upload a new one I get the following error:

Critical Error<\/div>\n atk4\\ui\\Exception \n onUpload and onDelete callback must be called to use file upload.

Th

[2020-03-30 15:43] ibelar commented on #1029
May be the onDelete, onUpload callback are not run because it's arguments are not kept when activated.
Try to set the UploadImg callback stickyApp property to true.

[code]

[2020-03-30 15:58] mvorisek commented on #1027
@ibelar Thank you - yes, the issue with my example is that I added Dropdown to Form but the button is added to a layout... This moved the button to the end:
[code]

But when I changed the second line of the original example to add the Dropdown to layout like:
[code]

Then I received an Exception:
[code]

Is this a bug? I am using this for one use case where I do not need model, thus I do not / can

[2020-03-30 16:58] arrochado commented on #1029
Thanks @ibelar. Your suggestion didn't work.

My improvised solution was to re-register the onUpdate callback inside the onDelete closure, and vice-versa.
PS.: I'm quite new to agiletoolkit, sorry for my noob questions

[code]

[2020-03-30 17:01] ibelar commented on #1027
@mvorisek - no - this is not a bug. When rendering the form layout, it see that the object is a field type and try to set caption on it.

Not sure what you are trying to do but if you do not meed model, then why not just use form without model?

[code]

[2020-03-30 19:32] mvorisek commented on #1027
I need a html form and single dropdown element with save button. Nothing else.

So this works:
[code]

![image](https://user-images.githubusercontent.com/2228672/77950596-02409000-72c9-11ea-850e-336e85f058f2.png)

but the Field name (`x` in this example) is rendered.

To sum it up - I understand the logic, initially I tried to reorder elements in `$form` instead of `$form->layout` by a mistake. Th

[2020-03-30 20:35] #1029 closed

[2020-03-30 20:37] DarkSide666 commented on #1025
Well, sometimes it would be great to have automatically compiled/minified files in repo. They can be compiled automatically by github action i guess.

[2020-03-30 21:10] #983 closed

[2020-03-30 21:43] PhilippGrashoff commented on #1027
Hi, if you want to hide the fields caption (in your case the X), you can use the parameter `inline` of a `FormLayout`. This, IIRC, leads to only the fields being rendered without the labels.

[2020-03-30 21:54] mvorisek commented on #1027
@PhilippGrashoff Thanks for pointing it out! It does not solve the that the result after `add()` / `init()` is different, but the labels are gone:
![image](https://user-images.githubusercontent.com/2228672/77965367-20b28580-72e1-11ea-9498-ce92fd22e7fd.png)

But the property name `inline` is very confusing - @PhilippGrashoff, time to rename to 'noLabels'?

[2020-03-30 21:59] #918 closed

[2020-03-30 22:02] PhilippGrashoff commented on #1027
I agree its confusing. More confusing even when regarding that Fomantic UI means by "inline" that the label is left of the input instead of above:
https://fomantic-ui.com/collections/form.html#inline-field

@ibelar you are our form master. What do you think?

[2020-03-31 00:56] mvorisek opened #1040 "Content-type is not reset to text/html when an exception is thrown"
![image](https://user-images.githubusercontent.com/2228672/77976190-87916800-72fc-11ea-87d0-57532c57819f.png)

Steps to reproduce:
1. open network tab in developer tools in browser
2. click on any `Lookup` - you should see `200` and `content-type: application/json`, fine
3. now emit (break the code manually) an exception right before the output in the `Lookup` API virtual page
4. repeat step 2. an

[2020-03-31 04:44] romaninsh commented on #1025
Are you suggesting to extend https://github.com/atk4/ui/blob/develop/tools/get-assets.php?

[2020-03-31 04:46] romaninsh commented on #1023
Through class[] property / addclass

[2020-03-31 04:50] romaninsh commented on #1005
We considered this option. Null means lack of input and by design user always leaves some input when filling form fields. The case can be made for conditional fields eg if you have “has address 2” checkbox which enables extra fields. If not enabled, fields are hidden and user doors not get an opportunity to fill them out. In that case we can consider them null.

[2020-03-31 04:52] romaninsh commented on #1009
Form will not submit on error and will give you opportunity to submit itself again. Crud is only edited by form. Do you suggest something more radical here?

[2020-03-31 04:57] romaninsh commented on #989
I think this is non issue. All listed class have a good reason not to extend View.

Callback is non visual and does not facilitate itself as an entity in html tree.

Template is too abstract and is an utility class

TableColumn is also an utility for rendering cells and is part of Table therefore cannot exists without it. Field is also part do Form but they can be individually used and therefore e

[2020-03-31 05:00] romaninsh commented on #940
@ibelar  what is your call on this. Our test suite already is very time consuming

[2020-03-31 05:01] romaninsh commented on #922
@mvorisek  was this fixed?

[2020-03-31 05:02] romaninsh commented on #911
Fixed?

[2020-03-31 05:04] romaninsh commented on #1028
Some of those properties were added on “need to” basis.

[2020-03-31 05:09] romaninsh commented on #1027
Form layout is a custom view that relies on fields getInput and augments it with labels, captions etc. There is a class for a form without any layout engine or you can use custom form layout.

[2020-03-31 05:11] romaninsh commented on #1024
We had some internal policy for this but not for DropDown specifically. I agree with your proposal as long as it is BC

[2020-03-31 05:12] romaninsh commented on #925
To my knowledge exception will recursively render nested exception. Is this broken?

[2020-03-31 05:14] romaninsh commented on #921
Exceptions render themselves because we must minimise the possibility of repeated exception. It’s a bit ugly but works well

[2020-03-31 05:15] romaninsh commented on #891
Agree and any enhancements to field decorator could be contributed in an addon.

[2020-03-31 05:17] romaninsh commented on #890
Storing files in a database is a bad practice. Database is for structured data, for raw data use S3

[2020-03-31 05:19] romaninsh commented on #856
Any update is on this?

[2020-03-31 05:20] romaninsh commented on #829
This is mostly done as if 2.1

[2020-03-31 06:57] mvorisek commented on #890
Why it is a bad practice? - https://softwareengineering.stackexchange.com/questions/150669/is-it-a-bad-practice-to-store-large-files-10-mb-in-a-database as long as the target DB have enought resources (and also for backups), then I do not see any. But of course, the BLOB field can support also persistence to a FS or even S3.

[2020-03-31 07:43] karakal opened #1042 "new version 2.1 of atk4/ui has dependency problem"
Hey,

the just released version 2.1 of atk4/ui depends on a yet unreleased version of atk4/core.

e.g.: StaticAddToTrait is not in the current release of atk4/core.

Why aren't all the dependencies automatically checked when releasing a new version???

You must NOT release a new version of anything when dependencies can't be met!

[2020-03-31 09:01] mvorisek opened #1043 "TravisCI test are broken"
See https://travis-ci.org/github/atk4/ui/builds/669012682

[2020-03-31 09:04] mkrecek234 opened #1044 "Tabs with wrong default active tab"
In the most recent version, the tab view chooses automatically the last tab as the default active tab. Prior behaviour was the first tab which makes more sense.

[2020-03-31 09:11] mvorisek commented on #922
Fixed, closing.

[2020-03-31 09:11] #922 closed

[2020-03-31 09:11] mvorisek commented on #911
Fixed, closing.

[2020-03-31 09:11] #911 closed

[2020-03-31 09:22] mvorisek commented on #1042
Yes, all tests need to pass lately before tagging. When releasing any `atk4/*` package.

[2020-03-31 10:00] mvorisek opened #1045 "Non minified .js is not available in releases"
See:
![image](https://user-images.githubusercontent.com/2228672/78013531-e8459280-7346-11ea-8589-ae162ad7ea5e.png)
(the diff is actually inverted, but GitKraken somehow shows it always this way not matter what commit is selected for compare first)

[2020-03-31 10:12] mvorisek commented on #1042
To mitigate this issue:
a) I renamed the released `2.1.0` tag to `2.1.0-alpha1`
b) and to update Packagist I tagged the latest stable `2.0.4` as `2.1.0`, pushed it, and removed this tag from this repo.

Later, the `2.1.0-alpha1` may be renamed back to `2.1.0`.

### Renaming tags is normally very bad practice. The fixed release should never use `2.1.0`, i.e. it should be at least tagged as `2.1.1`.

[2020-03-31 13:18] ibelar commented on #1044
This is an issue with Fomantic-Ui starting with their release 2.7.8

see https://jsfiddle.net/ibelar/bjo1tnL9/

Suggest for now that you downgraded released for Fomantic-UI for version 2.7.4 in App::cdn property.

@romans - Should we downgraded Fomantic to version 2.7.4 in atk4/ui 2.1?

[2020-03-31 13:36] ibelar commented on #1027
@PhilippGrashoff - I believe class inline in Fomantic-UI is meant to be applied on a group of fields. Having the first field in the group to have its label set to the left of it and the remaining fields in the group to appear next to each other.

[2020-03-31 13:46] mvorisek commented on #1027
@ibelar But in atk the `inline` is used for `noLabels` :), see https://github.com/atk4/ui/issues/1027#issuecomment-606271988 , time to change it?

[2020-03-31 13:47] ibelar commented on #940
What if we move atk-js into its own repo and set up an npm package for it?
Then we could pick up whatever release we need from jsDeliver, something like:
https://cdn.jsdelivr.net/npm/atk-js@1.12.5/dist/atk-js.min.js

[2020-03-31 13:55] mvorisek commented on #989
For me, it is, as long we want a consistent code - see for ex. this PR: https://github.com/atk4/ui/pull/1047/files

Yes, it seems `Template` should not/can not extend `View`.

This issue needs to be further analysed. We need at least these interfaces:
- `IRenderableItem` (for `App::terminateHTML()`, `render()`, `getHTML()`)
- `ITreeItem` (for `App::add()`)

Please provide feedback for this. Basica

[2020-03-31 13:59] mvorisek commented on #940
@ibelar Because of the longer build/test time?

[2020-03-31 14:08] georgehristov commented on #1027
We were discussing introducing hooks into the `init` method for this purpose as some operations in `init` can only be performed when all elements added.

[2020-03-31 14:13] ibelar commented on #1040
What does `Lookup` refer to? Can you point out the proper demos file or code you are using for this?

[2020-03-31 14:24] ibelar commented on #1027
@mvorisek - sorry was not clear enough. It also has the same behavior for atk4/ui. Declaring 'inline' field does remove the label because it follow Fomantic-UI rule. See demos/form.php in Layout Control tab

[code]

<img width="956" alt="Screen Shot 2020-03-31 at 10 22 55 AM" src="https://user-images.githubusercontent.com/2204478/78037531-b1b54b00-7339-11ea-81fd-b6e343e89e85.png">

[2020-03-31 14:28] mvorisek commented on #1027
@ibelar Ok, thanks for the demo, in atk, "noLabels" is only side effect of `inline`.

[2020-03-31 15:50] DarkSide666 commented on #1044
I think we should downgrade Fomantic while they don't fix this nasty bug.

[2020-03-31 17:28] DarkSide666 commented on #987
Fixed in https://github.com/atk4/ui/pull/1048.
I think that's correct fix because in demos we're directly importing values in persistence, so no typecasting works there at this point.

[2020-03-31 17:43] DarkSide666 commented on #1005
Text fields can be null (or empty text), but I think nobody will like to see that checkbox.
I mean - users should not need to click additional checkbox just to be able to fill additional field. If they need to fill it then show field and if it's left empty it means user didn't want to fill it.

Another case is checkbox "Shipping address equals to billing address" in some kind of billing/checkout p

[2020-03-31 17:44] DarkSide666 commented on #1028
Also it's possible that some templates do not need these id because they are not used there or template is part of another template.

[2020-03-31 17:48] mvorisek commented on #1028
@DarkSide666 I spotted this when I needed to work with main layout - there is no id and also `jQuery` without custom selector did not worked, as the id does not exist and can not be currently added.

Quite legit use case.

[2020-03-31 18:00] DarkSide666 commented on #1028
Yes sure. I'm not against it. We should add `{$_id}` in all of them.

[2020-03-31 18:35] mvorisek opened #1050 "Do not assume anything from "X-Requested-With: XMLHttpRequest" request header"
Two totally unrelated things, for ex. a binary image may be requested by AJAX.

Presence of `X-Requested-With: XMLHttpRequest` request header should have no effect on the output.

Affected code:
https://github.com/atk4/ui/blob/3e65d4e3ec0036f1016928179c6c018dd8a03b61/src/App.php#L314-L318

Very important to prevent bad results and make debugging more robust.

[2020-03-31 19:50] mvorisek commented on #1040
Related with #1050

[2020-03-31 20:10] PhilippGrashoff commented on #1027
well, "inline" class in Fomatic-UI can be used two ways, at least 2 I know of:
1) On a single field. `<div class="inline field">` Causes the label to be left of the input instead of above, as FUI docs state.
2) In a group of fields, so far I used `<div class="inline fields"><div class="field">...</div><div class="field">...</div></div>` This also leads to all labels to appear left of the input ins

[2020-03-31 23:13] mvorisek opened #1052 "Lookup - set(null) can fail"
See https://github.com/atk4/data/issues/542

Issue is triggered when the new `dependency` feature is used.

[2020-04-01 09:09] #1052 closed, assigned to mvorisek

[2020-04-01 14:38] mvorisek commented on #1044
@ibelar I done a few tests and base on one Github example it seems that you need to call `.tab()` on selector that selects all tabs. Then the active tab is recognized withing that group and if not specified, the first one - as described in the issue desc - is choosed.

See https://jsfiddle.net/ur562o3z/ , https://jsfiddle.net/5x0n4vLc/

Does changing the selector help with this issue?

[2020-04-01 15:34] ibelar commented on #1044
Understand that but it does not really apply to our use case in atk4/ui. Each individual tab need to be set up individually. The reason is that some tab needs to be load dynamically, via callback, while others don't. So they will use a different init option.

[2020-04-01 19:59] mvorisek commented on #1043
Issue fixed

[2020-04-01 19:59] #1043 closed, assigned to nobody

[2020-04-01 20:03] mvorisek opened #1056 ""atk4/ui-demo - Build failed" - CI dot is red"
![image](https://user-images.githubusercontent.com/2228672/78181236-4ddb7100-7464-11ea-8c36-adbffc5a69b0.png)

![image](https://user-images.githubusercontent.com/2228672/78183054-8df02300-7467-11ea-8ba0-800ffa90bd4c.png)

Important for quick overview. Fix and do your best to maintain "green dot" as much as possible.

[2020-04-01 20:21] mvorisek opened #1057 "Migrate TravisCI from .org to .com"
See https://docs.travis-ci.com/user/migrate/open-source-repository-migration

[2020-04-01 23:11] mvorisek opened #1059 "Modal - rename "mode" to something self-explaining"
Code to update:
https://github.com/atk4/ui/blob/b97a304037bcbb748a77aa1a708a64a905968279/src/jsModal.php#L18
and
https://github.com/atk4/ui/blob/b97a304037bcbb748a77aa1a708a64a905968279/js/src/plugins/create-modal.plugin.js#L18

I propose `data_type` which is also use in Fomantic UI API (`dataType`), but feel free to comment better name.

[2020-04-02 02:30] jtylek commented on #856
@romaninsh Thank you for setting up the Telegram group. Since then it looks like Discord gained more popularity. I joined it and I am monitoring it.

Re: Grid Plugins - @georgehristov would be the best source of info on this matter.

[2020-04-02 08:18] mvorisek commented on #978
Please provide several real use-cases.

[2020-04-02 11:39] PhilippGrashoff commented on #978
Taken from my code:
[code]
In this case its a page which is either rendered in a Modal or as full page. If the page is rendered as full page, a record list View is added to the left side, when rendered in a Modal not.
To solve the protected issue here I extended isJsonRequest() in my own App and made it public.

[2020-04-02 12:56] georgehristov commented on #856
I have refactored it to reduce redundancy and use atk native routines (parent / owner, collections, etc)
It is beneficial in cleaning up specific functionality in a separate file (like plugins for `Table` and `Grid`).
It needs a bit more work to be ready for PR. Intermediate results are under https://github.com/georgehristov/ui/commits/feature/plugins

[2020-04-02 13:41] karakal opened #1060 "Validation Exception is not shown right"
ValidationException was already shown "nicely". (the field red and the message beneath the field)
I just changed to 2.0.4 and the Validation Exception is not shown in that way but with a really ugly exception. Why is that?

![grafik](https://user-images.githubusercontent.com/2448293/78256039-58dfe100-74f8-11ea-9c1b-55b865150725.png)

[2020-04-02 13:56] ibelar commented on #1060
This was fix in #896 and is part of the 2.1 release.

[2020-04-02 14:30] karakal commented on #1060
Yeah I figured. It did a manual overwrite of atk4/core because right now 2.1 is not installable via composer (and therefore not really usable for any customer project...) and there it is available. I opened an issue in atk4/core...

[2020-04-02 14:31] #1060 closed, assigned to nobody

[2020-04-02 14:32] karakal commented on #1042
Somehow. Right now 2.1 is not installable because of the missing release of atk4/core... There should be no release if dependencies are not met....

[2020-04-02 15:26] mvorisek commented on #1042
@karakal Maybe your tag `2.1.0` was not updated. If you clean all your caches (git & composer), the `atk/ui` should be installable:
![image](https://user-images.githubusercontent.com/2228672/78267223-022dd380-7507-11ea-87ea-acd6c4ed0671.png)
which is the point of my fix. The real 2.1.x release needs to be done by @romaninsh.

[2020-04-02 15:28] mvorisek commented on #978
@PhilippGrashoff Will be made public in #1051

[2020-04-02 17:46] karakal commented on #1042
Yeah, but the problem is, that it loads atk4/core:2.0.1 which is wrong! Because the new ui Version isn't working with atk4/core:2.0.1....
So the dependency in the release is wrong set....

![grafik](https://user-images.githubusercontent.com/2448293/78281184-948ba280-751a-11ea-918a-f990f3b0714f.png)

[2020-04-02 18:13] mvorisek commented on #1042
Delete everything and reinstall, the `View` should like:
![image](https://user-images.githubusercontent.com/2228672/78283608-51cbc980-751e-11ea-9af8-ed3e90df9900.png)
there is no that trait usage on line 27. Composer can not handle changed tags. You need to delete the vendor folder fully and also the local caches.

[2020-04-02 18:32] karakal commented on #1042
I always deleted the vendor file. So, to describe what I did:
I created a new empty folder. copied my created classes in there, created a new composer.json

`{
    "require": {
        "atk4/ui": "2.1.0-alpha1",
        "atk4/login": "^2.0",
        "atk4/filestore": "^0.1.0"
    }
}`

Then I did a composer clearcache and then a composer install.

This is the output:
`C:\tools\xampp\htdocs\atk4>co

[2020-04-02 18:37] mvorisek commented on #1042
@karakal Why not to use `2.0.4` before proper 2.1,x release is made?

[2020-04-02 18:38] karakal commented on #1042
Because 2.1 WAS released and there is a lot of functionality that is either broken in 2.0.4 or non existing.
WHY release a version that can't be installed correctly?

[2020-04-02 18:40] mvorisek commented on #1042
Sure, it will get released. I just hotfixed it solely make this repo installable without specifing version (which for some reasons does currently not work for you and I do not know/have the time to further debug it).

[2020-04-03 07:40] mvorisek commented on #1044
Issue needs to be reevaluated once Fomatic UI is upgraded - related with PR #1058

[2020-04-03 08:05] mvorisek commented on #1025
This is not enougt as the linked resources usually load/link fonts and other resources - see for ex. FUI css https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css (and search for `.woff`)

[2020-04-03 11:04] nocelab opened #1061 "CRUD with multiple values Dropdown field"
I would like to store multiple selection from Dropdown into a single field using a CRUD model. I've tried with string, array and json type but seems to not be implemented.
How can I do this?

[2020-04-03 13:43] ibelar commented on #1061
Something like this should work. By setting the ui['form'] key when adding field to your model.

By setting another model to the DropDown input:
[code]
or using array with values:
[code]

[2020-04-03 16:05] nocelab commented on #1061
with TEXT type field (mysql) I got:
![image](https://user-images.githubusercontent.com/9341832/78381431-a3835b00-75d5-11ea-992f-108650f941f9.png)

[2020-04-03 16:22] nocelab commented on #1061
I don't understand what MyModel means... model based on Dropdown class?

[2020-04-03 16:40] mvorisek opened #1062 "Remove src/misc directory"
See https://github.com/atk4/ui/tree/develop/src/misc

Can we refactor the `misc/ModelProxy` to `ModelProxy`?

Is the `proxy` word explaining good enought what this model does? See usages, used only on few placed when there is no `Model` given and checked only on one place if it can be saved - I am sure we can check this differently so maybe we can remove the `misc/ModelProxy` class completely.

[2020-04-03 16:45] #978 closed

[2020-04-03 16:45] #1040 closed, assigned to ibelar

[2020-04-03 16:45] #1050 closed, assigned to nobody

[2020-04-03 16:45] #1059 closed, assigned to nobody

[2020-04-03 16:54] mvorisek opened #1063 "https://master.osa.agiletoolkit.org:port GH webhook is not working"
![image](https://user-images.githubusercontent.com/2228672/78385575-59ea3e80-75dc-11ea-81aa-b86bfe7c232f.png)

not sure for what it is, but it is red

[2020-04-03 18:02] ibelar commented on #1061
My bad. Values should be in DropDown seed.
[code]

When you set a Model with a DropDown field, it will load value from the model instead of manually entering them. MyModel was just a sample name.

[2020-04-03 21:31] nocelab commented on #1061
nooo... that's amazing... it works!!!
![image](https://user-images.githubusercontent.com/9341832/78406499-0808df00-7603-11ea-904b-bed68d55469e.png)
![image](https://user-images.githubusercontent.com/9341832/78406533-19ea8200-7603-11ea-9097-c89e729c8218.png)
Thanks!!!

[2020-04-03 21:31] #1061 closed, assigned to nobody

[2020-04-04 12:19] mkrecek234 opened #1068 "Grid configuration for overload=auto and limit column content max width"
If you put in a „ribbon“ tag to the first column in a row, the outer part of the ribbon is missing. This works well with a table, but not with a grid.

Furthermore, the drop down arrows for quick filtering in the top header row are aligned left to the column name (and not right as in other tools like Excel etc.).

see https://media.discordapp.net/attachments/664569505950990382/695625749641691196/u

[2020-04-05 14:19] mvorisek opened #1069 "Each phpunit test takes about 600 ms"
There are about 370 tests and phpunit takes 220 seconds, which equals to about 600 ms per test.

Analyse why the tests are so slow. Is that due webserver based on built-in php webserver?

Each basic atk4 ui response should not take longer than 60 ms.

[2020-04-06 17:02] DarkSide666 commented on #1069
I guess it's because it rebuilds some environment on each test, but not sure. It's just a wild guess. Maybe some caching could help with that.

[2020-04-06 22:26] mvorisek opened #1071 "Coverage can not be turned of for local/maual tests"
`--no-coverage` option of phpunit is not honored. Some coverage helpers are currently hardcoded in test files.

Important for quick local testing and to be able to run tests without xdebug.

[2020-04-07 23:20] mvorisek opened #1074 "Remove SSE class"
SSE class seems to be obsolete and it is not even tested. What is the purpose of it?

There is very similar jsSSE class which is used in demos and tested.

If SSE has no special puspose, remove it.

[2020-04-08 11:31] mvorisek opened #1077 "Wizard - previous steps are not clickable"
![image](https://user-images.githubusercontent.com/2228672/78779447-47398600-799d-11ea-804a-466dd9414c68.png)

[2020-04-08 13:32] DarkSide666 commented on #1077
It's not always desirable. Probably it should be configurable.

[2020-04-08 13:36] mvorisek commented on #1077
@DarkSide666 Of course, but as long as "Previous" button is active/clickable it should be desireable :)

[2020-04-08 14:33] DarkSide666 commented on #1042
@karakal Should be fixed now by releasing core 2.0.2 https://github.com/atk4/core/releases/tag/2.0.2

[2020-04-08 15:15] karakal commented on #1042
Yeah. Version 2.1.0-alpha1 is playing nicely with atk4/core:2.0.2!

[2020-04-08 15:15] #1042 closed, assigned to romaninsh

[2020-04-08 15:20] karakal opened #1079 "Problem with decorator in CRUD"
I have a model with a few classed with fields that have the type date.

[code]

When I use that class in a CRUD and I try to add a decorator it ends in a really awful exception:
![grafik](https://user-images.githubusercontent.com/2448293/78801460-06516980-79bd-11ea-923f-da5ebb262c0e.png)

Even if the decorator is used on another field:
[code]

When I don't use the decorator everything is fine..

T

[2020-04-08 15:32] DarkSide666 commented on #1079
Issue: Model field value should be cast to string.
Possible solution: use Field->toString() method before setting value of template tag.

[2020-04-08 16:18] karakal commented on #1079
Sorry, what should I do?

[2020-04-08 16:57] PhilippGrashoff commented on #1079
nothing at the moment it seems. There might be a bug that instead of string the field object is passed to Template->set() which causes this exception. The problem is in TableColumn/Link.php in line 149.

[2020-04-08 17:29] abbadon1334 commented on #1069
i rewrite the unit testing via builtin webserver, because few times we see stupid bugs only after merge, running tests on demos raises our confidence on testing.
I search everywhere and found only that way to use the builtin webserver to test with `exit()` and without, if you know another one feel free to post and let's discuss it.
If i remember correctly the problem is the `exit()` function.

[2020-04-08 17:55] mvorisek commented on #1069
@abbadon1334 The tests with and without callExit are great! But single test currently takes way more than it should. Maybe the coverage driver is slowing it down which can not be currently turned of - see https://github.com/atk4/ui/issues/1071 . Not sure if the test time will by cut in half with coverage removed, but as long as the coverage is reported only from one version, it makes sense to be d

[2020-04-08 18:16] karakal commented on #1079
I had a look at it again because all the Mastercrud Views were working just fine. So I looked into the Sourcecode of Mastercrud.

If you change
`$crud->addDecorator('Person',['Link', 'befaehigungen.php?fahrer_id={$id}']);`
to
`$crud->addDecorator('Person', ['Link', ['befaehigungen'], ['fahrer_id'=>'id']]);`
it is working again...

[2020-04-08 18:58] DarkSide666 commented on #1079
Ah yes, but how is that related to `type=date` ?

[2020-04-08 19:07] karakal commented on #1079
How should I know? I just found the bug, provided you with the information I could gather from my application.

If I have in my class a field with the type date and use the decorator like I used to use it before, I get an exception. When I remove all instances of fields with type date, the decorator works again.

When I use the decorator in the second way, I can have fields with type date in my mo

[2020-04-08 19:16] #1074 closed, assigned to romaninsh, ibelar

[2020-04-08 19:27] karakal opened #1080 "Problem with traversing references"
I use atk4/ui:2.0.1-alpha1, atk4/core:2.0.2, atk4/data:2.0.2

Since I updated to this version of ui and core the traversing of References of type hasOne doesn't work anymore.

I have a class in my model like that:
`class Arbeitsmittel extends WEModel
{
    public $table = 'arbeitsmittel';
    public $id_field = 'id';
    public $caption = 'Arbeitsmittel';
    public $title_field = 'bezeichnung';

[2020-04-08 19:44] DarkSide666 commented on #1080
I can't imagine any possibility when `ref()` could return `int`eger.

What this command returns?
`var_dump($arbeitsmittel->getRef('Standort')->getModel())`

[2020-04-08 19:48] DarkSide666 commented on #1080
Oh I see. You have to get newest atk4/data release 2.0.3.
I made one today.

[2020-04-08 22:21] nocelab opened #1081 "Custom CRUD add/edit form"
I would like to have a different form for edit CRUD rows.
I saw old (<= 1.7.1) `formDefault` property... what is equivalent in new version (>= 2.0.0)?
I didn't find any indication in docs and demo

[2020-04-09 13:29] ibelar commented on #1081
For now, you need to extend ActionExecutor\UserAction class in UI and override method
 `UserAction::addFormTo(View $view)`

This method passe the Modal view and you can add your own form to it.
You would also need to set this new executor class to the model action on which you need this form.

For example, you want to use this new form on edit action:
`$m-getAction('edit')->ui['executor'] = MyExec

[2020-04-09 19:10] abbadon1334 commented on #1069
I think we have 2 options :

1. Implementing PSR7 and PSR17. We can remove many $_GET/$_POST/$_SERVER and get it from a single static object Persistence\Request like Persistence\UI
In ATK we have an entry point which is usually App::run and an exit point which is terminate and output. Probably it will be much more easy to move from a file routing to a true routing and we can test it much easier wi

[2020-04-09 20:35] mvorisek commented on #1069
Evaluation with mature webserver like Apache needs to be done. We can very easily capture all request URLs and test the total time externally.

The coverage has likely some degree of impact, see:
- https://phpunit.readthedocs.io/en/9.0/code-coverage-analysis.html#speeding-up-code-coverage-with-xdebug
- https://medium.com/@nicocabot/speed-up-phpunit-code-coverage-analysis-4e35345b3dad
and if so, it

[2020-04-09 21:44] nocelab commented on #1081
Thank you... very difficult for me guess it!

I saw demos/crud.php and now I understand the sample, but my need is to apply a form class based on a model (with fields organized in groups/columns). With this form class:

[code]
I want to use it in edit mode. I tried `addFormTo` with no success... documentation doesn't help too much

[2020-04-11 12:52] TheNetworkIsDown opened #1086 "Delete button disappears from table following refresh after delete"
The table declaration is pretty straight-forward

[code]

This is how it looks initially

![image](https://user-images.githubusercontent.com/277893/79043417-5ae42700-7bff-11ea-80ba-268ba7d19e5c.png)

When I click on Delete, after confirmation, the entry is deleted, and the table is reloaded. However the reloaded table no longer contains the Delete column.

![image](https://user-images.githubuserco

[2020-04-11 16:22] ibelar commented on #1081
I see. Then this should work.

1- Setup your form class in your custom action executor via the form property.
[code]
2 -  Pass this executor to your edit action.
[code]
3 - setup Crud
[code]

## Other option

If you need to setup all your model action using the same executor, then you can forget step 2 and setup your CRUD like below, doing so will use your form for all model action that require th

[2020-04-11 18:10] ibelar commented on #1068
@mkrecek234 - this is normal behaviour.

Because table in grid are place within a div that use .atk-overflow-auto class. This means that the div holding the table use overflow property, thus, hiding extra ribbon content.

Since overflow is important in our case because it allow to scroll overflow content in a grid, it will not be changed.

You can manually change or alter css by setting overflow p

[2020-04-11 18:21] mkrecek234 commented on #1068
Hi Alan,

Thank you for the explanation. Is there a reason why grid then uses overflow auto by default and table not? Thank you,
Michael

[2020-04-11 20:53] ibelar commented on #1068
Well, in fact, it is the table container that uses the overflow property, not the table itself.
I think it was created this way so when Crud (grid) uses a lot of columns, you can still reach the edit and delete button by scrolling the container.

[2020-04-11 21:28] nocelab commented on #1081
ok... now more clear!
I write this sample (myCrud.php runnable in atk4ui\demos path):

[code]

but I have this error:

`Error: Class 'atk4\ui\MyForm' not found (in C:\temp\xampp\htdocs\atk4ui\vendor\atk4\core\src\FactoryTrait.php:153)`

I'm trying somethig like `myCrud\MyForm::class` without success

[2020-04-12 22:50] DarkSide666 commented on #1081
Try `public $form = '\' . MyForm::class;` in `MyExecutor` class

[2020-04-13 20:50] nocelab commented on #1081
with **double** backslash... it works!!!

`public $form = '\\'.MyForm::class;`

I finally have my custom form apply to CRUD:

![image](https://user-images.githubusercontent.com/9341832/79159278-0f38a580-7dd8-11ea-91b2-cd4d19022faa.png)

... now I analyze why field captions aren't shown in group section... or perhaps I have to use Column (put in line several fields)

[2020-04-13 21:27] DarkSide666 commented on #1081
That's as expected - field captions will not show in group section.
Try using columns

[2020-04-14 10:50] #904 closed

[2020-04-14 11:27] mvorisek commented on #967
@ibelar Do you think this can be easily fixed?

[2020-04-14 11:38] nocelab commented on #1081
why group in demos/form.php have captions?

![image](https://user-images.githubusercontent.com/9341832/79225138-93347100-7e5c-11ea-802e-187d168af21a.png)

...because are not based on Model?

[2020-04-14 13:26] ibelar commented on #967
@mvorisek - Did you test recently? I might has been fix in latest js package release 1.12.4 and up by using latest corejs version 3. Can not test it on my side...

[2020-04-14 14:08] mvorisek commented on #967
The issue is still presented, here is a console log after https://ui3.agiletoolkit.org/demos/crud.php load and after clicking on "Add Country":

![image](https://user-images.githubusercontent.com/2228672/79234039-f547a300-7e69-11ea-8efd-883fc1d78b5e.png)

[2020-04-14 19:53] mkrecek234 opened #1091 "DropDownCascade with error"
Line 98 has to be 'set value' instead of 'change values', otherwise the default value is not properly shown... @mvorisek @ibelar

        if (!$this->cascadeInput->model->loaded()) {
            $this->js(true)->dropdown('change value', $this->getNewValues($this->cascadeInputValue));
        }

[2020-04-14 20:09] DarkSide666 commented on #1081
hmmm... maybe.

[2020-04-14 21:09] #967 closed

[2020-04-14 22:56] mvorisek opened #1093 "Does demos/crud3.php really need a database (include database.php)?"

[2020-04-15 16:42] #1093 closed, assigned to nobody

[2020-04-15 20:38] nocelab commented on #1081
finally result using `Columns`

![image](https://user-images.githubusercontent.com/9341832/79385538-0c20ef00-7f69-11ea-9786-482d8606e9c2.png)

[Here](https://gist.github.com/nocelab/ba2c8b1925f87043168b9efaabdf3eff) the complete sample

[2020-04-15 20:41] nocelab commented on #1081
I will open a ticket for this... thanks!

[2020-04-15 20:41] #1081 closed, assigned to nobody

[2020-04-16 11:49] PhilippGrashoff opened #1107 "call to non existing method addJsSearch() in demo/jssearch.php"
in /demos/jssearch.php there is a call to a method addJsSearch(). However, this method does not exist for Grid, nor was I able to find it anywhere else in atk4/ui repo. Seems addQuickSearch() was meant instead.

[2020-04-16 12:01] mvorisek opened #1108 "Disable wget verbose in tests"
Example: https://travis-ci.org/github/atk4/ui/jobs/675692696#L230

Important to be able to compare test outputs quickly.

[2020-04-16 19:09] #1091 closed, assigned to ibelar

[2020-04-16 22:39] georgehristov opened #1110 "App::addStyle content is encoded with htmlentities"
When using `App::addStyle` symbols in css like `>` are converted to `&gt;`

This is caused by using `App::getTag` to create the style tag where `htmlentities` is used to encode tag content.

https://github.com/atk4/ui/blob/6cdd0112509b794302f12ab5427f2a856e9452da/src/App.php#L931

[2020-04-18 09:48] ghena opened #1113 "Error: Call to undefined method atk4\ui\Form::addTo()"
Using simple example I get this error:
Call to undefined method atk4\ui\Form::addTo()

the class atk4\ui\Form has not a addTo method.
Maybe docs is not updated ?
Please let me know.
Regards.
[code]

[2020-04-19 15:42] DarkSide666 commented on #1113
You have to grab latest versions from github and then it should work fine.
Which versions are you using? What's in your composer.json file?

[2020-04-20 06:46] ghena commented on #1113
2.0 version.

I just executed composer installation with 7.2.1 php version.

Which is the latest version?

[2020-04-20 07:31] PhilippGrashoff commented on #1113
In most repositories its 2.0.2. You definitely need atk4/core 2.0.2 to use `::addTo()`. Its a replacement for `->add()`. If you are not in yet, feel free to join our discord channel: https://discord.gg/JSeEGm

[2020-04-20 17:29] ghena commented on #1113
It's very strange:

https://github.com/atk4/ui/blob/develop/src/Form.php

has not "addTo" or "add" method:

So I dont understand.

[2020-04-21 07:38] nocelab opened #1117 "Html tags in field"
How can I render html tags in CRUD column saved in a table field? I tried `Template `class:

`$crud->addDecorator("html_field", ['Template', '<b>{$html_field}</b>']`

but it renders only `<b>` outside the field and not its content

[2020-04-21 09:39] DarkSide666 commented on #1113
It's it `/atk4/core/StaticAddToTrait` trait.

[2020-04-21 09:44] DarkSide666 commented on #1117
This should do the trick.
Please show how you define your data model and how to associate it with your CRUD.

[2020-04-21 10:59] nocelab commented on #1117
field in Model definition:

` $this->addField('html_field');`

and this is CRUD:

[code]

assuming field value is `"<code>Test Html</code>"`... this is the output:

![image](https://user-images.githubusercontent.com/9341832/79858281-75708a00-83cf-11ea-91ee-7b26d55f4908.png)

only `<b>` are rendered

[2020-04-21 11:09] DarkSide666 commented on #1117
Ah I see - thing is that value is always html encoded and that's why it do not render as HTML `<code>` tags.
You can try to use `Text` decorator instead of `Template`.

[2020-04-21 12:16] PhilippGrashoff commented on #1117
Hi, there is an open issue with a working solution for it: https://github.com/atk4/ui/issues/875
I just didnt turn that into a PR yet

[2020-04-21 12:38] nocelab commented on #1117
with:
`$c->addDecorator("field_html", ["Text", '<b>{$field_html}</b>']);`

I got:
`ErrorException: Invalid argument supplied for foreach()`

[2020-04-21 16:41] nocelab commented on #1117
Wow... now I have:

![image](https://user-images.githubusercontent.com/9341832/79890219-76b9ab00-83ff-11ea-84e5-e55e6d6b7066.png)

... thank you very much!!!

[2020-04-21 18:49] #1110 closed, assigned to DarkSide666

[2020-04-21 20:18] DarkSide666 commented on #875
Not really. Then it will break table header row markup.

[2020-04-21 20:19] DarkSide666 commented on #1117
Will be added in main UI repo soon - https://github.com/atk4/ui/pull/1121.

[2020-04-21 20:33] #1117 closed, assigned to nobody

[2020-04-21 21:13] #875 closed

[2020-04-22 23:03] TheNetworkIsDown commented on #140
Is there a simple solution for this in the meantime?
ATK is cool for some reason. However I'm always getting stuck with the simplest of things after a few minutes. Sorry for "venting" here but it's not really user- and especially not beginner-friendly if you're stuck all the time and the best examples you find (even if it doesn't do what you like) are the unit tests in the code :( That probably sc

[2020-04-23 10:25] PhilippGrashoff opened #1126 "Add possibility to change Number formatting of Number Field"
Hi, I want to add the ability to change the thousands seperator in Money FormField. e.g. in Germany, its a `.`. PHP standard is a `,`.
PHP's number_format takes 2 or 4 parameters, with four both thousands seperator and decimal point:
https://www.php.net/manual/en/function.number-format.php

I think as there are already the properties `currency` and `currency_decimals` in Persistence/UI, its best t

[2020-04-24 09:46] mkrecek234 commented on #1068
I see. The action column should also be set to reduce the remaining columns width, and not make the table scrollable as with table, don't you think? And have the action buttons be set in a separate row if the width of the screen is too narrow. Minor stuff, but seemed inconsistent to me between table  and grid/CRUD behaviour.  Instead of scrolling for the action column, everything should shrink and

[2020-04-24 09:48] mkrecek234 opened #1129 "Admin layout with wrong footer stickyness"
Current version positions the "Made with Agile Toolkit" footer on the bottom, but keeps it anchored at that page position when scrolling

![image](https://user-images.githubusercontent.com/28671486/80199408-8f091000-8621-11ea-8cc0-d30bd4786d13.png)

[2020-04-24 11:01] DarkSide666 commented on #1126
If we're talking about how to extend customization abilities of Persistence/UI then yes, it could work like that.
BUT to be honest I would like to see all these localization/internationalization properties implemented somehow differently. Maybe by using something from our localization branch (not sure in what stage it is now)?

[2020-04-24 11:04] DarkSide666 commented on #140
I suffered with this also years ago when I was starting to dive in Agile Toolkit libraries :)
Nowadays i think it's much better, but still such cases can happen and should be addressed.

[2020-04-24 11:38] PhilippGrashoff commented on #1126
100% right. I always think of Persistence/UI of something that can be removed someday :)

[2020-04-24 12:40] mkrecek234 commented on #1129
I think I could resolve it with a CSS change removing the height of the footer:

`  .ui.visible.left.sidebar ~ .atk-mainContainer,
  .ui.visible.left.sidebar ~ footer.atk-footer {
    height: unset;
  }`

[2020-04-24 13:29] mkrecek234 commented on #1068
On the second point I still would vote for the drop-down arrows in the column header line to be right-adjusted (I think as they were before), that looked better and more to other UI standards like in Excel to me. Just personal opinion.

[2020-04-24 14:03] georgehristov commented on #1068
Dropdown arrows are on the left as they refer to filtering of columns. The sort order indication is on the right.
Big discussion here https://github.com/atk4/ui/issues/554

[2020-04-24 14:58] ibelar commented on #1129
We probably do not need this css height rule anymore, since the last change. I will check.

[2020-04-24 15:52] mkrecek234 commented on #1068
Thank you, I'm fine either way, just talking from a Excel business user perspective. Here there is a joint drop-down arrow for both sorting and filtering.

[2020-04-25 09:10] mvorisek opened #1132 "Deduplicate typecasting code using `atk4/data`"
This is a feature request to deduplicate all typecasting/normalization to code to one place - `atk4/data`.

Currently the typecasting/normalization is coded twice or even 4 times (for save/restore, for ex. datetime) and all versions behaves slightly different.

[2020-04-25 17:27] #1129 closed, assigned to ibelar

[2020-04-25 18:44] mvorisek opened #1134 "Any special names should use constants"
Any special names like `add` in `Model->getAction('add')` should use not the special name directly, but it should be put in the owning class as a public constant and this constant should be used with that class name everywhere where needed.

[2020-04-25 22:01] mvorisek commented on #1069
The main slowdown is the coverage generated for each webserver phpunit test request - see https://github.com/atk4/ui/runs/618627747#step:11:15 , related PR cut the test times of non-latest php version 10 times (from 4 minutes to 25 seconds).

[2020-04-25 23:30] mvorisek commented on #1056
@romaninsh Please fix asap

[2020-04-26 09:36] georgehristov commented on #1132
We are working on the new Field setup that should streamline typecasting/normalization

[2020-04-26 10:26] mvorisek opened #1136 "Proper etago escaping in style/script"
Currently there is crazy code like:
`$this->encodeHTML(strip_tags($value));`
which seems to be not usefull at all - stripping tags is something totally different than escaping.
Example from https://github.com/atk4/ui/pull/1111

The right solution for script/css element bodies is to escape "etago" tags, see:
- https://mathiasbynens.be/notes/etago
- https://www.man42.net/blog/2016/12/safely-escape-u

[2020-04-26 15:11] acicovic commented on #72
Fixed by https://github.com/atk4/ui/pull/1120

Closing this. Feel free to reopen if needed.

[2020-04-26 15:11] #72 closed

[2020-04-26 15:13] acicovic commented on #241
Is this still relevant?

[2020-04-26 15:17] acicovic commented on #858
@karakal so, has the issue been resolved?

[2020-04-26 15:19] acicovic commented on #1080
@karakal has the issue been resolved?

[2020-04-26 15:44] acicovic commented on #1044
Does anybody know if there's a link to the respective fomantic issue so we can track this more easily?

[2020-04-26 18:12] DarkSide666 commented on #1136
Oh I made a bug there.
It supposed to be like this:
[code]

Will that be OK?

[2020-04-26 18:43] mvorisek commented on #1136
It still look not good to me - `$encodeValue` should always imply no encoding at all, no strip tags. See my PR https://github.com/atk4/ui/pull/1137 with proposed fix.

[2020-04-26 18:49] mvorisek opened #1138 "Move everything related with demo deploy to demos/"
- /atk4-ui-helm/
- /.codefresh/
- /Dockerfile
- /.dockerignore

Important for better overview in the root directory.

What is the `/Makefile` file for, where it is used?

[2020-04-27 04:11] hdisk13 commented on #1113
I'm also having this same problem with the Quickstart example.

Error: Call to undefined method atk4\ui\HelloWorld::addTo() (in /var/www/html/agile_ui/index.php:7)

When I ran composer (new tool for me) - this is my output:

[root@robo agile_ui]# composer require atk4/ui
Do not run Composer as root/super user! See https://getcomposer.org/root for details
Using version ^2.0 for atk4/ui
./composer.j

[2020-04-27 06:53] PhilippGrashoff commented on #1113
Hi @hdisk13,
we are having some new people to ATK having this problem, I want to look into it today and try if I can reproduce the problem. Meanwhile, you can use `->add()`, like `$app->add('HelloWorld');`. ::addTo() is a replacement for it, but somehow there seems to be some trouble.

[2020-04-27 08:57] mkrecek234 commented on #1068
Just a last thought on this, as grids are a central part of each app:
Why can't we just make it more versatile and configurable:
1) Allow to set maxwidth sizes for columns (CSS) - and eventually maxchars for each column (to prevent line-breaks/cut off too long text).
2) Let programmer decide in the grid model if vertical scrolling (overload=auto) is active or not?

[2020-04-27 11:38] DarkSide666 commented on #1113
[code]

Now creating index.php file in web root like this:
[code]

And get error:
[code]

[2020-04-27 11:43] DarkSide666 commented on #1113
Issue happens because in current UI release (2.0.4) there is no `trait StaticAddToTrait` added in View class.

Quick solution:
- use `composer require atk4/develop`
- or use `add()` instead of `addTo` in your code like this:
`$form = $app->add(new \atk4\ui\Form());`

Proper solution - create new UI release 2.0.5.

[2020-04-27 12:18] DarkSide666 commented on #1126
Maybe not removed, but I don't feel that any Persistence should be somehow related to localization/internationalization. Persistence is about storing data (even if in session or cache) and you store pure data not localized. There should be something else in the middle which does this l16/i18 job.

[2020-04-27 12:23] DarkSide666 commented on #241
I don't think so because we're to deep into Fomantic and `atk4/ui` is using only Fomantic.
If somebody someday will want to create atk4/ui port to Bootstrap then it's fine, but I don't see reason why keep such _feature request_ open here.

[2020-04-27 12:23] #241 closed

[2020-04-27 21:53] mvorisek opened #1141 "Coverage is almost destroyed by PR "Reorganize demos file""
see https://github.com/atk4/ui/pull/1139

[2020-04-28 07:36] #1141 closed, assigned to ibelar

[2020-04-28 15:45] mvorisek opened #1144 "Move Codefresh deploy pipeline to Github Actions"

[2020-04-28 15:45] mvorisek commented on #1144
Solve after https://github.com/atk4/ui/pull/1128

[2020-04-28 19:24] #1071 closed, assigned to nobody

[2020-04-28 19:24] #1108 closed, assigned to nobody

[2020-04-29 11:21] karakal opened #1147 "Check for required=true for float is not correct"
I have the following problem:
I have a field defined in my model:
`$this->addField('min',['caption'=>'Min-Wert','type'=>'float','required'=>'true']);`

When I try to input 0 in my UI, I get the following error:
![grafik](https://user-images.githubusercontent.com/2448293/80589941-60bd7300-8a1b-11ea-9deb-53425f5a95ca.png)

But 0 IS NOT Null, so the check is wrong.

I am using atk4/ui:2.1.0-alpha1

[2020-04-29 13:51] mvorisek commented on #1147
@karakal You must use `mandatory`, see docs https://agile-ui.readthedocs.io/en/latest/form.html#mandatory-and-required-fields

[2020-04-29 13:51] #1147 closed, assigned to nobody

[2020-04-29 17:58] ibelar opened #1150 "Some Exception are not display at all"
Throwing an exception early in a file is not displayed to user.

Using any of the demo file,
Simply throwing an exception:

[code]

or making a mistake:

[code]

[2020-04-29 19:04] mvorisek commented on #1150
When I was developing this PR https://github.com/atk4/ui/pull/1065/files about a month ago I did not notice any issues.

It app fully initialized before? Otherwise there is no handler installed and Atk can not catch it of course.

[2020-04-29 19:09] ibelar commented on #1150
Yes, App is initialized. Just take any demo file and throw an exception and nothing is shown.

[2020-04-29 19:34] #1150 closed, assigned to mvorisek

[2020-05-01 16:59] mvorisek opened #1156 "Fix admin left menu styling"
Currently the left menu has some unlogical look & feel:

1. HEADER POSITION / UNIFY DIVIDERS
notice the 1px line between the top menu and the bottom/left menu. This is because the left menu has position 47 px from top instead of 48 px enforced by PR https://github.com/atk4/ui/pull/1151

The top menu has nice horizontal separators:
![image](https://user-images.githubusercontent.com/2228672/80823460

[2020-05-01 17:41] mvorisek commented on #1156
@ibelar wdyt? I am not a CSS/SUI guru and actually never want to be... Is there a better solution for the 3rd/display unset property?

[2020-05-01 21:20] mvorisek opened #1159 "Put all element states in central page datastore"
Important to be able to reload everything without loosing any state using Vue/React.

[2020-05-02 09:10] bedengler opened #1161 "On click in grid error: "Callback requested, but never reached.""
My model:
[code]

When I call a grid with a "Test" button, I'm getting the error, that the callback is missing.
[code]

When clicking the test button on the grid, I'm getting the error: "!! ATK4 UI ERROR: Callback requested, but never reached. You may be missing some arguments in request URL. !! "

I compared it to the demo file where it is working and tried to implement the Lock trait etc. but th

[2020-05-02 10:25] bedengler commented on #1161
Very strange thing that I found out now:
when I remove the

`if(isset($_REQUEST['sub'])) {`

it works. But keeping it, breaks it...

WTF?

[2020-05-02 12:01] TheNetworkIsDown commented on #1086
I would like to add that it only seems to happen if the table containing the "Delete" column is located inside a view which is loaded into the current page, like

[code]

**Expected behavior:** Everything should just work whether it is loaded directly into the app, or a view, or a modal, or a modal inside a modal or whatever the layer.

[2020-05-02 12:06] DarkSide666 commented on #1161
Why you need this `if` statement? What's the purpose of it?

[2020-05-02 12:59] TheNetworkIsDown opened #1163 ""View Source" in Agile UI Demo v2.1.0 is not working"
For example, clicking "View Source" on https://ui.agiletoolkit.org/demos/form.php sends me to https://github.com/atk4/ui/blob/develop/demos/form.php,  which results in a "page not found".

As a sidenote: It would be great if it was possible to open the source in a different window/tab.

[2020-05-02 13:01] bedengler commented on #1161
I'm loading content or setting filters (in tables and views) depending of the submitted variables (e.g. user clicks a link and I'd like to submit a value through this link to my app).
I'm feeling like the only person needing that.
So there must be another approach of achieving the same.
What is the best practice for that purpose?

I also opened a gist: https://gist.github.com/bedengler/36775f2f964

[2020-05-02 13:04] DarkSide666 commented on #1163
Demo files was reorganized, so need to fix this too accordingly

[2020-05-02 13:04] bedengler commented on #1161
Example: www.myapp.com/?showme=pictureTable
This could for example show a grid where you just see entries with pictures.

[2020-05-02 13:07] DarkSide666 commented on #1161
Ah I see.
Try setting this argument as sticky so it's not lost in callbacks.
`$this->app->stickyGet('showme');`

[2020-05-02 13:57] ibelar commented on #1163
Because v2.1 still point to develop and demos file where reorganize there. It will be ok when we issue the next release.

[2020-05-02 14:06] bedengler commented on #1161
Ok, that did the trick.
My final code looks like this now:
[code]
I just added "$app->stickyGet('sub');" before calling $_GET

[2020-05-02 14:12] #1156 closed, assigned to ibelar

[2020-05-02 14:32] DarkSide666 commented on #1086
@NotAProfessionalDeveloper please re-test this with latest UI dev branch.
Probably this is also fixed by #1155

[2020-05-02 15:13] #1161 closed, assigned to nobody

[2020-05-02 16:41] TheNetworkIsDown opened #1164 "Order of object declarations has repercussions on javascript callback"
The following works:
[code]

Whereas this does not work:
[code]

Note the only thing that changes between the two is the order of declaration:
1) table first
2) vp+form first

"Does not work" here means: Instead of reloading the table, submitting the form seems to reload the modal. First the form's success message shortly pops up and then an empty form is displayed inside a modal.

Like that it is

[2020-05-02 16:58] DarkSide666 commented on #1164
Not sure if it's related to your issue, but better use model object clones for setModel() otherwise you add **same** model object ($m) for table and for form and this can lead to some strange behavior.

[2020-05-02 17:00] bedengler opened #1165 "How to link an image properly?"
How do I link an image?
`$logoLeft = atk4\ui\Image::addTo($leftmenu, ['images/mebLogo.gif']); `
should link to index.php

`$logoLeft = atk4\ui\Image::addTo($leftmenu, ['images/mebLogo.gif'])->link("index.php");`
doesn't work

`$logoLeft = atk4\ui\Image::addTo($leftmenu, [$rootdir.'html_public/MAM/images/mebLogo.gif'])->on('click', new \atk4\ui\jsExpression('document.location="'.$rootdir.'html_publ

[2020-05-02 17:01] bedengler opened #1166 "How to assign a custom id to a menu item?"
How can I assign an id to this, when adding it to e.g. the top menu:
`$leftmenu->addItem(['Menu item', 'icon'=>'money']);`

[2020-05-02 17:02] TheNetworkIsDown commented on #1164
Thanks for the advice!

I've tried the following as a variant of non-working case 2 but it doesn't change anything
[code]

[2020-05-02 18:54] ibelar commented on #1164
As of now, this behavior is normal and it all has to do on how elements are rendered.

Here is what happening when you ask for table reload in solution # 2 when saving form:

The virtual page is added to the app before the table;
 - This means that the VirtualPage is rendered first in the render tree,
 - Then, the VirtualPage set function is called while rendering;
 - Since the virtual page callba

[2020-05-03 06:47] bedengler commented on #1166
Workaround: I'm giving it an individual class.
`$menu->addItem(['Menu item', 'icon'=>'money', 'veryindividual']`

Maybe we can add a 4th argument which defines an alternative ID!?
`$menu->addItem(['Menu item', 'icon'=>'money', null, 'veryindividual']`

Or does this break some other menu logic (js etc.)?

[2020-05-03 07:08] bedengler opened #1169 "Spacer?"
Is there a function to add a spacer in the ui?
E.g.
`Spacer:addTo($app, '40');`
...results in a full width div with a height of 40px...

Otherwise I'd suggesting implementing it.

[2020-05-03 07:16] bedengler commented on #1138
I don't see Dockerfile and .dockerignore.

What about
- .codeclimate.yml
- .php_cs.dist
- .travis.yml
- behat-travis.yml
- codecov.yml
- phpunit.xml.dist

The contain partially data like "localhost:8888" etc. which seems to be removable.

[2020-05-03 07:21] bedengler commented on #1166
Found the solution:
`$menu->addItem(['Menu item', 'icon'=>'money', 'id'=>'veryindividual']);`

A class can be given additionally by calling:
`$menu->addItem(['Menu item', 'icon'=>'money', 'individualclass', 'id'=>'veryindividual']);`

[2020-05-03 07:21] #1166 closed, assigned to nobody

[2020-05-03 08:33] mvorisek commented on #1138
Already move by me to /demos, other files you mention are probably needed (ex. `behat-travis.yml`), but it should be stay as it is used for /features and some oter files (.travis.yml, etc.).

[2020-05-03 13:35] TheNetworkIsDown commented on #1164
Hmm, I must admit I don't exactly understand why reloading $table would instead try to reload $vp. Did I do something wrong here? Is using a Virtualpage maybe the wrong approach?

I am not referencing $vp for the reload, I specifically ask $table to be reloaded. So that is exactly what I am expecting to happen...

[2020-05-03 15:52] ibelar commented on #1164
Understand that, and there is nothing wrong about that. It is just the way the framework is built and how VirtualPage and reload work. You add View to your app, then when all is added, the rendering process starts for each View, using the order in which they where added. While rendering, if a reload is catch, the rendering process stops and only render what was asked to be reloaded. But since Virt

[2020-05-03 22:40] TheNetworkIsDown opened #1171 "Manual layout demo is malfunctioning"
At https://ui.agiletoolkit.org/demos/layouts.php, "Manual layout"  returns:
[code]

[2020-05-03 22:55] TheNetworkIsDown commented on #1171
The same seems to happen at https://ui.agiletoolkit.org/demos/table.php and also https://ui.agiletoolkit.org/demos/tablecolumnmenu.php

[2020-05-04 22:33] romaninsh commented on #858
old / stale.

[2020-05-04 22:33] #858 closed

[2020-05-04 22:39] romaninsh commented on #890
SQL is for storing structured data and storing files in SQL is bad practice, I've seen cases when that was done and it's not fun to deal with once the database is bloated up.

We support "filestore" implementation in ATK - where meta-data is stored in SQL while files themselves are uploaded into a persistent data storage.

Said that - ATK is persistence agnostic, so Blob as a file type does make s

[2020-05-04 22:39] #890 closed

[2020-05-04 22:43] romaninsh commented on #940
@ibelar if we move it into a separate repository - it would take a lot of effort to sync it up with the right releases, don't you think?

[2020-05-04 22:45] mvorisek commented on #940
solved by https://github.com/atk4/ui/pull/1162

[2020-05-04 22:45] romaninsh commented on #989
`instanceof \atk4\ui\View` is a good ol' way to check.

I do not see how ATK would benefit from this suggestion, but I can see lot of issues with this change.

[2020-05-04 22:45] #989 closed

[2020-05-04 22:47] mvorisek commented on #989
But you can not then enforce this type as request type for any render tree item. Makes sense so?

[2020-05-04 22:50] mvorisek commented on #890
Makes sense where ACIDity is an requirement?

Databases like MSSQL are optimized for this usecase, even MySQL stores BLOB/TEXT values outside main table.

[2020-05-04 22:54] ibelar commented on #940
We could use jsDeliver on an npm package. It would require an url and that's it. So instead of pointing to our public repo, we point it to the npm package cdn delivery.
Then, we would have full control on the js package and make build there and release as we wish. It would run independently of ui release, same way as we include Fomantic.

[2020-05-04 22:59] mvorisek commented on #940
@ibelar what are the negatives of https://github.com/atk4/ui/pull/1162 ?

As you have mentioned yesterday jsDeliver is caching the files.

My proposed solution is instant and allow maximal comfort also for local changes (you just rebuild the files locally and change the cdn path to the local one).

[2020-05-05 00:07] romaninsh commented on #1063
Removed, thanks for spotting.

[2020-05-05 00:07] #1063 closed, assigned to romaninsh

[2020-05-05 00:08] romaninsh commented on #1045
Do you mean - it's not bundled in ZIP file?

[2020-05-05 00:09] romaninsh commented on #1044
I have just tested most up-to-date Fomantic release and the issue is still there. 2.8.4

I'll create a separate issue for this.

[2020-05-05 01:19] romaninsh opened #1175 "DEMO to use SQLite"
ATK's support of sqlite has improved. It is also bundled in PHP.

It would be great to run ATK demo with SQLite by default. SQLite file should also be created by demos/Dockerfile.

This would eliminate need for DSN environment variable and we could run demo just with:

[code]

[2020-05-05 01:21] #1138 closed, assigned to romaninsh

[2020-05-05 01:21] #1163 closed, assigned to nobody

[2020-05-05 01:21] #1171 closed, assigned to nobody

[2020-05-05 06:54] mvorisek commented on #1045
Also in tagged releases, without non-minified version/map debugging is not that easy.

[2020-05-05 08:10] mvorisek commented on #1063
@romaninsh I see I can not add labels in this repo now, did you changed it? I would kindly ask you to go thru https://github.com/atk4/ui/pull/1162 history and double check to what I reacted, For ex. you have stated that the compiled files are not part of the repo, but they were etc. You might be not aware of it, ok, let's go over it, but please try to understand it from both sides.

[2020-05-05 08:27] romaninsh commented on #1063
@mvorisek you should have that now. I'll send you details no the upcoming ATK meeting too.

[2020-05-05 08:42] romaninsh commented on #1159
How would that work?

even I used reload() of the form to drop field values,

[2020-05-05 08:45] romaninsh commented on #1134
This was consideration at some point. (probably few years ago) - should we use constants or literals. We decided to keep literals, however with the state of IDEs situation may be different now. Something we could reconsider.

[2020-05-05 08:50] mvorisek commented on #1159
Simple. All states (like form field) are mapped to a datastore. So when you reload the component then, the state can is used and nothing is lost. Like React does it. Magical for PHP programmers :D

The goal of this is to reduce JS to minimum all move as much as possible to PHP.

[2020-05-05 08:55] mvorisek commented on #1134
@romaninsh May I know the reason?

[2020-05-05 20:39] DarkSide666 commented on #1169
I don't see usefulness of such view.
You can add empty View (div) already with something like `View::addTo($app)->setAttr('height','40px')`.
Do we need special view subclass for this - I doubt.

[2020-05-05 20:49] DarkSide666 commented on #1134
@mvorisek I guess it was because of simplicity. It's simpler to write:
`$model->getAction('add')`
than
`$model->getAction(Model::ACTION_ADD)`
:)

[2020-05-06 07:41] bedengler commented on #1169
Thanks,
I'm trying to have some spacers in the left menu ("Admin" layout) between items.

If I'm using this line
`\atk4\ui\View::addTo($app->layout->menu)->setAttr('height','80px');`
nothing happens.

I've also tried applying that within the body content with something like this:
`\atk4\ui\View::addTo($app)->setAttr('height','80px');
$col = $app->add(new \atk4\ui\Columns());
$v = $col->addColumn(6

[2020-05-06 08:03] bedengler commented on #1169
I have investigated further.
Adding juts the line
```\atk4\ui\View::addTo($app->layout->menu)->setAttr('height','80px');```
does nothing. It even doesn't render the div.

Adding
[code]

shows something, but it results in
```<div id="atk_admin_view" class="  " style="" height="380px"><h2>Blablabla</h2></div>```

Even removing the "px" doesn't do the trick (which is reasonable as the attribute in a

[2020-05-06 20:59] acicovic commented on #1080
Closing this due to inactivity. Feel free to reopen this if needed.

[2020-05-06 20:59] #1080 closed, assigned to karakal

[2020-05-07 16:57] DarkSide666 commented on #1169
Some time ago there was method `addDivider` in menu. Not sure if we still have it.

[2020-05-08 10:55] georgehristov commented on #794
I would propose using `$form->inputs` instead of `$form->fields` to clearly differentiate.

[2020-05-08 19:59] mkrecek234 opened #1184 "$grid->addColumn('name',['Link', 'url' => 'url.php?tid={id}']) prevents to use 'date' column"
To reproduce:
grid with two columns, e.g. `name` and `duedate`; where `duedate` is defined as `'type'=>'date'` in model

Then create a grid:
if you `$grid->addColumn('name')` all works, if you `$grid->addColumn('name',['Link', 'url' => 'ticket.php?action=edit&tid={id}'])` it throws this error:
[code]
in template.
If remove the `'type'=>'date'` for `duedate` in the model, the grid works again...

[2020-05-08 20:02] DarkSide666 commented on #794
Not `inputs`. Better `getFormField()` as synonym for forms `getField()`, but do not remove `getField` method too, because it's quite straightforward and I do not see reason to remove it and introduce another backward incompatibility issue.

[2020-05-09 10:56] domainoverflow commented on #1113
I was able to bypass this problem by doing
composer require atk4/ui:@dev
AND composer require atk4/ui:@dev

But this created a new problem in other atk4 related modules. In my case atk4/invoices is now broken. Any ideas ? thanks !

[2020-05-09 14:25] TheNetworkIsDown commented on #1086
~~Tested with dev-master downloaded today. No change.~~

~~Funny thing is: After item deletion (which reloads the table with "Delete" button missing) and then using my "Add" modal to again add an item (which also reloads the table), then the Delete button reappears.~~

**UPDATE** Uh wait a sec, compser "dev-master" version (3fdbd86cca) seems to be the same as "2.1.0-alpha1" (and not "develop"). Ho

[2020-05-11 11:59] DarkSide666 commented on #1086
`dev-master` should be equal to last released version.

You should test on `dev-develop` branch.

[2020-05-11 12:05] DarkSide666 commented on #1113
Well, `atk4/invoices` most likely is not yet compatible with new features of `atk4/ui`.
But other (main) repos should be.

[2020-05-11 12:41] domainoverflow commented on #1113
Well, it's broken.

________________________________
From: Imants Horsts <notifications@github.com>
Sent: May 11, 2020 12:05 PM
To: atk4/ui <ui@noreply.github.com>
Cc: DomainOverflow.com <sabrahao@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [atk4/ui] Error: Call to undefined method atk4\ui\Form::addTo() (#1113)

Well, atk4/invoices most likely is not yet compatible with new fea

[2020-05-11 15:04] DarkSide666 commented on #1113
Commited some compatibility fixed in atk4/invoices. Check out. There is still issue with actions, but other things looks like work again.

[2020-05-14 13:28] #1184 closed, assigned to nobody

[2020-05-14 13:30] mkrecek234 commented on #1184
By the way, also the $grid->addFilterColumn(); does not work anymore if I add a name decorator as above - it throws the error "Error : Call to a member function addPopup() on array" on Grid.php:473

[2020-05-14 13:32] #1136 closed, assigned to mvorisek

[2020-05-14 13:33] DarkSide666 commented on #1184
@mkrecek234 please create new github issue for this or provide PR.

[2020-05-14 13:37] mkrecek234 commented on #1184
OK, will do.

[2020-05-14 13:39] mkrecek234 opened #1188 "Decorated grid column prevents use of addFilterColumn()"
If you are decorating a grid column with
`$grid->addDecorator('name', ['Link', ['ticket'], ['tid' => 'id']]);`
the Filter column does not work anymore:
`$grid->addFilterColumn();`

throws the error "Error : Call to a member function addPopup() on array" on Grid.php:473

[2020-05-14 13:54] romaninsh opened #1189 "Implement compatibility branches and patch releases"
As agreed on the maintainer meeting, we should be able to create version-specific branches:

 - 2.0
 - 1.7
 - 1.6

The branch would need to be created every time we do a release.

 - [ ] Need Github workflow allowing us to create new release from a versioned branch.
 - [ ] We need to protect release branches (so that they are not deleted)

[2020-05-14 14:16] mvorisek commented on #1189
I think the branches should be named like `2.0.x` and presented only until they are supported (but keep all release tags of course).

Managing large amount of branches is time expensive - at least I can not do that - so I propose keeping the branch count to minimum or maybe even version only major versions. So I prefer only `develop` (latest major version) and `1.x` (all previous major versions, i

[2020-05-14 21:53] mvorisek opened #1191 "Add history support"
this is a feature request

http://blog.cergis.com/posts/11/html5-history-api

usecases:
- allow to navigace been pages without state change and flashing
- allow to reload/add/modify some element with back/forward history support

[2020-05-14 22:14] mvorisek commented on #1191
low priority

[2020-05-14 22:30] mvorisek opened #1192 "Parse/replace text templates"
Current templates are text based and they can not be easily modified/transformed in the app.

Parse them into tree of View objects or replace the text templates with php code.

needed for https://github.com/atk4/ui/issues/1159

[2020-05-15 11:08] mvorisek commented on #1169
Closing as solution like `View::addTo($app)->setAttr('height','40px')` or maybe with `setStyle` is fully covering this usecase.

[2020-05-15 11:08] #1169 closed, assigned to nobody

[2020-05-15 11:10] mvorisek commented on #1175
It should be already possible - set DSN to sqllite , see https://github.com/atk4/ui/blob/160be0e6976ff3480d8eba7eddf6d683a4ff9d67/demos/Dockerfile#L37

Or - and I prefer it - fallback to sqlite by default if DSN env. var is set, help wanted.

[2020-05-15 11:15] mvorisek commented on #1165
Better to use forum for these questions.

If I understand correctly, you want to add a link/anchor to the images - so exactly like in html, wrap the image with `<a>`, so in Atk firstly create a link/anchor and then add the image to it.

[2020-05-15 11:15] #1165 closed, assigned to nobody

[2020-05-15 11:17] mvorisek commented on #1164
Closing as explained/solved by @ibelar. If something needs to be changed, describe exactly what and propose a good solution.

[2020-05-15 11:17] #1164 closed, assigned to nobody

[2020-05-15 12:42] mvorisek commented on #925
Closing, fully solved by exception renderers from core with unrestricted/`\Throwable` catch in `App`.

[2020-05-15 12:42] #925 closed

[2020-05-15 12:45] mvorisek commented on #1068
@mkrecek234 Update the title and mark the issue in the printscreen to make it clear at the first sight.

[2020-05-15 16:35] #921 closed

[2020-05-15 19:05] bedengler commented on #1169
`View::addTo($app)->setAttr('height','40px')` doesn't do the job as mentioned above! Please review my last post and test it yourself.

[2020-05-15 19:48] DarkSide666 commented on #1169
Yes. You should use css (style) instead.
So use `setStyle()` method instead of `setAttr()`

[2020-05-15 22:38] mvorisek opened #1195 "Do not use array access to access Model data"
related with PR https://github.com/atk4/data/pull/591

must be fixed in any case asap

should be also tested in CI

[2020-05-16 09:41] mvorisek opened #1197 "Lister does use undefined property "current_row""
https://github.com/atk4/ui/blob/3fd37f0bee0d43f01e9eccb41e96b9dc3466d5ca/src/Lister.php#L139

Either define it properly or do not use it at all.

[2020-05-16 09:42] mvorisek commented on #1197
ping @DarkSide666 @ibelar

[2020-05-16 09:48] mvorisek opened #1198 "Render text exception before HTML"
HTML is hard to read, render exception in plain text before HTML

[2020-05-16 09:49] mvorisek commented on #1198
Wrong repo, should be in core...

[2020-05-16 09:49] #1198 closed, assigned to nobody

[2020-05-16 10:53] mvorisek opened #1199 "Add some NS to demos"
Otherwise some absolute type names are without the leading slash.

And then probably mass import ui and data root namespaces. And rerun fixer.

[2020-05-16 10:54] mvorisek commented on #1199
@DarkSide666 @ibelar Propose NS for demos you want, it will never be used for autoload, at least not now, so it should not matter that much...

[2020-05-16 13:59] DarkSide666 commented on #1197
It can be used in `beforeRow` hook. I think it should stay there.
For example https://github.com/atk4/ui/pull/1196/files#diff-8a7518699f45ce47a7f72cb7eaf73ca0R15

[2020-05-16 14:00] DarkSide666 commented on #1199
.../Demo :D

[2020-05-16 14:25] mvorisek commented on #1199
so like tests?

[2020-05-16 14:35] mvorisek commented on #1197
It should stay there, the issue should stay too and need another answer :)

[2020-05-16 14:42] DarkSide666 commented on #1197
You mean - need to add current_id and current_row definitions in Lister class? If so, then yes of course.

[2020-05-16 14:48] mvorisek commented on #1197
Yes, I do not know the logic there, so only reporting it...

`current_id` and `current_row` - the first one is probably a duplicate of the first one, (cloned) row should be enough

[2020-05-16 15:07] DarkSide666 commented on #1197
Let's just add definitions for both in Lister class.

[2020-05-16 15:07] DarkSide666 commented on #1199
namespace /atk4/whatever/demo;

[2020-05-16 15:55] #1195 closed, assigned to mvorisek

[2020-05-18 07:36] mvorisek commented on #1079
@karakal can you update your description full (but short as possible!) steps/code to reproduce it?

[2020-05-18 07:41] mvorisek commented on #1113
Closing, `::addTo()` is fully supported in atk4/ui, in add-on repos it may require some fixes due stricter checks. Any issue need to be reported to the problematic add-on repo.

[2020-05-18 07:41] #1113 closed, assigned to DarkSide666

[2020-05-19 11:58] romaninsh opened #1206 "Trigger ui.agiletoolkit.org rebuild by dependencies (e.g. atk4/data)"
Codefresh -> UI site build should be trigerable by updates into atk4/data , atk4/core, etc (develop branch) - and the corresponding tags should also be injected into the Composer. This would allow us to automatically re-deploy ui.agiletoolkit.org even after changes in dependencies and be able to see impact.

[2020-05-19 13:03] #1062 closed, assigned to nobody

[2020-05-19 13:54] abbadon1334 opened #1209 "Demos Table2.php issue"
Table current_row is now an array : https://github.com/atk4/ui/blob/0652ab852a40a89f8a49a1806b51fba063854842/src/Table.php#L491

in demos/table2.php is used as a model
https://github.com/atk4/ui/blob/0652ab852a40a89f8a49a1806b51fba063854842/demos/collection/table2.php#L28

[2020-05-19 19:34] PhilippGrashoff opened #1210 "Wizard does not declare but use buttonFinish property"
Could someone add the property `buttonFinish` to Wizard class? Its used in Wizard, but not declared as a property. Thanks!

[2020-05-19 21:35] mvorisek commented on #1209
@abbadon1334 @DarkSide666 issue introduced by me in 2e95ade56bc55c3c9dfea93d7479ceb8d052b432

but I already opened a bug report for it 4 days ago - https://github.com/atk4/ui/issues/1197

exactly this happen where there is no doc...

[2020-05-22 11:45] PhilippGrashoff opened #1214 "Remove _triggerBy property from View"
The property `_triggerBy` is not used anywhere in any atk4 repo: https://github.com/search?q=org%3Aatk4+_triggerBy&type=Code

If its never used, lets remove it.

[2020-05-29 17:44] lubber-de commented on #1044
I proposed a quick solution in Fomantic by adding a new option which, if disabled, will skip the autodetection of an active tab, so the old behavior will be used.
https://github.com/fomantic/Fomantic-UI/issues/1255#issuecomment-636092402

[2020-05-29 18:33] lubber-de commented on #1044
Fixed in Fomantic UI by https://github.com/fomantic/Fomantic-UI/pull/1488
See your adjusted jsfiddle which now uses `autoTabActivation:false` https://jsfiddle.net/z632cfq5/1/

[2020-06-01 03:24] hdisk13 commented on #1113
I think 'composer' is the problem on this thread.  Maybe what is packaged in the packagist repository is out dated.

When I follow the tutorial in the documentation - after running
# composer require atk4/ui

I receive a 'composer.json' that appears to contain version 2.0 (not 2.0.2 that is apparently required for any of the documentation to work)

{
     "require": {
         "atk4/ui": "^2.0"

[2020-06-01 14:09] DarkSide666 commented on #1113
i think `^2.0` means any 2.0.x version, but not 2.1.x

[2020-06-01 14:22] mvorisek commented on #1113
https://getcomposer.org/doc/articles/versions.md#caret-version-range- `^2.0` matches all 2.x versions

[2020-06-01 19:49] #1188 closed, assigned to nobody

[2020-06-02 17:28] #1199 closed, assigned to mvorisek

[2020-06-03 09:50] mvorisek opened #1233 "Expand left menu for demos by default"
For better UX, at least I find it better and also almost every major UI framework has left menu expanded.

[2020-06-03 12:28] mkrecek234 opened #1235 "Very minor improvement for Maestro CSS"
The top-level menu item is missing a blue part stretching to the right.
The Expandable menu items are displayed correctly stretched to the right:
![image](https://user-images.githubusercontent.com/28671486/83636469-52c4ba00-a5a6-11ea-8790-efbdd0ea4525.png)

See here:
![image](https://user-images.githubusercontent.com/28671486/83636517-640dc680-a5a6-11ea-8cf3-f1c4b0c35454.png)

[2020-06-03 15:49] mvorisek opened #1236 "Remove get_class(new class(... from demos"
Handy solution compatible with CS fixer, but not refactorable, so the classes should be put in separate files.

I think it is also possible to add one class before which will be renamed to the filename and another class names will remain. Extremely ugly, but it is a solution for CS fixer.

Different settings of CS fixer may be possible, but I do not know (I did not done any research) if it is poss

[2020-06-05 12:06] mvorisek opened #1244 "Create DockerFile for Behat tests"
to be able to run Behat tests locally

and then migrate Behat tests from Travis to GithubAction using the new DockerFile

[2020-06-06 15:24] #992 closed

[2020-06-06 15:24] #1044 closed, assigned to romaninsh, ibelar

[2020-06-07 10:08] mvorisek opened #1250 "Pretify html - pug rendered with missing enters"
![image](https://user-images.githubusercontent.com/2228672/83965944-9aee2000-a8b7-11ea-8dd9-0a4884e41c23.png)

[2020-06-07 13:12] mvorisek commented on #1069
Reopening this. I think we should add an option to quickly test without the full solution with internal webserver. This can be probably also default locally, but full testing like now should be kept in GH testing - currently there is no way to call `exit()` in php multiple times.

The total testing time locally should be below 5 seconds.

[2020-06-07 13:16] mvorisek commented on #1069
We should probably fake the HTTP client for this require the target files directly with some help with modified global variables (`$_GET`, ...) and `App`.

[2020-06-08 22:19] mvorisek opened #1253 "Cannot use object of type class@anonymous as array"
steps to replicate:
1. clone ui, composer install
2. open ui/demos/form/form2.php
3. fill the lower one form and set "Name" to "test"
4. submit

![image](https://user-images.githubusercontent.com/2228672/84085901-e226fe80-a9e6-11ea-9d39-51f73bd4d816.png)

[2020-06-08 22:24] mvorisek opened #1254 "Value was changed, "Some Street,\nGarden City..."
steps to replicate:
1. clone ui, composer install
2. open ui/demos/form/form3.php
3. click "Use Stat Model"
4. submit with "Save" (do not do any changes)

![image](https://user-images.githubusercontent.com/2228672/84086171-88730400-a9e7-11ea-8588-6b99d04d4f30.png)

[2020-06-08 22:30] mvorisek opened #1255 "Make demo fully editable - restrict to RO only for online demo"
See https://github.com/atk4/ui/pull/1231#issuecomment-640681384 how to detect we are in online demo

[2020-06-08 22:33] mvorisek commented on #1191
Closing, without React/Vue or similar we do not have the full state to use history now. May be reopened later.

[2020-06-08 22:33] #1191 closed, assigned to nobody

[2020-06-08 22:36] mvorisek commented on #1079
Closing as no reaction - if still valid, clone latest ui and describe step by step how to replicate on demos. We can fix issues very quickly.

[2020-06-08 22:36] #1079 closed, assigned to nobody

[2020-06-08 22:38] mvorisek commented on #1086
Closing as no reaction - if still valid, clone latest ui and describe step by step how to replicate on demos. We can fix issues very quickly.

[2020-06-08 22:38] #1086 closed, assigned to TheNetworkIsDown, ibelar

[2020-06-08 22:39] mvorisek commented on #1107
Closing as there is no method called `addJsSearch` - if still valid, clone latest ui and describe step by step how to replicate on demos. We can fix issues very quickly.

[2020-06-08 22:39] #1107 closed, assigned to nobody

[2020-06-08 22:39] mvorisek commented on #1107
Closing as there is no longer method called `addJsSearch` - if still valid, clone latest ui and describe step by step how to replicate on demos. We can fix issues very quickly.

[2020-06-08 22:42] mvorisek commented on #1210
@PhilippGrashoff can you send PR?

[2020-06-08 22:44] mvorisek commented on #973
@PhilippGrashoff should be possible with extra expression column, but of course only as workaround for now

[2020-06-08 22:47] mvorisek commented on #781
@acicovic still valid? can you provide steps to replicate on demos?

[2020-06-08 22:49] mvorisek commented on #449
Closing. @DarkSide666 please retest - and note here if solved, if not, provide tests and enviroment to replicate

[2020-06-08 22:49] #449 closed

[2020-06-08 22:52] mvorisek commented on #451
@PhilippGrashoff please retest and provide a link to a forked demos where replicated, we will fix quicly

[2020-06-08 22:54] mvorisek commented on #101
we should check if ID was accessed or not and render it based on it

regex to find templates with IDs defined in a non standard way: `(?<!data-)id="(?!\{\$_id\}")`

[2020-06-08 22:56] mvorisek commented on #142
@DarkSide666 still valid?

[2020-06-08 22:57] mvorisek commented on #878
how important this is? I think better to implement live server side validation

[2020-06-08 23:00] mvorisek commented on #1028
templates should be redesigned to be parsed into DOM - we can then manupulate the DOM in init as needed then

[2020-06-08 23:02] mvorisek commented on #758
what do you mean guys by "renamed" - update issue desc

[2020-06-08 23:09] mvorisek commented on #827
clean html before like in `App::caughtException`:
https://github.com/atk4/ui/blob/f03023cbff02df654c277a0af25a7b0ea0c31fcb/src/App.php#L264

[2020-06-08 23:09] #827 closed

[2020-06-08 23:14] mvorisek commented on #504
closing, feel free to test with latest version and if needed, fork demos and provide a link to a minimalistic code to what you want and is currently not possible

[2020-06-08 23:14] #504 closed

[2020-06-08 23:20] mvorisek commented on #1009
Closing this, exact steps to replicate on demos must be provided

[2020-06-08 23:20] #1009 closed

[2020-06-08 23:22] mvorisek opened #1256 "Parse all templates to PHP DOM"
and render them at once on the end of the render process

[2020-06-08 23:24] mvorisek commented on #1192
duplicate of https://github.com/atk4/ui/issues/1256

[2020-06-08 23:24] #1192 closed, assigned to nobody

[2020-06-09 10:12] mvorisek opened #1257 "Default SUI/FUI font Lato v1 has issues with non-english characters"
![image](https://user-images.githubusercontent.com/2228672/84135218-023bd980-aa4a-11ea-9cee-686b5e1fc241.png)

non-english characters like `ř` are displayed very differently than the others without diacritics

word like `Řeřicha` should be exactly/pixelly the same as `Rericha` (ignoring the accents)

quite important for Europe when accents are very common

it seems like a Lato does not have a supp

[2020-06-09 10:41] DarkSide666 commented on #878
It's important for UI to show `clients` field only if `all_clients` checkbox is **not** checked.
There are workarounds by adding some JS event listeners, but this way it would be better.
Probably that's more like Fomantic issue (enchancement) not ATK.

[2020-06-09 10:45] mvorisek commented on #878
yes, it will always be limited, only live server side validation can cover all scenarios

[2020-06-09 10:49] mvorisek opened #1258 "CRITICAL: Lookup integer values are rounded again"
fix https://github.com/atk4/ui/pull/1218 is proper

but it does not fix the manual cast needed in `Lookup` ( removed in that PR - https://github.com/atk4/ui/pull/1218/files#diff-d602f517388e9f70d88089beccf908e4L225  )

TODO: investigate why the global JS expr. casting rules did not applied and fix - do not add manual cast - it should be not needed!

[2020-06-09 10:51] mvorisek commented on #1258
I will fix this

[2020-06-09 10:55] mvorisek opened #1259 "Implement (live/onchange) server side rules validation"
Validation rules in JS/SUI are limited - see https://github.com/atk4/ui/issues/878

of course, native JS can be used, but with Atk mindset - to be able to do everything in PHP - live server side rules validation should be possible/implemented

help wanted

[2020-06-09 10:55] mvorisek commented on #878
closed in favor of https://github.com/atk4/ui/issues/1259

[2020-06-09 10:55] #878 closed

[2020-06-09 13:25] acicovic commented on #781
@mvorisek give me some days and I'll get back to you.

[2020-06-09 13:28] ibelar commented on #1257
The only way I know would be to maintain your own custom version of Fomantic themes.
see: http://learnsemantic.com/developing/customizing.html

Or maybe you can address this directly to Fomantic-UI

[2020-06-09 14:09] ibelar commented on #1233
Are you referring to having the left menu visible by default? If so then this is fix by #1217

[2020-06-09 14:20] DarkSide666 commented on #142
@ibelar Can you please check this sometime ?

[2020-06-09 14:21] mvorisek commented on #1233
No, to expand the left menu items on load, so instead of:
![image](https://user-images.githubusercontent.com/2228672/84159346-44c2dd80-aa6d-11ea-9888-cdc4fda6d489.png)
load it as:
![image](https://user-images.githubusercontent.com/2228672/84159387-4db3af00-aa6d-11ea-91e4-a754c4b9adef.png)

the also `ctrl+f` for demo search can be used

[2020-06-09 15:26] ibelar commented on #1233
Sorry but I do not fully agree with you on this one. Having all items expanded will make it more difficult to see which categories a site contains. For demo as an example, it will certainly be bigger than screen size. This mean that you will have to scroll down every time for finding or reaching on lower categories.

Would be even worst on a smaller screen.

[2020-06-09 15:35] DarkSide666 commented on #1233
I tend to agree with @ibelar on this.

[2020-06-09 15:41] #1253 closed, assigned to DarkSide666

[2020-06-09 15:41] #1254 closed, assigned to DarkSide666

[2020-06-09 15:49] mvorisek commented on #1233
I like hard data, but for this one I can only point to other frameworks where it is expanded usually by default. My reason is at least because of easy search as I usually od not know where what is.

Let's wait also for @romaninsh and @abbadon1334 opinion. If they like, let's expand it by default, if not, let's close it.

[2020-06-09 17:12] mvorisek opened #1262 "Update console - use <pre> only for individual output, not the whole output window"
Probably the best solution for https://github.com/atk4/ui/pull/1246/files#diff-3a3d935fdcceedc3fdffce7577d67d13R112

This is feature request to not wrap the whole window within `<pre>` tag, but instead use `<pre>` only for the individual lines.

If it can be fixed differently/better to support font restore within pre, please write.

[2020-06-09 18:09] ibelar commented on #1233
One more thing with this: let say you click on a link at the bottom of the left menu, which you had to scroll down for clicking it. Then when page reload, what do you do? Scrolling the left menu content to the top of the menu to highlight the proper menu item user just clicked? But then you lose what is on top and you have to scroll up again.

The last point, you can always have similar behavior a

[2020-06-09 18:23] mvorisek commented on #1233
I am aware of these downsides.

Shoul be probably solved by adding "expand/collapse all" button and search (seach in menu item name) next to it. Everyone is happy :)

Example:
![image](https://user-images.githubusercontent.com/2228672/84185198-eb6ba600-aa8e-11ea-8d7a-f97dbb05add3.png)

[2020-06-09 21:37] DarkSide666 commented on #1233
Expand/collapse all and Search would be nice, but of course it's just a nice feature nothing more.

[2020-06-10 12:36] #1258 closed, assigned to mvorisek

[2020-06-10 13:30] acicovic commented on #781
Haven't tested this yet but I see no indication that this would be fixed as atk4/data#375 is not merged yet. This is more of a data issue rather than UI, so it could perhaps make sense to open an issue there.

@mvorisek have you tried this and it works for you?

[2020-06-10 15:14] mvorisek commented on #781
@acicovic please provide steps how to reproduce on demos or fork this repo and update it with some minimalistic example. We can then fix it quickly if the issue is on Atk side.

[2020-06-11 11:23] #1197 closed, assigned to nobody

[2020-06-11 11:23] #1209 closed, assigned to DarkSide666

[2020-06-14 09:48] #1235 closed, assigned to ibelar

[2020-06-14 09:57] mvorisek opened #1278 "Output all data strictly thru App in demos"
![image](https://user-images.githubusercontent.com/2228672/84590372-34787d00-ae36-11ea-8d60-ae6409becbb5.png)

[2020-06-15 12:08] mvorisek opened #1283 "Demos - no "Centered Layout""
![image](https://user-images.githubusercontent.com/2228672/84655639-9954d580-af11-11ea-9b4f-69f21f4cca9e.png)

[2020-06-15 16:43] mvorisek opened #1289 "Two paths in demos are absolute"
![image](https://user-images.githubusercontent.com/2228672/84683780-05e2cb00-af38-11ea-96e8-f0492121c5de.png)

need to be fixed to support demos in webserver subdirectory

[2020-06-15 16:45] #1283 closed, assigned to ibelar

[2020-06-15 18:49] georgehristov opened #1290 "Demo fails on Array_ persistence creation"
Is this issue due to changes in Array persistence?

![demo](https://user-images.githubusercontent.com/8128250/84694556-ae4d5b00-af49-11ea-9a85-57173dbad6d2.png)

[2020-06-15 18:58] mvorisek commented on #1290
provide exact steps to reproduce on demos - example report: https://github.com/atk4/ui/issues/1254#issue-634973749

may be related with https://github.com/atk4/data/pull/627 or because the new strict types applied to ui and/or data

[2020-06-15 19:44] mvorisek commented on #1175
it should be easy by dumping the sql data to sqlite db in Dockerfile

[2020-06-15 19:47] mvorisek commented on #1057
we should remove Travis in favour of GH Actions

[2020-06-15 19:47] #1057 closed, assigned to romaninsh

[2020-06-15 20:04] georgehristov commented on #1290
@mvorisek Just follow the demo intro and you will get the errors.
How is it working now for saving the data to the session as Array_ persistence?

[2020-06-15 20:16] mvorisek commented on #1290
see https://github.com/atk4/ui/pull/1205/commits/ff6866a6f9f91fbaed7ff0e90d2bfaaf1d438e07#diff-d51e445eb72461e0ced686727ad8de29R68

[2020-06-15 21:03] georgehristov commented on #1290
This new functionality must be reflected in the docs
https://github.com/atk4/data/blob/develop/docs/persistence.rst

[2020-06-15 21:16] mvorisek commented on #1290
please update it there - all mentions should be complete removed from data - and in ui we support it I think with the Session trait, there is also some Session class in the `demos/_includes/`...

[2020-06-15 22:41] #1290 closed, assigned to georgehristov

[2020-06-16 10:08] mvorisek opened #1295 "Filters should be case insensitive"
demo page: demos/collection/tablefilter.php

![image](https://user-images.githubusercontent.com/2228672/84761707-1a6fa380-afca-11ea-97d5-7df05df482b0.png)

[2020-06-16 13:23] mvorisek commented on #1295
Only Sqlite demo was affected as columns were declared as case sensitive, closing

[2020-06-16 13:23] #1295 closed, assigned to nobody

[2020-06-16 17:37] #1175 closed, assigned to romaninsh

[2020-06-16 21:31] #1022 closed

[2020-06-17 16:53] karakal opened #1300 "AdminLayout is not working anymore with release 2.1"
After upgrading to ui 2.1.0 no applications of mine are working anymore because of a missing function called addToWithCIUnsafe in View.php

![grafik](https://user-images.githubusercontent.com/2448293/84923927-2e99ca80-b0c8-11ea-9051-c266983db3cb.png)

I also tried with a complete new project, I cleared the cache of the composer and still the critical error with the missing function persists.

[2020-06-17 22:42] mvorisek commented on #1300
@romaninsh @DarkSide666 do all other releases as discussed to prevents these issues!

[2020-06-18 10:54] DarkSide666 commented on #1300
All repos will be released in next few days. Still need to push some things in there before releasing.

[2020-06-18 10:56] mvorisek commented on #1300
@DarkSide666 @romaninsh But anyone using it now can not install it. Why not to simply do the releases now and then in a few days again?

[2020-06-18 13:05] karakal commented on #1300
But isn't this an internal problem of the ui-Project? Because Menu, View and Admin-Layout are all classes of ui?

How is this working in the demo?

[2020-06-18 13:06] mvorisek commented on #1300
@karakal no

[2020-06-18 20:30] #1069 closed, assigned to nobody

[2020-06-18 20:30] #1278 closed, assigned to nobody

[2020-06-18 21:00] #1236 closed, assigned to nobody

[2020-06-20 08:28] domainoverflow commented on #1300
Having problems in all my atk4/ui based systems too :-(

[2020-06-20 08:35] mvorisek commented on #1300
Waiting for @romaninsh and @DarkSide666 to release all atk4 repos at once.

You can now require version `<2.0.999` in your `composer.json` file for all atk4 repos to fix this issue immediately.

Locking this conversation as the bug is known.

[2020-06-21 21:26] domainoverflow opened #1306 "<2.0.999 does not fix Call to undefined method atk4\ui\View::addToWithClUnsafe()"
Now I have half-code in 2.1 :-(

using  atk4/ui < 2.0.999 did not help.

Please how can we fix it or is there an actual workaround ?

Thanks for any help !

[2020-06-22 08:27] mvorisek commented on #1306
It helps - if you do it for all `atk4/*` packages.

Or require `dev-develop`.

[2020-06-22 08:27] mvorisek commented on #1306
duplicate of https://github.com/atk4/ui/issues/1300

[2020-06-22 12:06] domainoverflow opened #1307 "2.1 more issues"
The described help in the last two close issues did not help.
The problem is not limited to that error.
After fixing addToWithCIUnsafe - there are more missing stuff ( Form AddToHook ) and then more.
I have 2 systems that contains half code of 2.1 and half not. They are totally broken obviously as I did not expect broken backward comp. code.
While I understand this happens, I do not understand the

[2020-06-22 12:08] romaninsh commented on #1307
could you please link issue in question? are you on discord?

[2020-06-22 12:11] romaninsh commented on #1306
@domainoverflow could you please provide more context on the error?

[2020-06-22 12:12] domainoverflow commented on #1306
sure @romaninsh .. writing now..

[2020-06-22 12:13] domainoverflow commented on #1307
Hi @romaninsh ..
I see #1300 at least ... I have many times asked for a discord invite :-(

[2020-06-22 12:14] #1307 closed, assigned to nobody

[2020-06-22 12:15] mvorisek commented on #1307
duplicate of https://github.com/atk4/ui/issues/1300

[2020-06-22 12:20] domainoverflow commented on #1306
I have 8 systems using atk4. I really like your framework.
After 2.1 - I started writing code using 2.1 .. with 2.1 features.
This led me to a 5 day sprint to fix missing classes everywhere. I mean everywhere.
My issue starts with #1300 .. but I manage to go beyond.
After 1300 ... when extending the class model it fails ( : void )
Then, the Form addToHook is missing.
It feels I am fixing endlessly

[2020-06-22 12:37] mvorisek commented on #1306
@domainoverflow I understand your concerns. I have already very strongy told @romaninsh what to do to fix it.

And also you.

- If you already use some new features, you can require `dev-develop` version, which is basically 1:1 what you will get with the new upcoming releases.
- In past, there was also one alpha release of this ui repo. If you used it, you may distribute & install the deps using c

[2020-06-22 12:40] romaninsh commented on #1300
[edit]

**Thanks for reporting this issue.**

**Yes this was INTERNAL ISSUE of ATK4/UI, our release process for 2.1 managed to scoop some extra PRs that depended on 2.2 features.**

Those have been now reverted and `2.1.2` was released. Simply run `composer update`.

[2020-06-22 12:59] georgehristov commented on #1307
@domainoverflow here is an invite https://discord.gg/7Myv3Y

[2020-06-22 13:06] #1306 closed, assigned to nobody

[2020-06-22 13:14] romaninsh commented on #1300
@domainoverflow I have just released 2.1.1 of atk4/ui to address this. Could you run `composer update` and try again?

[2020-06-22 13:22] domainoverflow commented on #1300
Thanks @romaninsh  - I will try it right now and let you know shortly.

[2020-06-22 13:24] domainoverflow commented on #1300
Also, I did not point fingers. As I said, this is understandable. The only thing I complained was that the issue was closed twice without explanation. I also have offered to help multiple times -never got an answer. I think you guys do a fantastic job and I tried my best not to come across unpolite. Again, I spent a total of 9 days trying to fix it on my own, _**without bothering anyone here**_, s

[2020-06-22 13:26] romaninsh commented on #1300
@domainoverflow oh no - there was nothing wrong from your end! You noticed the issues and reported, thank you for this. I'm looking for some extra issues here:

https://github.com/atk4/ui/commits/release/2.1

Will update you when it looks more or less stable.

[2020-06-22 13:31] romaninsh commented on #1300
@domainoverflow , ok everything seems to be OK now - could you test your code in the evening and close this issue if fixed?

[2020-06-22 13:31] domainoverflow commented on #1300
thanks!!

[2020-06-22 13:32] domainoverflow commented on #1300
ok will try now

[2020-06-22 13:34] romaninsh commented on #1306
Fix in #1300

[2020-06-22 13:45] romaninsh commented on #1206
Trigger has been implemented.

[2020-06-22 13:45] #1206 closed, assigned to nobody

[2020-06-22 14:05] #1300 closed, assigned to romaninsh, DarkSide666

[2020-06-22 14:40] domainoverflow commented on #1300
Ok, @romaninsh , I tried 2.1.1

-PHP Fatal error:  Declaration of User::init() must be compatible with atk4\\data\\Model::init():
Which I fixed by adding :void to init when extending atk4 data model.

Then the next error showed up:

-Error : Class 'atk4\data\Persistence_SQL' not found
Which I fixed by doing:
$this->db = new \atk4\data\Persistence_SQL
TO
$this->db = new \atk4\data\Persistence\SQL

[2020-06-22 15:15] domainoverflow commented on #1300
Results with 2.1.2 @romaninsh ..
Firstly, it could not find 'Centered' nor 'Admin' ( which I fixed by using initLayout(new \atk4\ui\Layout\Centered() and Admin() )
And now I get
Error: Class 'View' not found
![ScreenshotATK4-2-1-2](https://user-images.githubusercontent.com/33677898/85303881-ee3ba300-b45f-11ea-819f-3c20868fe34b.jpg)

For when trying $seg = $app->add(['View', 'ui' => 'segment']);
Vi

[2020-06-22 15:26] ibelar commented on #1300
@domainoverflow - Try using this syntax:

[code]

[2020-06-22 15:31] domainoverflow commented on #1300
Hi @ibelar
Thank You for your help.
Yeah, I see that I could do that .. but my problem is that I have literally hundreds of .phps using that format.
Does that mean 2.1 and over will not support the previous syntax ?
Thanks!!

[2020-06-22 17:11] ibelar commented on #1300
Yes! I know, it is additional work but it is for the better in the long term. You can use these regex pattern, supply by @mvorisek - to help you with the transition.

You will find them here: https://github.com/atk4/ui/pull/1158

[2020-06-22 17:50] domainoverflow commented on #1300
Thanks for letting me know @ibelar ...
It's a lot of additional work in my case as I have lots of dynamic-generated flows but I guess too bad for me. :-(
Merci!
ps: and it doesn't take long to break further. For example, if I replace the 'View' and 'Form' with classes, it goes further but:

-Error : Cannot use object of type atk4\ui\Misc\ProxyModel as array

Is there a document or a list of what h

[2020-06-22 22:06] georgehristov commented on #1300
@domainoverflow the $view->add([View::class]) syntax is still supported but using `addTo` facilitates code completion and refactoring.
The Model array access has been deprecated in benefit of using `Model::get` / `Model::set` methods instead. You can still "activate" array access by using the `ModelArrayAccessTrait` in your models.

BC breaks are listed on top of the change log of the release. See

[2020-06-23 13:19] mvorisek commented on #1056
seems resolved

[2020-06-23 13:19] #1056 closed, assigned to romaninsh

[2020-06-23 18:08] karakal opened #1310 "Console is not outputting anything anymore"
After trying out the new 2.1 releases and patching all the other components (Login, MasterCrud,...) to work again I found out, that Console is not working anymore.

I had a Console in a Wizard and I use the MethodExecutor from MasterCrud.

In both instances the functions will be called from inside the Console as intended, but Console is never outputting anything.
I get a message inside the Javascr

[2020-06-23 18:23] karakal commented on #1300
You also have to check all your access of models like $case['number'] is not working anymore, you have to use $case->get('number') and you can't use $case['number']=5 anymore but $case->set('number',5)

I just have "corrected" all my code for a project, only to realize that somehow Console is broken and not working anymore...

All the plugins (Login, Mastercrud,...) where not checked either... Som

[2020-06-24 15:27] mvorisek opened #1314 "Demo that is unclear what it does"
https://github.com/atk4/ui/blob/develop/demos/form/form.php

![image](https://user-images.githubusercontent.com/2228672/85584794-c145e680-b63f-11ea-8df5-b57bee5cd5a6.png)

then in shows:

![image](https://user-images.githubusercontent.com/2228672/85584846-cd31a880-b63f-11ea-91cc-a065ae7e92aa.png)

the source is very weird

What should this demo do?

[2020-06-25 10:22] mvorisek opened #1316 "Drop form field Line in favor of Input only"

[2020-06-25 10:23] mvorisek commented on #1316
wdyt?

[2020-06-25 10:57] mvorisek opened #1317 "Normalize terminilogy - drop Decorator in advance of Seed"
Atk has unique system of seeds. In current design, the terminilogy is not unified.

Currently:
- sometimes property `...Class` represents seed (wrong - Class suffix must be used if the value is string representing a class name only)
- there are two names for seed - Decorator and Seed

This is a feature request, to rename Decorator to Seed (where used as a seed, ie. it is/can be an array)

[2020-06-25 16:36] mvorisek opened #1319 "Maestro menu does not scale inner items when scrollbar is present"
Example without scrollbar:
![image](https://user-images.githubusercontent.com/2228672/85761027-aabc8f80-b712-11ea-8914-fac7567b8801.png)

Example with scrollbar:
![image](https://user-images.githubusercontent.com/2228672/85761206-d17ac600-b712-11ea-97ee-50acdf58233e.png)

Env: latest develop, Firefox, Windows

Expected result: when scrollbar is present, the icons have the same distance from the ri

[2020-06-26 08:47] humanitiesclinic opened #1321 "Error: Call to undefined method atk4\ui\Form::addTo()"
With this code:

[code]

I am getting:

Error: Call to undefined method atk4\ui\Form::addTo() (in /Users/user/Documents/canla_prods/agileui_test.php:13)
#0 {main}

May I know what I am doing wrong?

[2020-06-26 08:56] humanitiesclinic opened #1322 "Is there a guide on how to use AgileUI components with Agile Data?"
Is there a guide on how to AgileUI components with Agile Data?

For example, on https://agile-ui.readthedocs.io/en/latest/table.html

$table = Table::addTo($app);
$table->setModel(new Order($db));

I do not understand how the class "Order" comes about. There's some reference to Agile Data. So I assume it's got to do with that.

When I open Agile Data's documentation, I am quite lost.

Please, can

[2020-06-26 09:20] georgehristov commented on #1322
Class `Order` in this case extends `\atk4\data\Model`.

You can read on how to implement Model [here](https://agile-data.readthedocs.io/en/develop/model.html#Model::init)
And also check all demos (for instance [here](https://github.com/atk4/ui/blob/develop/demos/_includes/Flyers.php) you have pure model definition and [here](https://github.com/atk4/ui/blob/develop/demos/form/form2.php) at the end

[2020-06-26 10:31] #794 closed

[2020-06-26 10:44] DarkSide666 commented on #1321
1. require should go first
2. in use statement remove leading slash
3. $app->initLayout('Centered'); should be $app->initLayout(\atk4\ui\Layout\Centered::class);
4. show us your composer.json file and use latest versions from develop branch if possible.

[2020-06-26 10:53] DarkSide666 commented on #1310
It returns HTTP 500 error with text:

[code]

[2020-06-26 11:54] domainoverflow commented on #1300
Yes, I am having a hard time too. I still have 5 projects to convert and have bumped into even more stuff ( seed usage has changed, lots of errors using seeds that worked before ) and I was wondering if a thread could be created so we could ask conversion problems ... instead of opening 200 .phps ..  I wonder, is someone willing to take question in order to help everyone out converting their code

[2020-06-26 14:57] humanitiesclinic commented on #1321
I am having 1.7
that's the version composer installs by default
by I saw that now 2.1 is the latest on GitHub. which should be the correct version to use?

[2020-06-26 14:59] humanitiesclinic commented on #1321
this is my composer.json:

[code]
composer.lock:

[code]

[2020-06-26 15:01] humanitiesclinic commented on #1321
I tried to update but nothing is happening:

[code]

[2020-06-26 15:03] humanitiesclinic commented on #1321
I am not sure if the version is the problem in the first place though... I tried changing all that was suggested by @DarkSide666 like so:

[code]

But still having error..

[2020-06-26 15:04] humanitiesclinic commented on #1321
In fact, I have this now as the error:

[code]

[2020-06-26 18:56] mvorisek opened #1327 "Remove "Enviroment" in GH homepage"
see
![image](https://user-images.githubusercontent.com/2228672/85891440-6226d400-b7ef-11ea-851c-f2a662d6de4e.png)

probably some test, but it really cripples the home page

[2020-06-27 14:50] humanitiesclinic commented on #1321
Any one here can help? I literally just downloaded the library via Composer without any customisation, and followed all instructions. And I am getting this... Is it because my PHP version is 7.1.16? I tried to change it to 7.2 onwards by using another PHP binary in another folder and including its path in the PATH of my shell, and then tried to update agileui, but to no avail - it says that there'

[2020-06-28 12:13] DarkSide666 commented on #1321
You should definitely use latest version 2.1.x if you can.
So in composer.json use:
[code]

[2020-07-02 11:38] mkrecek234 opened #1340 "DropDownCascade no longer working"
DropDownCascade even though according to description in DropDownCascade.php is throwing the error:
atk4\ui\Exception: cascadeFrom property should be an instance of atk4\data\Field

[code]

[2020-07-02 11:39] mkrecek234 opened #1341 "Demos not working"
Online demo does not have any items on the left bar.
Local atk4/ui/demos throws an error
[code]

[2020-07-02 12:07] mkrecek234 commented on #1340
Here is what the instructions say:
[code]

[2020-07-02 12:20] mkrecek234 commented on #1340
I just see that there is an error in atk4/ui's code in DropDownCascade.php:46 👍
This returns a control, not a field:
` if (!$this->cascadeInputinstanceof Field) {`

It has to read, then it works:
` if (!$this->cascadeInput->field instanceof Field) {`

[2020-07-02 12:23] mkrecek234 commented on #1340
Please see PR #1342

[2020-07-02 12:23] #1340 closed, assigned to nobody

[2020-07-02 21:20] mvorisek commented on #1341
@mkrecek234 You was faster, thanks, fixing today!

[2020-07-02 21:22] #1341 closed, assigned to nobody

[2020-07-04 22:50] mvorisek opened #1347 "Something is not releasing memory, at least in tests"
patch phpunit like:
![image](https://user-images.githubusercontent.com/2228672/86522151-c97cfd80-be59-11ea-8777-b2fbccb55298.png)

I tested to change it to 5000x and all other repos except this passed - this repo failed with memory exhausted fatal error

[2020-07-05 12:28] mvorisek commented on #1347
the issue is mainly related with `App` which is not GCed as it remains referenced because of `register_shutdown_function` and other global handlers.

example after 5000x runs when fixed:
![image](https://user-images.githubusercontent.com/2228672/86532618-cf132b80-becb-11ea-8822-23fa9b86aad6.png)

[2020-07-05 19:28] #1347 closed, assigned to nobody

[2020-07-06 10:58] romaninsh opened #1350 "Need refactor of release process"
Several things needs to be fully completed.

- [ ] complete https://paper.dropbox.com/doc/ATK-Release-draft-document-BMrbmpLBSRktqOwfqCvzD and take it out of draft
- [x] set dependency based on major/minor level, not only major (e.g. ^2.0.1) for the 2.1 release branch
- [ ] update release actions accondingly (2.2 and into future)

[2020-07-06 13:10] domainoverflow commented on #1300
Thank you @karakal and @georgehristov  ... that was really helpful really ! I'm still struggling but you have shed a huge light on it, I wish these things were part of the latest readthedocs, anyhow thank you for your help and have an excellent week.
I wonder if any of you had success of the plugin components ? ( I am battling filestore, invoice, login and mastercrud ). thanks !

[2020-07-13 16:23] mvorisek commented on #1024
implemented

[2020-07-13 16:23] #1024 closed

[2020-07-14 15:09] mvorisek opened #1365 "CRUD row actions should be rendered per each row (template rerender/reuse)"
If one a row/Model does not permit some action or require a different render like different icon, it is not currently not possible.

This is a feature request to not prerender anything.

slightly related with https://github.com/atk4/data/issues/382

[2020-07-22 21:42] mvorisek opened #1375 "Add 1:N Form Control"
should be implemented using existing Atk components, see Discord:

![image](https://user-images.githubusercontent.com/2228672/88231709-f2ccc480-cc74-11ea-86f7-f06f1680be34.png)

![image](https://user-images.githubusercontent.com/2228672/88231733-f95b3c00-cc74-11ea-9feb-52091035682b.png)

[2020-07-23 15:19] mkrecek234 opened #1376 "Date picker popup style issue"
The date picker is not displayed correctly (see ui.agiletookit.org):
![image](https://user-images.githubusercontent.com/28671486/88304324-679d0e80-cd08-11ea-8c8f-4747ca3738bc.png)

Seen on most recent Safari 14.0 (Beta). Issue also on current official iOS Safari. In Chrome it renders properly.

[2020-07-25 09:07] mvorisek commented on #1376
Compared to FUI demo, the calendar should have padding equal to 0px:
![image](https://user-images.githubusercontent.com/2228672/88453419-fa53bf80-ce66-11ea-9530-bc85e4ac3461.png)

but for some reasons in atk4 this CSS rule is not there...

@mkrecek234 see https://fomantic-ui.com/modules/calendar.html , if you set the padding to 0px on the owning calendar div manually, is this issue gone?

[2020-07-25 13:29] mvorisek opened #1378 "Crud should not close when user clicks outside Modal"
make it even default? (`X` close icon must continue to work on user click)

[2020-07-25 22:24] mvorisek opened #1379 "Upload must support file drop"
how to reproduce:
1. open some demo with Upload control
2. try to move some local file on it - not possible, the input filed is not dropable (the cursor also indicates that)

![image](https://user-images.githubusercontent.com/2228672/88467356-86e99680-ced6-11ea-9f5a-129cffc7c28a.png)

[2020-07-27 11:37] mkrecek234 opened #1382 "Dropdown readonly not working (with isMultiple)"
If you add a Dropdown control with parameter 'readonly'=> true and isMultiple => true, the control cannot be "edited" in terms of selecting additional entries, BUT: you can still click on the 'X' for each entry and remove it.

Solution. Disable the "'X' delete item" functionality if readonly is set to true.

[2020-07-27 13:17] georgehristov commented on #1382
Just tried it by modifying the demo and all appears working as intended?

![demo](https://user-images.githubusercontent.com/8128250/88546141-3e3bf580-d01c-11ea-9653-f70f4297cf0f.png)

[2020-07-27 13:43] mkrecek234 commented on #1382
FYI in "disabled" mode everything is working, but in readonly mode you can still delete single items of a multiple item list

[2020-07-28 08:04] mvorisek commented on #1327
done

![image](https://user-images.githubusercontent.com/2228672/88636805-ad1b5c00-d0b9-11ea-9ee5-9109a57b498c.png)

[2020-07-28 08:04] #1327 closed, assigned to nobody

[2020-07-28 08:34] mkrecek234 commented on #1376
I changed the following to padding: 0 from padding: .833em 1em in .ui.popup of the owning div ui popup calendar and then it works
![image](https://user-images.githubusercontent.com/28671486/88640052-c9b99300-d0bd-11ea-9444-f75f958a322b.png)

[2020-07-30 14:59] mvorisek opened #1385 "Sticky global must apply to self and subtree only"
issues to fix described in already merged https://github.com/atk4/ui/pull/1377

I find out that https://github.com/atk4/ui/pull/1377#discussion_r463019668 issue depends somehow if the field is required or not.

When field is required - CRUD form does reload (/wo error), when not required, form submits as expected.

[2020-08-03 08:16] mkrecek234 commented on #1385
Similar issue here: I have a grid with a ModalAction. The ModalAction does the following: Loading the record=email, if it's an email in the outbox (message_type_id=3) then it's being changed back to "draft" (message_type_id=2) upon opening the modal. HOWEVER, if you submit then the edited email and send it=submit the form (message_type_id=3) an a JSReload($grid) is returned onSubmit, the modal is

[2020-08-03 08:17] mkrecek234 commented on #1385
And another stickyArg issue as noted in atk4/login : https://github.com/atk4/login/issues/41

[2020-08-04 11:52] mvorisek opened #1393 "Disable debouce for testing, or remove it completely"
related with https://github.com/atk4/ui/pull/1392

see https://github.com/atk4/ui/search?q=debounce

[2020-08-04 12:14] mvorisek opened #1394 "Upload component must be tested"

[2020-08-04 12:14] mvorisek opened #1395 "Wizard component must be tested"

[2020-08-05 14:23] mvorisek commented on #451
closing as no reaction

[2020-08-05 14:23] #451 closed

[2020-08-05 15:21] mvorisek commented on #1214
done

[2020-08-05 15:21] #1214 closed, assigned to romaninsh, ibelar, abbadon1334, PhilippGrashoff

[2020-08-05 18:31] PhilippGrashoff commented on #1214
thx!

[2020-08-05 19:23] mkrecek234 commented on #1385
Regarding my comment, this is not a bug after further consideration: As the modal is rendered on grid load, the code is executed, not only on modal open. if you implement it with a dynamically loaded VirtualPage with JsModal, the database update above is handled correctly by ATK4.

[2020-08-05 22:14] mvorisek commented on #1385
So your local issue and I should remove it here, right?

[2020-08-06 11:45] mkrecek234 opened #1399 "onChange for Form\Lookup and Form\Control inconsistent to \atk4\ui\DropDown"
This does not work in Form\Control\Lookup or Form\Control\Dropdown (but it does in \atk4\ui\Dropdown:

[code]

How to do the same in Form\Control\Lookup? I need to use the selected value to search a model and then pre-fill further fields in the form. Thx!

[2020-08-08 09:58] mvorisek opened #1406 "CRITICAL: (ui) tab reloads when opening link to a new (browser) tab"
Steps to reproduce:
1. I am on `/interactive/tabs.php`
2. I press and hold ctrl + click on left menu item (like `Interactive -> Card` item)
3. it should open that item in a new (browser) tab
4. now - notice - that the current (ui/demo) tab (`Default Active Tab`) reloads (notice loader icon for a short time)

expected - no (ui/demo) reload, only a new (browser) tab must open

[2020-08-11 08:50] mvorisek opened #1409 "CRITICAL: when not-complete form is reloaded, the controls does not have html "form" attribute set"
thus they are not associated with the "owning" form then

bug introduced in https://github.com/atk4/ui/pull/1275

[2020-08-11 09:11] #1409 closed, assigned to mvorisek

[2020-08-14 14:26] mkrecek234 opened #1411 "Dropdown/Lookup control not behaving correctly"
I have a Dropdown control based on this configuration:
[code]
If you then click the dropdown arrow and select the first email (of 2), then click OUTSIDE of the control, e.g. to the next input field, it then adds a second email from the dropdown erroneously. Very annoying.

[2020-08-14 15:20] PhilippGrashoff commented on #1411
Hi, could you make a short screencast? Sounds like this is FUI related and not an ATK issue.

[2020-08-15 19:18] acicovic commented on #781
I never tested this and it is unlikely that I will for the time being. If anyone wants to take a go at it, please go ahead.

[2020-08-17 08:45] mkrecek234 commented on #781
It's true that the dropdown or cascadedropdown or lookup does not accept 0 values für type => integer ('must not be null'). So this should be fixed.

[2020-08-17 09:16] mvorisek commented on #781
Please provide step by step test scenario to replicate.

[2020-08-17 23:40] bedengler opened #1414 "PHPUnit tests fail with 97 errors"
I added just minor changes to atk4/ui in this PR: https://github.com/atk4/ui/pull/1413
The automated unit tests produce a lot of identical errors in files that I didn't touch.

Should this be addressed?

Here's an example:
[code]

It says on all errors "atk4\ui\Exception: Demos init must setup only $app variable"

[2020-08-17 23:48] bedengler commented on #1414
I changed init-app.php which seems to affect the test files...

[2020-08-17 23:48] #1414 closed, assigned to nobody

[2020-08-18 08:41] bedengler opened #1415 "Unit tests failing on PR"
In this PR the units tests are failing.
https://github.com/atk4/ui/pull/1397/checks?check_run_id=993657397

I added some documentation and also did a PR. I did change documentation only (although I wanted to change more), but in my PR there are the same errors in the unit tests, although I just added some documentation.
https://github.com/atk4/ui/pull/1413/checks?check_run_id=996002905

My fault?

[2020-08-18 12:31] #1415 closed, assigned to nobody

[2020-08-20 08:34] #1385 closed, assigned to nobody

[2020-08-21 07:19] mvorisek commented on #1394
currently, there is also some image URL issue:
1. open https://ui.agiletoolkit.org/demos/form-control/upload.php
2. logo on the right side of the upload control is present (path `../images/default.png`)
3. when uploaded, logo has bad path (`./images/logo.png`) and thus it is not diplayed

[2020-08-21 07:21] georgehristov opened #1420 "Form\Control\ScopeBuilder Rule on Date Field"
When adding a rule on date field the current date is set as rule value by default in the UI component but not in the resulting JSON.

[2020-08-23 22:02] mvorisek commented on #986
checked, probably no action is needed

[2020-08-23 22:02] #986 closed

[2020-08-25 07:20] #1406 closed, assigned to ibelar

[2020-08-27 21:34] Jmos opened #1431 "https://www.agiletoolkit.org/ is down"
504 Gateway Time-out by nginx

[2020-08-28 17:47] ibelar commented on #1420
@georgehristov - That was the intention to always get the same result from it. I thought that the return value should be format on the server-side. Can you explain what should be done then?

[2020-08-29 07:34] bedengler opened #1434 "Feature request: make \atk4\ui\Form optionally able to load model automagically"
Currently you always have to define a model first that you connect to a form.
This means double of work. Because you have to define the fields you'd like to load first in the model and then you have to define it again in form, if you want to use for example a group.

Current approach:
[code]

This is a lot of overhead. Especially if you need to define many fields. A slightly more effective approac

[2020-08-29 08:52] mvorisek commented on #1431
/cc @romaninsh

[2020-08-29 08:54] mvorisek commented on #1434
just override setModel(), closing

we can reopen if you provide an example code how to modify this lib

[2020-08-29 08:54] #1434 closed, assigned to nobody

[2020-08-29 08:56] mvorisek commented on #1420
@ibelar I belive the issue is, that default field value does not trigger field update, you probably listen on keydown even instead of field change

[2020-08-29 09:27] bedengler commented on #1434
Is this documented anywhere?
How can you override setModel, but use a model in a form (= saving the form data to a certain persistence)?

[2020-08-29 09:32] mvorisek commented on #1434
we use clean code as a documentation, what to do is obvious when you want to process something right after `Form::setModel`

[2020-08-29 09:41] georgehristov commented on #1420
@ibelar to reproduce it you can use the ScopeBuilder demo and add rule on "Start Date" field for example:

![scopebuilder-bug](https://user-images.githubusercontent.com/8128250/91633918-9172e080-e9ec-11ea-99fc-5c372dfecb71.png)

[2020-08-29 14:30] ibelar commented on #1420
Thks - now fix in #1430

[2020-08-30 00:31] bedengler commented on #1434
But you have to process something after setModel if you want to load an entry as there has to be addControls in first place and after that the model has to be loaded.

In addition you have to create a model class, even if you need all fields of a model.

The approach is just not "automagical". I'm working on some code examples...

[2020-08-31 15:52] #1376 closed, assigned to ibelar

[2020-08-31 15:56] #1382 closed, assigned to nobody

[2020-09-01 09:40] bedengler commented on #1431
What's going on, why isn't that fixed? Is it unimportant?
Firstly reported a week ago...would be nice to have clarity or at least to redirect users (temporarily) to Github when calling the domain...

[2020-09-01 15:04] #1393 closed, assigned to ibelar

[2020-09-01 15:04] #1420 closed, assigned to ibelar

[2020-09-07 10:29] rickyosser opened #1437 "https://forum.agiletoolkit.org/ has an old certificate"
Hi!

The forum at https://forum.agiletoolkit.org/ has an old cerficate, this should be fixed.

[2020-09-08 13:04] mvorisek opened #1444 "Behat testing in Github must modify the records"
otherwise issues during actual/DB update are not tested/caught

modify == save, not only simulate save with success response

[2020-09-15 17:38] mvorisek commented on #1437
It expires on 9th Dec 2020

[2020-09-15 17:38] #1437 closed, assigned to romaninsh

[2020-09-27 22:36] rickyosser commented on #1437
Hi,

the certificate is fixed, login is still non-functional. It redirects to https://www4.agiletoolkit.org/dsso which doesn't answer.

Just a heads up!

Best regards
Rickard

[2020-09-27 22:38] rickyosser commented on #1437
Hi,

the certificate is fixed, login is still non-functional. It redirects to https://www4.agiletoolkit.org/dsso which doesn't answer.

Just a heads up!

Best regards
Rickard

[2020-09-27 22:46] rickyosser opened #1459 "$grid->addQuickSearch generates 2 jqueries in certain cases"
Hi,

I've got this strange problem of $grid->addQuickSearch giving me:
Critical Error
atk4\ui\Exception: Callback requested, but never reached. You may be missing some arguments in request URL.

In both cases where this happens the operation sends 2 jqueries to the server. One __atk_reload which seems to be working correctly and one __atk_callback which shouldn't be sent at all.
The 2 cases are em

[2020-09-28 13:32] rickyosser opened #1460 "Can't sign in into https://forum.agiletoolkit.org/"
As I mentioned in #1437 the certificate was wrong woth the forum, now when the cert is fixed there seems to be a follow up problem with the sign in/log in.

http://www4.agiletoolkit.org/dsso?sso=<string> gives:
This site can’t be reachedwww4.agiletoolkit.org refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

[2020-09-28 16:48] PhilippGrashoff commented on #1459
Hi Ricky,

could you provide a code example and maybe some screenshots, especially about the 2 requests?

Thanks!

[2020-09-29 08:21] mkrecek234 opened #1461 "$tabs->addTabUrl not working because of CORS"
As can be seen on https://ui.agiletoolkit.org/demos/interactive/tabs.php, the $tabs->addTabUrl('Any other page', 'https://example.com/'); does not load a page. Also confirmed in own code. The page just stays blank.
Tested on UI 2.2.

[2020-09-29 19:22] karakal opened #1462 "DropDown and Lookup in connection with hasOne is not working in CRUD anymore"
In the newest code in develop (which I need to use...) DropDown and Lookup in a model will not be filled anymore.

I have multiple models with hasOne and in the table everything is fine, but when I try to edit an element, the dropdown or lookup will always return "No results found".

This error is even in the demo visible at https://ui.agiletoolkit.org/demos/collection/actions.php when you try to

[2020-09-29 23:20] rickyosser commented on #1459
Hi Philipp,

Here is the code:

[code]

I've attached example pictures as well, both before and after, check the pages loaded in the debug-network part.

![Screenshot from 2020-09-30 01-13-33](https://user-images.githubusercontent.com/22371262/94626528-8c3ed500-02bb-11eb-8b14-5f395d9da1a4.png)
This is a dummy search, allan is not in the DB.

![Screenshot from 2020-09-30 01-13-18](https://user-imag

[2020-09-30 12:34] ibelar commented on #1459
@rickyosser - Probably because your grid is added to the $form view, thus creating url with a form callback. Is there any specific reason why you need to place your grid inside a form?

[2020-09-30 14:50] rickyosser commented on #1459
Hepp!

No, no reason...
I'll check the code and see if that fixes it. :)

Thanks,
Rickard

[2020-09-30 20:59] rickyosser commented on #1459
Ok, that was it... Don't know why I did it that way.... I've learned something today.

Thanks!

[2020-09-30 20:59] #1459 closed, assigned to nobody

[2020-10-02 13:49] #1399 closed, assigned to nobody

[2020-10-02 15:29] ibelar opened #1467 "WIP - DatePicker consistency"
### Problem:
- Calendar input uses Fomantic-UI calendar in order to display date selection;
- Vue component like QueryBuilder or Multiline uses v-date-picker for date selection because there are no vue equivalent to Fomantic-ui calendar module;

Although Vue v-date-picker is similar in style to Fomantic-Ui module, they are not the same (see image below).
 - it is possible to use date-time format i

[2020-10-02 22:47] Jmos opened #1468 "agiletoolkit.org is down"
Whats the mater?

[2020-10-03 14:30] DarkSide666 commented on #1468
@romaninsh is working on that for some time already :)

[2020-10-04 20:59] mvorisek commented on #1467
what is important - to support also date time input and time input only, both with variable precision ranging from hours to microseconds

[2020-10-05 20:29] ibelar commented on #1462
@karakal - Can you share code on how you defined your model? All seems to be working fine. I think the demo is fine too because hasOne only returns one parent only. @DarkSide666 - can you confirm about file demo data?

[2020-10-06 06:28] DarkSide666 commented on #1461
You can try this workaround for CORS issue and see if it helps:

Instead of `tabs->addTabURL($name, $url, $settings)` you can try to use
[code]

[2020-10-06 07:10] mvorisek commented on #1461
I think this is an issue with the target site, as it does not send required CORS headers.

Is it correct and is there any possible workaround for client/JS?

[2020-10-06 07:12] mvorisek commented on #1468
duplicate of https://github.com/atk4/ui/issues/1431

[2020-10-06 07:12] #1468 closed, assigned to romaninsh

[2020-10-06 08:11] mkrecek234 commented on #1461
@DarkSide666 Tried your workaround, but the page stays blank - the HTML only contains:
<div id="_c3781646___virtualpage" class="  " style=""></div>
<script>jQuery(function() {});</script>

[2020-10-06 10:45] Jmos commented on #1468
But still not working

[2020-10-06 10:46] mvorisek commented on #1468
what is your usecase on that site?

[2020-10-06 13:02] karakal commented on #1462
@ibelar
All of my hasOne are defined as follows:
`$this->hasOne('Unit', [
            'model' => '<path>\Unit',
            'our_field' => 'unit_id',
            'their_field' => 'id',
            'caption' => 'Unit',
            'required' => true
        ])->withTitle();`

This works out as correctly displayed in the overview:
![grafik](https://user-images.githubusercontent.com/2448293/95204484-

[2020-10-06 14:33] mkrecek234 commented on #1462
Hi @karakal I had similar strange effects with dropdowns not working - just because the installed PHP version was too old. Upgrade to 7.3 or 7.4 and some mysterious effects might be gone immediately.

[2020-10-06 19:09] DarkSide666 commented on #1462
There surely is some issue (or issues) here with hasOne and dropdowns.
Also model addTitle() added expression field don't load values. Maybe that's because of that.

Will work more on that tomorrow https://github.com/atk4/ui/pull/1477

[2020-10-16 12:21] DarkSide666 commented on #1461
@mkrecek234 This is how it should look like. It works. Of course it will break all page styling etc. because it's not loaded in isolated DOM (like iframe).

[code]

[2020-10-16 12:28] mvorisek commented on #1461
what you can do is proxy that page with php and return required headers

[2020-10-16 12:28] #1461 closed, assigned to ibelar

[2020-10-18 19:22] acicovic opened #1482 "Localization status"
Hello there,

A few localization PRs have been merged in ATK UI, but I'm unsure of its localization status. Is this complete? Are there any guidelines or documentation on how to translate?

Thanks!

[2020-10-18 19:31] acicovic commented on #1460
I can confirm this. @romaninsh are you in charge of the site or is it someone else?

[2020-10-19 10:53] acicovic commented on #1482
@abbadon1334 I am mentioning you here since you are the one who most probably knows best about this.

[2020-10-26 14:53] DarkSide666 commented on #1462
I think it's fixed now.

[2020-10-26 20:30] mvorisek opened #1511 "Demo bug - owner already set"
1. open `demos/basic/view.php`
2. click `Show $plane in a dialog`

![image](https://user-images.githubusercontent.com/2228672/97225078-6a5d4300-17d2-11eb-8c0e-b40540e81dbb.png)

[2020-10-28 14:18] rickyosser opened #1514 "[Critical Error][BUG] IPP Bug in https://ui.agiletoolkit.org/demos/collection/grid.php"
Hi!

Try changing the IPP dropdown on the page...

you get the following error:

Critical Error
TypeError: Argument 1 passed to atk4\data\Model::setLimit() must be of the type int or null, string given, called in src/Grid.php on line 659

[2020-10-28 15:34] mvorisek commented on #1514
fix will be merged shortly, thanks!

[2020-10-28 15:37] mvorisek opened #1516 "Demo bug - entity ID reassign"
step to reproduce:

1. open `/demos/collection/multitable.php`
2. click any item in the table
3. you will see:
![image](https://user-images.githubusercontent.com/2228672/97459279-e45d0b80-193b-11eb-86d0-31d88f693a54.png)

[2020-10-28 15:42] #1514 closed, assigned to nobody

[2020-10-28 20:32] #1511 closed, assigned to nobody

[2020-10-28 20:50] #1516 closed, assigned to nobody

[2020-10-29 11:30] mvorisek opened #1520 "ScopeBuilder is not covered with Behat tests"

[2020-10-29 12:12] mvorisek opened #1521 "AJAX is sent twice when Lookup control is clicked"
UPDATE: waiting for release 2.8.8, see https://github.com/fomantic/Fomantic-UI/releases

steps to reproduce:
1. open `/demos/_unit-test/lookup.php`
2. click `Add Product` button
3. open browser network tab
4. click `Product Category Id` dropdown
5. notice, two same AJAX requests are sent for that lookup

is this an issue in Atk, ie. dropdown init?

[2020-10-29 14:25] ibelar commented on #1521
Looks like a Dropdown module issue from Fomantic: https://github.com/fomantic/Fomantic-UI/issues/1472
Will be fixed in their next release.

[2020-10-30 14:23] mkrecek234 opened #1527 "form->canLeave=false not working for text fields"
In a form with a control that renders a type=text field (it's displayed as a textarea field), the canLeave=false function does not work. Changes in that textarea field are not noted, and thus the form can be left without notification. Hope that this will be fixed, otherwise canLeave can have the users leave with unsaved changes. @ibelar

[2020-11-02 05:09] stokkeland opened #1528 "Demo Tutorial Wizard Last step "Model need to be loaded" Exception"
browsing Demo page, 2.4.x, walked through the tutorial, step 0,1,2 ending in
https://ui.agiletoolkit.org/demos/tutorial/intro.php?__atk_callback=atk_layout_maestro_wizard&atk_layout_maestro_wizard=2
works ok, when clicking next, going to
https://ui.agiletoolkit.org/demos/tutorial/intro.php?__atk_callback=atk_layout_maestro_wizard&atk_layout_maestro_wizard=3
it fails with  Critical Error  tk4\ui\Ex

[2020-11-03 19:02] GregoryR13 commented on #609
Hello,

It works with that :

`$('.coupled.modal').modal({ allowMultiple: true, closable: false });`

[2020-11-05 19:49] #1528 closed, assigned to nobody

[2020-11-09 15:54] #1527 closed, assigned to nobody

[2020-11-12 11:18] karakal commented on #1462
I just installed the freshest version (2.3.1) and it definitely doesn't work:
![grafik](https://user-images.githubusercontent.com/2448293/98932496-b224df80-24df-11eb-9a03-29477d7ddba3.png)

My definition (that worked in former times) was:
`$this->hasOne('LineColour', [
            'model' => 'marbach\connectm\admin\Colour',
            'our_field' => 'colour_id',
            'their_field' => 'id',

[2020-11-12 11:23] karakal commented on #1462
Okay... It is working in the latest development-Branch from Github :-(
could you do a release anytime soon?

[2020-11-16 16:31] DarkSide666 commented on #1462
@karakal Can you try installing 2.3 like this and tell us if it works then ?
[code]

[2020-11-17 11:36] PhilippGrashoff opened #1539 "Form with custom IDs fail - inputs are linked to parent element"
A PR some time ago caused the immediate closing of a form tag, resulting HTML is something like `<div id="some_view"><form id="some_view_form"></form></div>` All Inputs are linked to the form using its id, e.g. `<input form="some_view_form">`.
This works, so far so good.

But: if the form has a custom ID, it does not work any more. The inputs are no longer linked to the `<form>` element but to its

[2020-11-17 20:30] PhilippGrashoff opened #1540 "App::encodeJson(): catch case that preg_replace_callback fails"
Hi,

I recently managed (don't know how, but not too important) to get this error message:

![Bildschirmfoto von 2020-11-17 21-16-16](https://user-images.githubusercontent.com/33204878/99443629-5f05bf00-291b-11eb-9df1-611826073e81.png)

Logic behind this seems that preg_replace_callback() returns null on failure. We should take care of this.
I'd go for this, WDYT?

[code]

[2020-11-19 11:50] #1467 closed, assigned to ibelar

[2020-11-21 20:15] PhilippGrashoff commented on #1540
Hi,

I just stumbled across the second situation in which preg_replace_callback does not work and returns null...

[2020-11-25 16:08] bedengler commented on #1540
I had the same issue!
And then I just came across something: I've imported some datasets into the table yesterday. Before that, everything worked.
Now I've checked the columns of the table. The affected column/field has a tinyint(1) configured, BUT the default value in the table for this field is defined (by Sequel Pro) as "NULL" (even though it's a boolean field). Therefore all entries had "NULL"

[2020-11-25 18:16] bedengler commented on #1540
Another insight that may help in fixing.
This **WORKS:**
[code]

This **DOESN'T WORK:**
[code]
In my case, the dropdown gets generated automatically, so there's no need of adding it in the form manually.

There's a relation defined in the database / table. I assume that's why the dropdown gets generated automatically (which is pretty awesome 😉 )

[2020-11-25 19:47] mvorisek commented on #1540
@PhilippGrashoff I will fix if needed immediatelly, post minimal steps to reproduce, as best as PR with test

[2020-11-25 19:51] mvorisek commented on #1539
Please add Behat test

it seems like a bug that can and should be fixed

[2020-11-26 14:21] bedengler commented on #1540
It's hard for me to put out a test case as I'd have to post the whole database (because of the connections) and the database is filled with real data, no test data.

Therefore I made a dump of the structure, I hope this helps you!?

I attached a ZIP containing:
1) The database structure
2) Sample code of the model and the form that is related to the issue
3) The JSON output from App::jsonEncode (t

[2020-11-26 16:24] mvorisek commented on #1540
@bedengler just `var_dump` args of `App::jsonEncode` and verify the issue with that input. I can fix promtly then. Maybe @PhilippGrashoff can help with the test case as he opened this issue.

[2020-11-28 10:58] mvorisek commented on #1520
test added

[2020-11-28 10:58] #1520 closed, assigned to ibelar

[2020-11-28 10:59] mvorisek commented on #1462
closing as resolved

[2020-11-28 10:59] #1462 closed, assigned to ibelar

[2020-11-28 15:48] ibelar opened #1548 "Remove Data\UserAction::ui property dependency in UI"
UI class like Crud, Grid and any UserAction Executor should not be dependant on Data\Model\UserAction->ui property.

Take this data model user action as an example:

[code]

Creating Crud, Grid or using Ui UserAction executor should not rely upon the 'ui' property of Data\Model\UserAction. In fact, I believe this property should be removed.

- Ui element should rely on other model user action prop

[2020-12-01 01:10] mvorisek commented on #1548
is the dependency an issue for atk4/ui or atk4/data? I belive, atk4/data, as atk4/ui can dependend on atk4/data, but not the other way.

[2020-12-01 08:46] acicovic opened #1551 "UI 2.3.1 - Field which references its table is not being populated"
The code below creates a CRUD with an edit button. On UI v2.3.1 the parent_id field (which references another record in the same table) of the modal is not populated with the table's data. This works correctly with the latest dev-develop version.

**PHP Code:**
[code]

**Table creation SQL:**
[code]

[2020-12-02 11:06] DarkSide666 commented on #1551
Does it work correctly also on atk4/data release/2.3 branch? It contains few unreleased commits which could help with this.

[2020-12-02 20:18] mhuser commented on #1462
Hi,
I just stepped on this issue while experimenting the same problem (model with hasOne and "no results")
With the fix, I now see all results...
But filtering the lookup like in
`$form1->getControl('timesheet_project_id')->model->addCondition('user_id', $app->user->getId());`
Doesn't seems to works anymore and adding condition in dependency neither.
Should it?

[2020-12-02 20:24] mvorisek commented on #1462
please submit a failing test case as PR

[2020-12-03 21:03] mhuser commented on #1462
@mvorisek thank you for your quick answer. I have forked and branched develop, time to brew coffee and I will give it a try.

[2020-12-03 21:39] mhuser commented on #1462
I added a segment in demo `lookup-dep` in #1556.
Seems `addCondition` at initialization is working, but not if called on `lookup->model` after.
Not sure how I could turn this code into a true test case. I think I should check in the test if the lookup return a certain array but I cannot see how to manage that.

[2020-12-04 12:55] acicovic commented on #1551
Well,

Re-tested with 2.3.1 stable and now it works correctly. Probably something was wrong on my side.

Will close this and re-open if needed.

Thanks!

[2020-12-04 12:55] #1551 closed, assigned to nobody

[2020-12-04 20:30] ibelar opened #1560 "WIP - Add lookup to Multiline"
Add Lookup to Multiline control.

[2020-12-04 21:18] mvorisek commented on #1560
related with https://github.com/atk4/ui/issues/1375, ie. we must reuse existing Lookup component

[2020-12-04 21:59] mkrecek234 opened #1561 "ATK4 2.3 Crud ->editFields stopped working"
Just upgraded from 2.2 to 2.3.1 -a Crud now shows all fields again, even though I had
[code]

put in init. It shows all fields, no matter what I put above. Also updated to login.
Used to work in 2.2

[2020-12-04 22:06] mkrecek234 opened #1562 "ATK4 2.3.1 Cannot set onSubmit anymore"
I have the following addModalAction in a grid that used to properly work in 2.2. The modal works, but the ->onSubmit is not properly overwritten but the standard form onSubmit is executed. What has changed, that I can't overwrite it?
[code]

[2020-12-04 22:09] ibelar commented on #1560
Multiline already support 1:n record using hasMany relation. This issues is about adding atk-lookup vue component to it in order to support more control type with existing Line, Enum, Date etc.

[2020-12-04 23:10] Jmos opened #1563 "agiletoolkit.org issues"
Hi folks!

any body has a time to correct agiletoolkit.org links work again correctly forum login not working
atk data namespaces doc also 404 mani links are broken
Has any admin time to correct it
It is long time problem

[2020-12-05 23:17] DarkSide666 commented on #1563
Currently agiletoolkit.org redirects to our github page because new agiltoolkit.org page (and forum) is in a works. Ping @romaninsh for more info :)

What you mean by agiletoolkit.org links?
What is atk data namespaces doc?

[2020-12-06 09:32] mvorisek opened #1564 "README links are broken"
links to component demos are broken, see https://github.com/atk4/ui#bundled-and-planned-components

[2020-12-07 20:00] DarkSide666 commented on #1562
Probably something with URLs that in POST it doesn't reach this place in code anymore.

[2020-12-07 20:06] PhilippGrashoff commented on #1562
Hi @mkrecek234, do you use the ATK developer extension for google chrome? If not, please do, for cases like this it is extremely helpful as you can see exactly what gets sent to the server and what is returned.
In this particular case, I'd like to see what GET parameter is set when the form is submitted and if they match the HTML id of the <form> tag.

[2020-12-07 20:39] ibelar commented on #1562
@mkrecek234 - Try setup your virtual page triggerOnReload to false:

`$messageviewvp->cb->triggerOnReload = false;`

I think problem happens because when submitting the form, the virtual page callback trigger and terminate app execution before submit callback is reach. If you prevent virtual page callback from triggering when a reload occur, it should reach form submit callback.

[2020-12-08 09:37] mkrecek234 commented on #1411
I could fix the issue by adding the forceSelection => false option to the Fomantic UI dropdown:
`$recipient = $gr1->addControl('recipient',
  [\atk4\ui\Form\Control\Dropdown::class, 'width' => 'twelve',
  'empty'      => 'Email address',
  'isMultiple' => true,
  'dropdownOptions' => ['allowAdditions' => true, 'forceSelection' => false]
  ]
);`

[2020-12-08 09:37] #1411 closed, assigned to nobody

[2020-12-08 20:33] #1564 closed, assigned to ibelar

[2020-12-11 18:28] acicovic commented on #1460
Closing in favor of #1563

[2020-12-11 18:28] #1460 closed, assigned to romaninsh

[2020-12-11 18:29] acicovic commented on #1431
Closing in favor of #1563

[2020-12-11 18:29] #1431 closed, assigned to romaninsh

[2020-12-11 18:32] acicovic commented on #987
Should we close this?

[2020-12-11 18:36] mvorisek commented on #987
@acicovic I belive yes, thanks!

[2020-12-11 18:36] #987 closed

[2020-12-14 20:04] mvorisek commented on #1540
closing as no reaction

[2020-12-14 20:05] PhilippGrashoff commented on #1540
@mvorisek please leave this open. This issue exists, and I will provide a test case when I have time to do so.

[2020-12-14 20:07] mvorisek commented on #1540
@PhilippGrashoff feel free to provide, I will investigate then :)

[2020-12-16 12:36] bedengler commented on #1378
I would make that selectable.
Sometimes it's good, sometimes not.
If you show just some info it's good.
If you open a form where the user enters something it could be bad usability if it's closed by accident and the user has to re-enter everything again.

If it isn't closed automatically there has to be the closing function using a "X" added by default for convenience...

[2020-12-16 13:17] mkrecek234 commented on #1378
I agree with bedengler - most users I have appreciate the background tap = close functionality: They use it on tablets and that's a learnt and appreciated behaviour. Otherwise you have to point to the X, and that is less convenient that any point on the (larger) background space. Unintended close of forms where you entered data should be protected by ->canLeave = false, so you have to confirm clos

[2020-12-17 10:33] IvanTonchev commented on #1540
I stumbled across  this issue while working on a more complex JsModal+VirtualPage.
In the end i concluded that  it's a preg_replace_callback() related limitation issue which has nothing to do with my code or data. After reaching certain limit, adding any control to the form was triggering the null result. I can't say whether the regex in encodeJson() needs improvement or it's a pure preg_replace_c

[2020-12-17 10:35] PhilippGrashoff commented on #1540
Hi Ivan,

@mvorisek is still lacking demo data to debug this problem. can you get the parameters passed to App::encodeJson() in case of a failure? That would be great. I just dont find time for this at the moment.

Best regards

[2020-12-17 10:37] mvorisek commented on #1540
@IvanTonchev this IS A MAJOR ISSUE then - the regex is designed wrongly

please `var_export` input data for which the `preg_replace_callback` fails, ideally make this https://3v4l.org/LOhUU code failing

[2020-12-17 10:45] bedengler commented on #1540
Did you investigate the files I've uploaded? They also contain the JSON output...maybe that helps!?

[2020-12-17 10:47] mvorisek commented on #1540
@bedengler please make this https://3v4l.org/LOhUU code failing with your data

[2020-12-17 11:08] IvanTonchev commented on #1540
[var_export.txt](https://github.com/atk4/ui/files/5708890/var_export.txt)
https://3v4l.org/LOhUU failed with '413 Request Entity Too Large'

[2020-12-17 11:18] mvorisek commented on #1540
@IvanTonchev thanks, I was able to reproduce: http://sandbox.onlinephpfunctions.com/code/92fb21923f3346376baf86594299e338bf11ba5d

[2020-12-17 11:22] IvanTonchev commented on #1540
@mvorisek it's a step closer towards resolution ;)

[2020-12-17 14:42] #1540 closed, assigned to nobody

[2020-12-17 14:46] mvorisek commented on #1540
Guys, please verify with real data.

[2020-12-17 18:23] acicovic opened #1574 "Enter key doesn't work as expected on CRUD modal"
# Preparation
PHP sample:
[code]
SQL to create table:
[code]
# Issue
In the above CRUD, when you try to add or edit a record and you use the keyboard's enter key to submit the form, modal doesn't disappear and in case of add operation, it adds the record 2 times each time that you press enter.

Chrome console will sporadically show this:
[code]
When pressing enter, the Callback Response Javascript

[2020-12-18 09:12] IvanTonchev commented on #1540
@mvorisek i can confirm that the fixed encodeJson() regex works in my setting (atk4/ui 2.3.1, PHP 7.3.19).

[2020-12-18 09:13] mvorisek commented on #1540
thanks!

[2020-12-21 13:44] #1289 closed, assigned to ibelar

[2020-12-22 09:03] miciu10 opened #1578 "Generating Link in TableColumn using page property doesn't work properly"
If you use both page and args property of \Atk4\Ui\Table\Column\Link::class like this:
[code]
you'll get error: `ErrorException : Illegal string offset 'dok_id'`

My suggestion is to change:
https://github.com/atk4/ui/blob/81803a4a16602e4dfaff8da5347327484e6bda2f/src/Table/Column/Link.php#L151
line to:
[code]

[2020-12-27 11:04] mvorisek commented on #1321
You must use a newer version as advised

[2020-12-27 11:04] #1321 closed, assigned to nobody

[2020-12-27 11:06] mvorisek commented on #1319
seems resolved

[2020-12-27 11:06] #1319 closed, assigned to ibelar

[2020-12-27 11:07] mvorisek commented on #1310
Provide steps to replicate on demos, closing for now as no reaction.

[2020-12-27 11:07] #1310 closed, assigned to DarkSide666, ibelar

[2020-12-27 11:08] mvorisek commented on #1255
related with https://github.com/atk4/ui/issues/1444

[2020-12-27 11:09] mvorisek commented on #1134
closing as too broad

[2020-12-27 11:09] #1134 closed, assigned to nobody

[2020-12-27 11:10] mvorisek commented on #1189
closing as too broad/old topic

[2020-12-27 11:10] #1189 closed, assigned to romaninsh, DarkSide666

[2020-12-27 11:11] mvorisek commented on #1045
@ibelar wdyt?

[2020-12-27 11:12] mvorisek commented on #1023
related with https://github.com/atk4/core/pull/245, this is too broad, thus closing

[2020-12-27 11:12] #1023 closed

[2020-12-28 23:46] #1560 closed, assigned to ibelar

[2020-12-30 12:10] DarkSide666 opened #1584 "Update dependency to get rid of vulnerability"
See: https://github.com/atk4/ui/security/dependabot/js/package-lock.json/ini/open

[2021-01-05 18:56] #1584 closed, assigned to ibelar

[2021-01-08 19:01] acicovic opened #1587 "Lookup values are not loaded when callbacks are in a particular order"
See https://github.com/acicovic/atk4-lookup-test

[2021-01-09 08:36] acicovic commented on #1257
@mvorisek if you addressed this to Fomantic and there's an issue about it, I think it would be great to link it here so we can easily track it.

[2021-01-09 10:45] acicovic commented on #1482
Hello everyone,

I have created a new repo to start working on this. Feel free to join and help.

https://github.com/acicovic/atk4-localization

[2021-01-09 10:46] acicovic commented on #315
Closing this, issue will be tracked on #1482

[2021-01-09 10:46] #315 closed

[2021-01-09 10:51] mvorisek commented on #1257
I think this is not an SUI/FUI issue, we must simply recompile SUI/FUI templates with another font.

[2021-01-09 10:52] acicovic commented on #1257
OK

[2021-01-16 15:20] ibelar opened #1589 "Bad $cdn value for atkjs-ui bundle in release."
When a release is issued the $cdn value for atk js bundle should point to the release public repo instead of develop.

[2021-01-16 22:56] mvorisek opened #1590 "Dropdown in multiline has 2x width"
demo: `demos/form/html-layout.php`

![image](https://user-images.githubusercontent.com/2228672/104824907-7d723300-5856-11eb-8b30-e1efa5d38fe3.png)

[2021-01-19 12:35] romaninsh commented on #683
i think it's not serving the purpose.

[2021-01-19 12:35] #683 closed

[2021-01-19 12:36] romaninsh commented on #1589
Which release is that? can you provide example?

[2021-01-19 12:38] romaninsh commented on #1589
Possibly related to this: https://github.com/atk4/ui/commit/5204a09456aca3adccbabe21c8ae669a2970edef#diff-5c7c0584c982f3ff6b0ab2e495f70b395328cf9374d88bddcf861a600f5430fbL20

[2021-01-19 12:43] PhilippGrashoff commented on #1589
Hi, I had this problem with release 2.3.1

[2021-01-20 14:48] mvorisek opened #1596 "UI is deployed with Docker, but using build with Codefresh with cache"
Always build without cache, as if deps are changed, it is currently not cocognized:

![image](https://user-images.githubusercontent.com/2228672/105190989-e13a7b80-5b36-11eb-8cec-b6dd049eff37.png)

[2021-01-21 13:37] #1563 closed, assigned to romaninsh

[2021-01-21 15:55] ibelar opened #1597 "Cascade Dropdown return bad results"
Look like model condition are not set properly when using cascade dropdown since https://github.com/atk4/ui/pull/1559

In https://ui.agiletoolkit.org/demos/form-control/dropdown-plus.php No product is shown when selecting Category and SubCategory

<img width="688" alt="Screen Shot 2021-01-21 at 10 43 43 AM" src="https://user-images.githubusercontent.com/2204478/105375402-ad169780-5bd6-11eb-9dbe-89

[2021-01-21 18:54] mvorisek commented on #1597
@ibelar thanks for discovering it, @georgehristov I think this is another issue in dropdown cascade

[2021-01-24 11:25] mvorisek commented on #1597
@ibelar Are you sure this is really an issue and you did not selected a parent without any child item?

tested https://ui.agiletoolkit.org/demos/form-control/dropdown-plus.php with different input:

![image](https://user-images.githubusercontent.com/2228672/105628759-1567b200-5e3f-11eb-97bf-1c131a85df27.png)

was it ok before? - if so, please trace the issue, or @georgehristov might help, I did no

[2021-01-24 17:33] ibelar commented on #1597
@mvorisek - definitely a bug - In your picture Mustard should be under Spread sub category and not Gravie.

Look like it is coming from Atk4\Data from recent changes - Seems like the model reference is not set correctly and not related to the proper selection.

[2021-01-25 15:46] ibelar commented on #1597
Fix in #1599

Lookup problem previously report was ok. - no fix needed there

[2021-01-25 19:54] #1597 closed, assigned to ibelar

[2021-01-28 01:06] mvorisek commented on #159
we have this already, demos/ is the answer

[2021-01-28 01:06] #159 closed

[2021-01-28 01:06] mvorisek commented on #161
@ibelar is this PR still actual?

[2021-02-01 13:23] acicovic opened #1601 "Table->onRowClick() - Ignore click on checkboxes"
`Table->onRowClick()` should not execute its action when a checkbox gets checked or unchecked.

[2021-02-01 19:13] ibelar commented on #1587
@acicovic - Thanks for supplying code for this bug.

[2021-02-02 15:44] ibelar commented on #1590
This is correct behaviour from Semantic-ui vue - If you need a specific width you must specify it when defining the Model field.

Example:
[code]

[2021-02-03 17:46] ibelar commented on #1574
Probably related to a Fomantic-Ui issue.
Let's see what they say: https://github.com/fomantic/Fomantic-UI/issues/1862

[2021-02-03 17:52] ibelar commented on #1587
fix in #1602

[2021-02-03 17:52] #1587 closed, assigned to ibelar

[2021-02-03 19:13] ibelar commented on #1561
@mkrecek234 Unable to reproduce. Do you still have an issue with this?

[2021-02-20 22:40] FabulousGee opened #1607 "Wrong/missing charset on JSON response"
I had some issues with Umlauts and so I double-checked everything on my side. All fine.
But when I checked the header-handling in atk I found a possible bug. When I set the charset on termination myself, it gets omitted.

I use the following line of code to output my JSON:
[code]

Note the "charset=utf-8" to set the encoding (which should be standard on JSON but isn't necessary to set by HTTP guid

[2021-02-21 23:55] FabulousGee commented on #1607
@DarkSide666 @mvorisek regarding the discussion on my pull request, I want to continue the discussion about it here. The PR was just my first idea, I am sure there could be a better way. For example it would suffice to check, if the content-type has already been set and just skip it then (to let the user override it if they want to)

I am not into all of these things really, but I read a lot about

[2021-02-22 22:02] mvorisek commented on #1607
Which browser/client does detect the encoding wrongly?

PS: your PR is for JSON mime, which should be defaulted to UTF-8. HTML5 has UTF-8 encoding as default too.

[2021-02-22 22:07] #1607 closed, assigned to nobody

[2021-02-22 22:13] FabulousGee commented on #1607
It's the HTTP library which I use in dart (Flutter) - I linked the issue above. Did you read through the post on their tracker? They describe very well which defaults apply and which do not.

I really understand your point, it doesn't seem necessary to set something which should be considered as default but actually it isn't (as described [here](https://github.com/dart-lang/http/issues/175#issueco

[2021-02-22 22:22] mvorisek commented on #1607
You can extend App class and override the output/normalize headers method.

For me, it looks like an issue in Dart/Flutter. If you think is should be fixed in atk, please provide some data from major API libs/providers.

[2021-03-25 21:47] #1548 closed, assigned to ibelar

[2021-04-29 15:31] elymatos opened #1627 "Redirecting from user_action"
Hi!
how to do a redirect from a user_action (e.g. at CardDeck button). I'm trying
[code]
but it is not working...
Thanks!
Ely

[2021-05-01 10:16] PhilippGrashoff commented on #1627
Hi,

1) there is a nice ATK extension for Google Chrome. Using it you can easily check what is sent back to the browser. That would help debugging the problem.
https://github.com/atk4/atkjs-chrome

2) my first guess is: Only in App the function jsRedirect exists. Try $this->app->jsRedirect().

3) Do you need any processing on the server side or do you just want to forward the user to another URL?

[2021-05-01 12:36] ibelar commented on #1627
You will not be able to execute javascript from a Model\UserAction callback. This is a job for Ui\UserAction executor via the `$executor->onHook(HOOK_AFTER_EXECUTE) ` callback.

If your action is set in CardDeck top bar, you can override `CardDeck::initActionExecutor()` to setup `HOOK_AFTER_EXECUTE `or override` CardDeck::jsExecute()` to setup your redirection for this specific action.

If your ac

[2021-05-01 16:25] elymatos commented on #1627
Thanks!

I was able to register the action this way:

[code]

My trouble now is that the redirected page is shown is "modal". It seems to be the default behavior for Card action (button), then the redirect is done, but the page opens in a modal :-(  I didn't find how to change this yet, but this is another issue, I think :-)

Thanks,
Ely

[2021-05-01 16:26] elymatos commented on #1627
The Chrome extension seems to be very useful! Thanks!

Ely

[2021-05-01 16:59] ibelar commented on #1627
Should be more like this I believe:

Define your Model action:
[code]

Setup Executor:
[code]

Then register this executor for the report action:
[code]

When register globally, Ui components like Card that need to execute the action will do so using the registered $executor.

[2021-05-01 19:30] elymatos commented on #1627
Thanks, ibelar, for help!
Actually I don't need any action for the model. The idea is very very simple: I want the card to have a button that redirect to another page (something like "/Dashboard/Image/report/<idImage>"). But I don't know how to create such "independent" action and to associate it to the card.
So, about your suggestion I don't know what action must go in "callback".
Thanks,
Ely

[2021-05-02 13:46] ibelar commented on #1627
Then simply add a button to an extended Card class:

[code]

And use the card in CardDeck:
[code]

[2021-05-03 07:22] #1627 closed, assigned to nobody

[2021-05-08 16:56] acicovic commented on #1589
Hi guys. Is this resolved?

[2021-05-08 19:08] PhilippGrashoff commented on #1589
yep it is

[2021-05-08 19:21] acicovic commented on #1589
Closing this then.

[2021-05-08 19:21] #1589 closed, assigned to nobody

[2021-05-16 13:31] elymatos opened #1638 "Dynamic load content in the same page"
Hi,
Suppose I have a page with a button and a div below it. When I click the button I want to make a callback and the content might be put inside the div (preserving the button on the page). I read and test VirtualPage, but the callback content is overwriting the whole page. How can I make a callback to fill just the div?
(BTW, I'm putting doubts here as issues but I'm not sure if it is the correc

[2021-05-16 17:21] PhilippGrashoff commented on #1638
Hello elymatos,

do you know our discord channel? Thats the best place to ask for help: https://discord.gg/b6Jvuwhk

See you there :)

[2021-05-16 23:37] elymatos commented on #1638
Thanks!

[2021-05-16 23:37] #1638 closed, assigned to nobody

[2021-05-21 10:23] nocelab opened #1639 "File server location with FileUpload demos"
I'm runnig `demos/form-control/upload.php` in Docker image (atk4/ui-demo:develop) and I didn't find where uploaded file/image is located.
I've also tried in windows with xampp server with path set in `upload_tmp_dir='./tmp/'` in `php.ini` and I didn't find any files/images.
What i'm missing?

[2021-06-19 20:00] PhilippGrashoff opened #1641 "Unneccessary line in Grid.php"
Hi, in current develop code, there is an unneccessary line:
[code]

The line with $_GET can be removed, as the very same code is run by `addItemsPerPageSelector()`.

[2021-06-21 19:29] mvorisek commented on #1641
send as a PR

[2021-06-21 19:35] PhilippGrashoff commented on #1641
will do, discovered it when packing for holiday where I am now :) DIdn't want it to get lost so only an issue for the time being.

[2021-06-21 19:38] mvorisek commented on #1641
Enjoy the stay, where are you and what are the covid restrictions there (bars, quarantine, testing, ...)?

[2021-06-21 19:56] PhilippGrashoff commented on #1641
Am in Italy, covid restrictions are ok there, feels pretty normal and no one is going crazy in either way. We needed to test at home before entering (but no one checked).

[2021-06-24 13:57] bedengler opened #1643 "Cascading Dropdown with more than 3 dropdowns has too many values"
I have a cascading dropdown issue.
It's working with 3 dropdowns, but there's an issue with 4 dropdowns.
In the last one it gets too many values. Having investigated the Cascaded functionality it may also be a BUG!?

This is how my table looks like:
![Bildschirmfoto 2021-06-24 um 15 54 24](https://user-images.githubusercontent.com/17435772/123275344-869db500-d504-11eb-8608-23c750ca0f2e.jpg)

These

[2021-06-25 07:30] acicovic commented on #1574
Hi,

Fomantic 2.8.8 now contains the fix.

[2021-06-26 23:54] bedengler opened #1644 "Workaround for atk4 <2.4 JSON Error null returned"
If you are using many fields in a model / form, in older versions of atk4 it could be that you are running in a JSON memory issue.
The error says:
`TypeError: Return value of atk4\ui\App::encodeJson() must be of the type string, null returned`

As a workaround you have to either update to at least atk4 2.4 or replace the preg_replace in \atk4\ui\App.php in line ca. 960.
I have to stick for now on

[2021-06-27 08:26] mvorisek commented on #1644
closing as fixed in v2.4+, lower versions are no longer maintained

[2021-06-27 08:26] #1644 closed, assigned to nobody

[2021-06-30 08:25] bedengler opened #1645 "Error in demo of CRUD"
Go to the current demo of CRUD
https://ui.agiletoolkit.org/demos/collection/crud.php

If you are trying to edit an entry on the "Customizations" CRUD (the lower right one), it throws an error:
![Bildschirmfoto 2021-06-30 um 10 24 06](https://user-images.githubusercontent.com/17435772/123927696-6438eb00-d98d-11eb-8a79-021d329a1e69.jpg)

[2021-07-11 08:53] #1574 closed, assigned to ibelar

[2021-07-11 08:55] mvorisek commented on #1521
Yes, fixed in FUI 2.8.8

[2021-07-11 08:55] #1521 closed, assigned to nobody

[2021-07-11 08:57] mvorisek commented on #1590
Why this is a correct behaviour?

[2021-07-11 08:58] #1562 closed, assigned to mkrecek234

[2021-07-11 08:58] #1561 closed, assigned to ibelar

[2021-07-11 08:58] #1350 closed, assigned to romaninsh

[2021-07-12 18:03] mvorisek commented on #1645
also in https://ui.agiletoolkit.org/demos/interactive/tabs.php - Dynamic Form

[2021-07-27 02:02] Ayman-Nageeb opened #1653 "Plugin Architecture"
Hello, I need help

I am planning to build an extensible system (via plugins) using laravel

it for my project in the university ( I am a student )

the issue is that i don't know how to implement a plugins architecture in laravel

but you did it

i need to know how

so please give me any guide to start with

[2021-07-27 09:30] #1653 closed, assigned to nobody

[2021-07-27 09:30] mvorisek commented on #1653
duplicate of https://github.com/atk4/data/issues/885

[2021-07-27 09:32] mvorisek commented on #1645
as of today issue is still present

see changes of https://github.com/atk4/ui/pull/1623 PR to see how this should be fixed

[2021-07-27 09:33] mvorisek commented on #1643
@georgehristov IIRC you added the cascade compoennt, please look at this issue

@bedengler please confirm this issue is present in v3.0

[2021-07-27 09:35] mvorisek commented on #1601
@acicovic please provide simple steps to replicate, if you know how to fix it, please submit a PR

[2021-07-28 11:18] #1645 closed, assigned to nobody

[2021-08-05 19:18] acicovic commented on #1601
No time for this unfortunately. I will ping @ibelar, I think it would be simple for him to see if this issue is still a thing.

This is the function I had made up to get the correct selector. This mainly excluded the checkbox column and action menu.

[code]

And an example of how I used it:

[code]

This was done on a class overriding `Grid`.

Hope that helps.

[2021-08-26 10:48] mvorisek commented on #267
not sure what trigger() means

[2021-09-15 09:47] mvorisek commented on #1643
closing as no reaction

[2021-09-15 09:47] #1643 closed, assigned to georgehristov

[2021-09-15 09:47] mvorisek commented on #1641
@PhilippGrashoff ping

[2021-10-01 12:39] mvorisek commented on #1641
thanks for the description, fixed in https://github.com/atk4/ui/pull/1665/commits/7c29e8fe9b13c4b55d50cff44b578713420153b1

[2021-10-01 12:39] #1641 closed, assigned to PhilippGrashoff

[2021-10-03 18:39] mvorisek commented on #781
I tested this demo code:
[code]
and it works with `integer` and  `string` type.

⚠️ In you code, you used `required`, which rejects zeros. Just use `mandatory`.

[2021-10-03 18:39] #781 closed

[2021-10-03 18:42] mvorisek commented on #1256
closing in favor of #1028

[2021-10-03 18:42] #1256 closed, assigned to nobody

[2021-10-03 23:27] #1233 closed, assigned to nobody

[2021-10-03 23:27] mvorisek commented on #1210
fixed

[2021-10-03 23:27] #1210 closed, assigned to nobody

[2021-10-04 00:02] mvorisek commented on #1596
will be solved by moving deploy to GH actions

[2021-10-04 00:02] #1596 closed, assigned to romaninsh

[2021-10-04 16:24] mvorisek commented on #1590
![image](https://user-images.githubusercontent.com/2228672/135888252-7af6b4ab-d24c-4bf6-b754-7e2e470bf324.png)

[2021-10-04 16:24] #1590 closed, assigned to nobody

[2021-10-04 16:29] mvorisek commented on #1590
FUI issue: https://github.com/fomantic/Fomantic-UI/issues/2133

[2021-10-04 18:33] mvorisek opened #1668 "Calendar must support range"
Support was temporary removed in https://github.com/atk4/ui/pull/1664/files#diff-090b97be7788c2935eac093dc30726c0e0f7797ae8e356e2bbee5896b488b615R53 as the underlaying DBAL type `datetime` (`date`, ...) is not be compatible.

User may want to use string type. If range only between two values should be supported, then maybe we can have a complex control that will work on two separate field.

[2021-10-05 02:05] mvorisek opened #1669 "Something leaks memory"
At least these tests leak:

[code]

tested with 1k iterations.

Observations:
  - repeated `require` does not leak (tested with 100k include calls)
  - but only if it does not include an anonymous class (`new class() {};` is enough, even if never used)
  - anonymous functions does no leak (even in complex such `$fx = function() use ($bar) { return $bar; };`)
  - not leaky if  included multiple tim

[2021-10-05 16:59] mvorisek opened #1673 "App::encodeJson does not scale lineary with long input"
related code https://github.com/atk4/ui/blob/3.0.0/src/App.php#L986

related test: https://github.com/atk4/ui/blob/3.0.0/tests/JsTest.php#L21

should reasonably fast for even `$longStr = str_repeat('"a":10,"b":9007199254740992,x="\"c\":10,\"d\":9007199254740992,"', 1000 * 1000);` (100x larger than currently slow test)

[2021-10-05 23:55] mvorisek commented on #1669
Will be fixed in https://github.com/atk4/ui/pull/1672 , it seems atk4/ui is already fine and all issues were detected by our burn testing already. The remaining issue with anonymous classes in demos is not critical.

[2021-10-05 23:55] #1669 closed, assigned to mvorisek

[2021-10-06 00:10] mvorisek commented on #1673
The performance is ok, only a lot of tests are run in a one phpunit test case.

The performance is about 15 seconds per 100x 10 MB input string. Eg. 150 ms per 10 MB.

[2021-10-06 00:10] #1673 closed, assigned to nobody

[2021-10-13 12:27] ibelar opened #1680 "Step Executor should better allow overriding each step method."
Current implementation does not allow for easily overriding each step method:
- StepExecutorTrait::doArgs(),
- StepExecutorTrait::doFields(),
- StepExecutorTrait::doPreview(),

[2021-10-16 01:49] #1317 closed, assigned to romaninsh, DarkSide666, ibelar, abbadon1334, georgehristov

[2021-10-16 01:49] #1250 closed, assigned to ibelar

[2021-10-16 01:49] #1244 closed, assigned to romaninsh

[2021-10-16 01:49] mvorisek commented on #1132
done

[2021-10-16 01:49] #1132 closed, assigned to nobody

[2021-10-16 01:50] #1255 closed, assigned to nobody

[2021-10-21 10:31] mkrecek234 opened #1685 "DropdownCascade not showing saved value in 3.0"
I have the following setup:
1. Model CarMake (car manufacturer), which hasMany CarModel
2. A View for another model Ticket which hasOne CarMake and hasOne CarModel with a form including these controls:
[code]
The DropdownCascade work fine if you want to assign new values, HOWEVER: if you edit an existing ticket record, only the make_id dropdown is rendered correctly showing the saved value. The mo

[2021-10-21 10:41] mvorisek commented on #1685
Closing as not enough info and in demos this is working.

See https://github.com/atk4/ui/pull/1667 , typecasting was not always called in 3.x.

[2021-10-21 10:41] #1685 closed, assigned to nobody

[2021-10-21 11:30] mkrecek234 commented on #1685
Will check - however the demo does not cover the use case here. It just does not save anything to persistence present in a DropdownCascade. I will modify the demo to test. And demo in 3.0 release is not working...

[2021-10-25 15:11] mkrecek234 commented on #1685
@mvorisek This issue is confirmed to be still present in the latest atk4/ui 3.0 release. It only seems to be fixed in the dev-develop branch, but no release yet available without this bug. Check this test setup:
https://github.com/mkrecek234/atk4-test

In the script Test with records, the DropdownCascade field is empty if you use the 3.0 release of atk4/ui. If you switch to develop branch, it is p

[2021-10-25 19:50] #1068 closed, assigned to ibelar

[2021-11-04 22:19] PhilippGrashoff opened #1688 "JsExpression - allow to define placeholder for args"
Currently, the placeholder for arguments in JsExpressions is `[]` or `[varname]`. When working with more complex javascript, this can lead to problems, for example with for loops:
[code]
In this case, `[i]` is treated as placeholder for an argument by JsExpression - this leads to an exception that no argument is found for that placeholder.

Two solutions I can think of:
1) Change the brackets to s

[2021-11-04 23:08] mvorisek commented on #1688
thankfully atk4 throws, `openingBracket` seems too hacky to me

`[[varname]]` or `{{varname}}` might be a solution but how often do you need it? is there currently any escaping possible, eg. solution /wo syntax change?

`[]` / `{}` is also what is used in DSQL

[2021-11-05 00:23] mvorisek commented on #1688
what if we do not replace if the `[` is preceded with alphanum?

a) does it fixes all JS issues/syntax?
b) is there a case, where a replacement makes sense after an alphanum? (`somearray'value'` is an example where it never does, but seems problematic with https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#array_literals)

[2021-11-05 14:17] mkrecek234 opened #1689 "Grid Filter Throwing Exception on empty Date filter"
In a grid view where you activate the filter function, do the following step to reproduce an error:

1. Have a grid view with a DateTime column
2. Add a filter on a datetime column, and just press "Set" (leave the filter empty).

This will throw an error `TypeError: DateTime::__construct(): Argument #1 ($datetime) must be of type string, null given`
As the filter is stored in a cookie, this error

[2021-11-05 20:06] PhilippGrashoff commented on #1688
this could be a sensible solution, though also not fully BC. I still think that using brackets as placeholders that can not appear in normal JS code would be the way to go, at least make in configurable. @ibelar, you wrote most JS in ATK, WDYT?

To answer your question about escaping: In my current case, I include the js code for the expression from an external file.
The JS code is about a 100 lin