[2021-11-05 20:29] mvorisek commented on #1688
You can always insert the code unescaped:
[code]

UPDATE: see my post below for correction

[2021-11-05 20:29] #1688 closed, assigned to nobody

[2021-11-05 21:15] PhilippGrashoff commented on #1688
Hi,

that does not work, as it is then treated as a string and escaped with `"`. Can you please reopen this issue and in general not close them so quickly?

Thanks & regards

[2021-11-05 21:19] mvorisek commented on #1688
You are right, you need `{}` ;-)

About closing, you can not reopen as the autohor of this issue?

[2021-11-06 00:23] mvorisek commented on #1689
please reproduce on demos

[2021-11-06 00:27] mvorisek opened #1691 "Validate individual inputs on change immediately"
Each individual input has type, normalize function and some options like required, mandatory, allowed values.

All of these are directly bound to an individual field and thus can be validated separately and immediatelly.

This is a feature request to query server on (debounced) change for errors.

Submit validation should of course stay, but this will improve UX a lot.

[2021-11-07 13:52] andrejsdr opened #1693 "Nested accordions static level 2. not works in demo"
Nested accordions static text
level 2. not works

https://ui.agiletoolkit.org/demos/interactive/accordion-nested.php

[2021-11-07 17:21] PhilippGrashoff commented on #1688
Hi,

for some reason I still have limited rights to all the ATK repos and cannt repoen this issue...

[2021-11-07 17:23] mvorisek commented on #1688
let me know if `{}` is not a solution and I will reopen

[2021-11-07 17:50] PhilippGrashoff commented on #1688
Hi, `{}` actually works - didn't see the difference when reading the code. Still, this does not solve the situation when you want to use JS code like `someArray[someIndex]` AND also want to replace some placeholders from PHP code.

[2021-11-07 18:13] mvorisek commented on #1688
then you need to use custom replace function ;-), this is the only 100% safe solution

[2021-11-07 18:16] PhilippGrashoff commented on #1688
Well, thats what I did already of course, extend JsExpression and change the placeholders to `{{}}`. This way, I can use placeholders and stuff like `somearray[someindex]` in the JS code.

But of course every alteration of the Framework needs to be maintained, and I still think there should be a proper way in JsExpressions to use brackets and placeholders at the same time in JS code. My favorite w

[2021-11-07 18:24] mvorisek commented on #1688
I think you have too much edge case.

Either binary/unreplaceable input should be allowed or the standard brackets should apply.

You can however extend the class and replace the `jsRender` for the usecase you need. If you usecase does not change, you do not need to maintain it :)

[2021-11-19 14:40] mvorisek opened #1699 "Modal is rendered empty on the first open"
Discovered on atk4/login, I think it is atk4/ui issue.

Steps to reproduce:

1. checkout https://github.com/atk4/login/pull/77
2. composer install
3. setup demo database using `atk4/login/demos/admin-setup.php`
4. open `atk4/login/demos/admin-roles.php`
5. click:
  ![image](https://user-images.githubusercontent.com/2228672/142640827-2105d233-9728-4e0c-ac02-d9b76a380fc0.png)
6. click:
  ![image](ht

[2021-11-24 15:36] mkrecek234 opened #1704 "Field names missing in Model->getField, causing corrupt Exception message"
In recent develop, example `demos/form/form2.php` don't work:
- First form can never be saved, as iso ~cannot be empty, nor~ cannot it be changed
- If you deactivate all validation handling in onSubmit to make it work again, still it will throw an error `Javascript Error
Syntax error, unrecognized expression: #`

The second form throws error `Atk4\Ui\Exception: Callback requested, but never reache

[2021-11-24 15:43] mvorisek commented on #1704
I have already seen `Javascript Error Syntax error, unrecognized expression: #` somewhere during other issue debugging, this is definitely a bug that must be fixed.

[2021-11-24 15:52] mvorisek commented on #1704
@ibelar can you please look at the JS issue? It seems something is not escaped properly or deescaped/evaluated twice.

[2021-11-24 16:12] mkrecek234 opened #1705 "Column added with Crud::addColumn after Crud::setModel should be added before autocreated column with UAs"
In previous versions, you could easily do for cruds:
[code]
This would render then properly having your custom-columns first, and then the Add/Edit user actions next to it.
In newest develop branch, this renders an error `Different model set` if you place setModel after addColum statements.

So question:
1) Change this back again to tolerate this sequence as above?
2) Force that all columns be set

[2021-11-24 17:13] mvorisek commented on #1705
no, `Different model set` is valid, previously, it was silently ignored

I think we can:

a) modify the `Crud::addColumn` method so new fields are always move before the autoadded UA column
b) provide some method for moving columns, especially the UA column to the end/after some named column.

[2021-11-26 23:31] #1314 closed, assigned to nobody

[2021-11-26 23:52] mvorisek opened #1707 "Unsafe `<script>` replace in JS"
https://github.com/atk4/ui/blob/3.0.0/js/src/services/api.service.js#L105

is can corrupt content if such replaced string is presented inside the value

[2021-11-26 23:52] mvorisek opened #1708 "Unsafe `<script>` replace in JS"
https://github.com/atk4/ui/blob/3.0.0/js/src/services/api.service.js#L105

is can corrupt content if such replaced string is presented inside the value

[2021-11-29 13:26] mkrecek234 commented on #1704
More background @ibelar : For me I get the `Javascript Error Syntax error, unrecognized expression: #` always when saving a form which is placed in a Modal Virtual Page. Help appreciated as this is a major new bug

[2021-11-29 14:15] mvorisek commented on #1704
@mkrecek234 can you identify which atk4/ui commit started producing this issue?

[2021-11-29 18:34] ibelar commented on #1704
This is likely du to Data\Field error and badly formatted ValidationException throw when `Field::$name `is equal to null and has nothing to do with javascript.

see: https://github.com/atk4/data/blob/develop/src/Field.php#L282

Perhaps a regular exception should be thrown when $name property is null.

Otherwise the ValidationException will try to execute this javascript expression :
` $("#atk_layo

[2021-11-29 18:46] mvorisek commented on #1704
iso cannot be empty because of the model definition

the main issue is the JS escaping

[2021-11-30 19:59] mkrecek234 opened #1713 "Impl. Modal::onClose() method"
A classic use case is to run code if the user closes a Modal view.

e.g., In a modal, the user edits a crud, adds elements

onClose would be needed to update for example a Dropdown to reflect changes done in the Modal crud

Would be great to get a demo example code for this

[2021-11-30 21:13] ibelar commented on #1713
You can use Fomantic-Ui `'onHidden'` option callback for this.
see: https://fomantic-ui.com/modules/modal.html#/settings

The trick here is that since atk js also use` onHidden` callback in modalService, you would need to call `atk.modalService.removeModal($this)` manually.

Here a sample

[code]

This will translate into javascript:
[code]

[2021-12-01 05:30] mkrecek234 commented on #1713
Thanks a lot - wouldn't it be even more elegant if we extend the ATK4 Modal object to offer an onClose wrapper function? At least for the non-Fomantic pros this would make it easier. Or we just create an example with your code - can try to contribute that

[2021-12-01 06:44] mkrecek234 commented on #1704
@ibelar By removing the form->save() in the sample form2.php you circumvent this bug. There is an issue saving the form. We should keep real form-> save samples in our demos to demonstrate (and also have real life tests). Can you please check? In fact, this is a new bug that came with the last develop updates.

[2021-12-01 14:12] mkrecek234 commented on #1704
@mvorisek @ibelar I found the reason for my issue: The `Javascript Error Syntax error, unrecognized expression: #` actually is caused in my case by a thrown Exception in the ` protected function _typecastSaveField(Field $field, $value)`in Persistence.php at https://github.com/atk4/data/blob/975b27f4de756118860da069ffff103633cc7f3a/src/Persistence.php#L271

The Exception however is not properly sho

[2021-12-01 15:27] ibelar commented on #1704
The error message shown in form2.php happen because there is an exception thrown during the validation process.
this [line](https://github.com/atk4/ui/blob/d4be0d5b4c5108edf182e0d4b0b41bdadf583243/demos/init-db.php#L168) in init-db:       `  $c = $this->getModel()->tryLoadBy($this->fieldName()->name, $this->name);` is throwing an Exception.

This Exception is later caught within `Form::onSubmit()`

[2021-12-01 16:20] mkrecek234 opened #1715 "Applying setControlsDisplayRules and setGroupDisplayRules renders both inactive"
I have a form where I have multiple controls that should show only if a Checkbox is checked.
As I have both single controls and groups, I combined both rules by
[code]

This way, all controls always show and the display rules are not enforced at all. If I comment out one of the two, for the active part the hiding/showing works properly.

[2021-12-01 22:52] mvorisek commented on #1704
we have to throw an exception uniformly with other validation exceptions, not sure what you mean exactly, please submit a PR if you think something behave wrongly

[2021-12-02 10:30] mkrecek234 commented on #1704
@mvorisek @ibelar I investigated this further. The issue indeed is that the field name is empty for all fields (short_name though is set) coming from this function: https://github.com/atk4/data/blob/975b27f4de756118860da069ffff103633cc7f3a/src/Persistence.php#L159

With the missing name though, any validation failure will also miss the field name, which ultimately creates the JsExpression error. @

[2021-12-02 19:50] mvorisek commented on #1704
@mkrecek234 thanks for envestigation, let me know which array, eg. what do you expect exactly on which line, I think I can help quickly then ;-)

[2021-12-02 20:29] mkrecek234 commented on #1704
@mvorisek on the line under the link above, `$row` still has complete field elements with `name` in it.
The command `$field = $model->getField($fieldName)` then returns an array which has `name` empty, but some other like `short_name` are there. So if you adjust `getField` to fill the array including the name, it should be alright.

[2021-12-02 20:34] mvorisek commented on #1704
I belive only short_name should be used and all other names should ideally throw an exception (we can unset easily, then it will emit an undefined warning due special trait from atk4/core) :)

[2021-12-02 20:39] mkrecek234 commented on #1704
Your take @mvorisek - the missing name leads to
[code]

[2021-12-05 14:19] #1704 closed, assigned to nobody

[2021-12-05 15:01] mkrecek234 commented on #1689
@mvorisek Please check my PR on this - the filter is not capable handling an empty/null input field which should be resolved using the attached PR.

[2021-12-06 16:07] mvorisek commented on #1689
fixed in https://github.com/atk4/ui/pull/1718

[2021-12-06 16:07] #1689 closed, assigned to mkrecek234

[2021-12-09 20:08] #1708 closed, assigned to nobody

[2021-12-18 06:51] mkrecek234 commented on #1705
@mvorisek An idea: If there are no columns to be rendered since code says parent:setModel($model, []], then Crud also should not add the UserAction buttons column.
The buttons column then would need to be added also manually by a command, just like the developer has to addColumns manually. So we just define a function addUserActionColumn() and omit adding it in the setModel in case of empty column

[2021-12-18 11:22] mvorisek commented on #1705
`addUserActionColumn` seems logical, but it is a BC break and also conditional logic based on `[]` is very hard for developer to understand/remember.

[2021-12-18 15:06] mkrecek234 commented on #1705
Would still see this as the most logical for a case when someone calls setModel with [] columns to customize crud: And code stays compact and clean. Right now you have a lot of coding if you want custom columns as you first pass all columns to setModel, and afterwards you have to decorate/customize each column again.

Your take / community's take. I would vote for it.

[2021-12-27 21:28] mvorisek opened #1720 "No/bad AJAX response must be handled"
When AJAX response is not returned (timeout) or wrong (non-200 status code or wrong JSON/JS syntax)

then the response must be handled in Atk4 frontend JS
and the original AJAX request must be canceled (when not-finished yet, like timeout)

`demos/_unit-test/late-output-error.php` can be used for Behat testing of wrong AJAX responses

[2021-12-31 17:25] mvorisek opened #1723 "Card demo is broken"
steps to reproduce:

1. open `/demos/data-action/factory-view.php`
2. click
  ![image](https://user-images.githubusercontent.com/2228672/147833889-5b81dcc8-2822-4c4c-9740-9698f39e1760.png)
3. the following is shown:
  ![image](https://user-images.githubusercontent.com/2228672/197336081-ab489fd7-cd47-4c90-be39-c8cf0ade4070.png)

[2022-01-11 07:32] mhuser opened #1727 "Execute php callback on Grid->addSelection() for multiple selection"
First of all, I want to thank you for this great tool that is atk4/ui !
Since some time I have a question which I believe does not find answer in the documentation (but maybe I am just blinded).
Let's suppose we have two models `User` and `Role` and `User` `hasMany` `Role`.

- It is quite straightforward to use `\Atk4\Ui\Grid` and `addCondition` to display a given `Role` and add a `User`.
- Also w

[2022-01-15 18:05] mhuser commented on #1727
I finally managed it by using javascript to set value of an hidden form input in a static modal.
Any other idea for better implementation welcome.
[code]

[2022-01-20 11:47] mkrecek234 opened #1728 "Activate Accordion or Tab on validation error"
I am using heavily Acccordion sections to structure forms (e.g. Customer, Address, Payment, Shipping, Tax) - the way I do this is to make one form, and inside the form we have the Accordions.

However if a Validation for a field inside a closed Accordion fails, it seems to the user nothing happens on Submit. Can we automatically open the Accordion(s) where fields with failed Validation messages ar

[2022-01-20 17:58] mvorisek commented on #1728
Is there any current demo on which this issue can be reproduced or can you post a minimalistic code to reproduce?

[2022-01-20 18:28] DarkSide666 commented on #1723
Also
* `demos/interactive/tabs.php' Dynamic form tab give Atk4\Data\Exception: Expected entity, but instance is a model

[2022-01-25 04:31] mkrecek234 opened #1731 "Lookup "plus" feature throws error"
This line causes an error when you choose to have the Lookup with Lookup::plus = true:

https://github.com/atk4/ui/blob/3cb026a3649efc1841d5d73a7608145da6212971/src/Form/Control/Lookup.php#L257

Error is "Atk4\Data\Exception: Expected model, but instance is an entity".

[2022-01-25 08:06] mvorisek commented on #1731
https://github.com/atk4/data/blob/e82eebff5b7ab51d2e5d2b0f967d01eb9c045e6e/src/Model.php#L683 onlyFields can be set on model only

but if we set it, it keep the Model state mutates, so we should:
a) clone preferably before
b) OR do not set onlyFields at all
c) impl. virtual wrapping model, eg. wrap the underlaying model by another, on which we can set the custom state safely

[2022-02-07 20:46] mkrecek234 opened #1732 "Cruds in multiple-layered modals behave strange"
- Have a master Crud, and add Modal to open a child model crud. (1)
- You open the Child Model Crud in a Modal -there you add entries
- Works fine.
- Then select another master crud's entry (2) where you open the respective child Crud in the modal
- If you then click add, you see the previous, already filled-in form (1's child entry)
- If you close the modal manually, you see an empty (correct) ad

[2022-02-08 11:17] mvorisek commented on #1732
@mkrecek234 can you please post here a simple code to reproduce, eg. two simple model classes & how you use them to create the Cruds?

You desc is clear, but these simple repro script helps the people that develop the fixes a) to be faster, b) to be sure that when they get onto the issue, it will be reprodudible (or it is already fixed).

[2022-02-08 11:18] mvorisek commented on #1732
linking here another Modal related issue - https://github.com/atk4/ui/issues/1699

[2022-02-09 20:58] mkrecek234 commented on #1732
@mvorisek Here is the sample code for the above video:
[code]
where Customerpamenttext is a 1:n (hasMany) model to Customerpayment model:
[code]

[2022-02-10 10:25] mkrecek234 opened #1734 "Wrong CDN selected in 3.1 release?"
Please check
https://github.com/atk4/ui/blob/82a056cf252308b8286f90b86261e8b130fb3b4e/src/App.php#L46

we are using the githack link still in the 3.1 releases.
Shouldn't this be

https://cdn.jsdelivr.net/gh/atk4/ui@3.1/public/atkjs-ui.min.js

then?

[2022-02-10 10:36] mvorisek commented on #1734
https://raw.githack.com/ is CDN backed, do you have any measureable evidence the backend uptime is problematic?

jsdelivr.net were having issues in the past too, so we switched from it.

cdnjs.cloudflare.com is optimal, can you try to include our repo there?

[2022-02-10 10:40] mvorisek commented on #1734
related with https://github.com/atk4/ui/issues/1025 , no external/internet dependency is probably the best

[2022-02-10 10:46] mvorisek commented on #1734
The https://raw.githack.com/ service promises to cache the release resources for a year, I do not belive there is any issue with such resources excl. CloudFlare outages itself which are very rare.

I am in favor of closing this issue.

[2022-02-10 10:50] mkrecek234 commented on #1734
@mvorisek I'm fine either way and don't have nor an opinion nor results. This relates to @PhilippGrashoff message in discord saying we moved to another service. Indeed I also would fancy #1025  - a lot of mission-critical business applications have to run also without internet connection.

[2022-02-10 10:50] #1734 closed, assigned to nobody

[2022-02-10 18:46] PhilippGrashoff opened #1735 "develop version of ATK JS/CSS is used in releases"
See for example 3.1: https://github.com/atk4/ui/blob/release/3.1/src/App.php#L46

The 3.1 version should be used, not the develop version.
Using the develop version could make our applications fail at any time when develop versions are changed.

[2022-02-10 19:14] mvorisek commented on #1735
closing, you posted a link to a release branch, instead of the actual release

https://github.com/atk4/ui/blob/3.1.0/src/App.php#L46 LGTM

[2022-02-10 19:14] #1735 closed, assigned to nobody

[2022-02-13 11:33] mvorisek opened #1737 "Grid demo cannot open row detail"
Steps to reproduce:

1. open `/demos/collection/grid.php`
2. click:
  ![image](https://user-images.githubusercontent.com/2228672/153751042-ac1c5812-03a7-4721-b560-a5b888e761da.png)
3. notice the error:
  ![image](https://user-images.githubusercontent.com/2228672/153751079-3312f732-1c47-43c3-bbed-43a8279b2cb0.png)

[2022-02-15 16:00] mkrecek234 opened #1738 "HTML mismatch in Dropdown with allowMultiple"
Steps to reproduce:
1. Add a Dropdown with isMultiple support
[code]
2. In the most recent versions (tested in develop but probably since 3.1) on Submit (POST) wrong data is submitted and thus also saved:
[code]
You can see this already on rendering of the form, that the hidden <input...> for that dropdown contains the wrong comma-separated two values with original string and htmlencoded string er

[2022-02-25 17:08] mvorisek opened #1741 "`Unexpected output detected` is displayed twice"
code to reproduce:

[code]

click on submit button:

![image](https://user-images.githubusercontent.com/2228672/155757117-92964a4f-9b34-418d-b958-1a83a3a7e595.png)

[2022-02-25 17:54] mvorisek commented on #1738
[code]

reproduced, see FUI issue https://github.com/fomantic/Fomantic-UI/issues/2246

docs https://fomantic-ui.com/modules/dropdown.html#/security

[2022-03-01 09:47] mkrecek234 commented on #1731
@mvorisek Can we implement a) quickly to get it working again. I think that is the easy and quick fix

[2022-03-01 11:58] mvorisek commented on #1731
please test:

`$form->setModel((clone $entity->getModel())->setOnlyFields($this->plus['fields'] ?? []));`

[2022-03-01 12:26] mkrecek234 commented on #1731
Proposal is not working. This works as intended:
[code]

You have to createEntity on model with setOnlyFields, otherwise $form->setModel() does not pass an entity. Please note also the null instead of [], otherwise empty form is shown.

P.S. Just wonder why setOnlyFields could not also accept to be applied to an entity, and not just a model. Then it would be a bit easier.

[2022-03-01 12:43] mvorisek commented on #1731
LGTM, please send a PR

Entity should represent just a data holder, thus it should not affect the DB query, onlyField is a small exception, but I prefer to stay with one strong & simple design line.

[2022-03-02 14:08] #1731 closed, assigned to nobody

[2022-03-03 14:27] DarkSide666 opened #1744 "Table\Column\FilterModel throws error on json type fields"
If we have `type=>json` field in model and for some strange reason add it as column in grid and enable filtering, then `Table\Column\FilterModel` throws error
[code]

That's because filtering for this field type is not implemented and that's kind of understandable, but at least it shouldn't throw such ugly exception. Better would be to simply not add filtering in this column.

Probably same happen

[2022-03-03 23:12] DarkSide666 opened #1746 "Table\Column\FilterModel do not support "Is Not" for string columns"
For ordinary string columns we have these conditions:
![image](https://user-images.githubusercontent.com/1969119/156668501-83c63c39-e714-4472-bcd7-e8060ec69a31.png)

Would it be possible to also add "Is Not" there like we have for date field for example?
I wanted to filter all rows where string column `http_status <>"OK"`

[2022-03-04 18:37] DarkSide666 opened #1748 "No ability to set default checked fields in Grid->addSelection()"
Is there ability to select some of checkboxes on page load of $grid->addSelection() ?
I couldn't find it. Would be very good to have and probably not that hard to implement.

Probably the nicest way would be to pass string or array of selected checkboxes as argument:
[code]

[2022-03-04 18:42] DarkSide666 opened #1749 "Grid->addSelectable() don't have ability to select/unselect all"
![image](https://user-images.githubusercontent.com/1969119/156822698-1d7bf20b-c18c-4d77-93a2-e321d8ec077e.png)

We could nicely use header spot of selectable column to add checkbox (or dropdown) there to select / unselect all selectable checkboxes. I implemented something like that for very old toolkit version on which i had to work on. But that code will definitely not work with up to date toolki

[2022-03-05 22:48] DarkSide666 opened #1751 "Placement of table column filter dropdowns"
Currently looks like this:
![image](https://user-images.githubusercontent.com/1969119/156902148-d0db6d44-ef44-4254-b647-6aed1bb55c88.png)

By disabling/dropping these 2 CSS rules I managed to move dropdown icon to be correctly vertical aligned in center.
[code]
![image](https://user-images.githubusercontent.com/1969119/156902245-d0b4c592-3f57-4541-86ea-2d2adedb47f4.png)

But I'm not sure - maybe c

[2022-03-05 22:59] mvorisek commented on #1751
I tested dropping the custom rules also for long header and it works well:

![image](https://user-images.githubusercontent.com/2228672/156902500-31cdf7f8-e25a-47bf-97ba-d46f76fcb676.png)

[2022-03-06 09:39] mvorisek commented on #1025
There is no CDN solution when GH is down, resources must be committed within the repo (as we do with our CSS/JS) and checked by CI.

[2022-03-06 11:29] DarkSide666 commented on #1751
@mvorisek should I make small PR for this?

[2022-03-06 11:32] mvorisek commented on #1751
yes, make sure you edit both less & css (CI will warn otherwise)

[2022-03-06 20:28] #1751 closed, assigned to DarkSide666

[2022-03-06 21:13] DarkSide666 opened #1753 "Table\Column\Link Can not pass class properties in seed, for example, target"
It looks like there is no way how to pass class properties in seed. For example, to set `target`.
That's because if seed (defaults) is array, then Link formatter treat this array as page + page arguments.
2nd argument of constructor are additional URL arguments which will be filled from model.
And ... that's all - no way to pass seed with additional class properties.

[2022-03-06 22:06] #1753 closed, assigned to DarkSide666

[2022-03-08 10:00] mkrecek234 commented on #1705
After having worked with it, that means first defining the array of displayed fields (in my case programmatically), then initializing Crud with that field list, and then using addDecorator is perfectly fine, even though seems more lines of code than before. Thus, I close this issue.

[2022-03-08 10:04] mkrecek234 opened #1758 "Filters of multiple cruds in one View or on subsequent pages will keep filters for all Cruds"
Steps to reproduce:
1. You have a view which contains two times the same Crud class with enabled filters
2. You select a filter in the first Crud.
3a. You reload - then also the second Crud is filtered.
3b. You are passed to another page which also contains the Crud class from step 1. - Also that page's Crud is filtered.

Expected solution:
- A filter ONLY applies for the one crud that it is selec

[2022-03-08 10:07] mkrecek234 opened #1759 "Enhancement for hasOne dropdown captions"
Steps to reproduce:
- You have a hasOne "Timezone_id" relation (which contains id and name) and a form which adds a Control for that with `$form->addControl('timezone_id')`;
- The form will include the Dropdown and caption will be "Timezone Id".

Expected behaviour:
- For hasOne fields where a Dropdown is added by default, the caption should remove the "_id" component and read "Timezone" only

![i

[2022-03-08 12:22] mvorisek commented on #1758
can you provide minimalistic code to reproduce?

also, is this issue still present in https://github.com/atk4/ui/pull/1671/files ?

[2022-03-08 12:25] mvorisek commented on #1705
I faced this issue as well, reopening, maybe we can find some way to fix it.

[2022-03-08 17:13] DarkSide666 commented on #1758
I can confirm that this was the issue in 3.1 release. Not sure about current develop branch.

[2022-03-09 09:05] mkrecek234 commented on #1758
Also an issue in develop branch. Minimalistic code:
[code]

[2022-03-09 10:12] mkrecek234 commented on #1758
I could nail down the issue on the develop branch further and also specify the issue - it seems that the first Crud on a page gets exactly the same column filter identifier stored in the session. Therefore the filter remains which does not make sense to me.

Steps to reproduce:
1. Filter the *first* crud (any Crud, any model)  - example: list of customers with column, filtered field: "agent_id"
2.

[2022-03-09 11:07] mvorisek commented on #1758
I can reproduce on `demos/collection/tablefilter.php` demo, PR 1671 does NOT fix it.

I belive it is a bug as View with different ID should have different filters store.

I would also extend the scope of this issue for the same View ID, but with different model set. Imagine a "detail page", the View ID is/can be the same, but filters should be not reused.

![image](https://user-images.githubuserco

[2022-03-10 11:08] DarkSide666 commented on #1758
That was exactly my case - details page which use model depending on GET[id] it gets.

[2022-03-10 16:58] mkrecek234 opened #1760 "Customizable formatting in UI persistence"
Idea:
- Not always is the Atk4/Data field content identical to its representation that we want to have.
- Example: you store a float value 8378583.783745 in the database - in tables or other UI elements, like text or messages, you want to define the format. E.g., 8,378,583.78 or 8378584.
- Solution: Approach to be able to add a UI characteristic to a model-specific field that defines the format.

[2022-03-21 13:28] mvorisek commented on #1759
feature request may be implemented here: https://github.com/atk4/ui/blob/1f3fb2f9cfe5471d87633944d4120cdeeec886ce/src/Form/AbstractLayout.php#L42 , not sure if we can impl. it in atk4/data directly, need repro code to check further, please submit

[2022-03-21 16:01] PhilippGrashoff commented on #1759
Hi @mkrecek234,

you can define a custom caption within the hasOne definition:
[code]

[2022-03-21 16:03] mvorisek commented on #1759
@PhilippGrashoff yes, this is a feature request to do that automatically and it makes sense to me if 1:1

but I need a simple code to repro, constructing these repro codes by myself takes a lot of time (and in some cases the repro circumstances are hard to figure out)

[2022-04-07 20:56] mkrecek234 commented on #1732
@ibelar Any idea how to fix this critical and major bug? Really limiting factor to make use of modals unfortunately.

Seems also that loading a Virtual Page as Modal from another Modal shows exactly the same issue as above - so not necessarily linked to Crud only, but loading a Modal from a Modal (and closing it, reopening another dynamically loaded Modal).

[2022-04-07 21:03] mvorisek commented on #1732
that should be simpler to debug, please post a minimalistic code and exact steps to reproduce

[2022-04-08 09:29] mkrecek234 commented on #1732
Hard to reproduce, in some instanced I could make it happen that also a modal was empty. In sample code of PR #1764 one of the modals causes a memory leakage.
Anyone an idea? The above video of myself was coded a bit differently: I defined custom Crud classes, and inside CustomCrud->setModel() I typically added then the VirtualPages. This causes the effect in my first video "doubling" the modals a

[2022-04-08 10:24] mkrecek234 commented on #1732
Highly strange - If I add another static modal inside the addModalAction right after $modalvp3 = ... using `$inactivemodal = \Atk4\Ui\Modal::addTo($v);`, the memory leakage disappears.

And the doubling of the modals, happens after I have opened twice the modals and closed with different records. If I then open the second lay modal a third time, the HTML code shows that two new modals are added wh

[2022-04-08 16:36] mvorisek commented on #1732
I confirm the initial submited issue and simplified the repro code to https://github.com/atk4/ui/blob/3fd832f729ad230dd918958c9fac09181266095f/demos/_unit-test/crud_gh1732.php using already present demo models

[2022-04-08 19:26] mvorisek commented on #1025
Should also fix Behat CI failures like:

[code]

[2022-04-10 17:54] mvorisek opened #1772 "RighPanel is not working in Modal"
every component should work in every component :)

[2022-04-10 19:10] mkrecek234 commented on #1772
@mvorisek Can confirm also that Crud inside right panel will render edit/add buttons non-functional.

[2022-04-10 19:35] mvorisek opened #1773 "Crud inside RightPanel is not wokring"
reported by @mkrecek234 in https://github.com/atk4/ui/issues/1772#issuecomment-1094350773

I belive this can be fixed easier than https://github.com/atk4/ui/issues/1772, but still marking as a feature, as I belive the support was never officially granted

[2022-04-13 15:47] #127 closed

[2022-04-13 15:53] mvorisek commented on #206
on upcoming 3.2 version it is fixed, updated repro code tested:

[code]

[2022-04-13 15:53] #206 closed

[2022-04-13 15:54] mvorisek commented on #310
@PhilippGrashoff please adjust the code to the latest develop (or at least 3.1 rel)

[2022-04-13 15:56] mvorisek commented on #404
closing as no response, @FabulousGee can you reproduce on the latest develop and/or 3.1 rel?

[2022-04-13 15:56] #404 closed

[2022-04-13 15:58] mvorisek commented on #456
@PhilippGrashoff is it still present and can you please post a complete repro code?

[2022-04-13 15:59] mvorisek commented on #877
@DarkSide666 is it still present and can you please post a complete repro code?

[2022-04-13 16:00] mvorisek commented on #1025
Should also allow to customize SUI, see related issue https://github.com/atk4/ui/issues/1257

[2022-04-13 16:07] mvorisek commented on #1539
maybe fixed by https://github.com/atk4/ui/pull/1769

@PhilippGrashoff is it still present and can you please post a complete repro code?

[2022-04-13 16:14] mvorisek commented on #1693
I confirm this issue, as 2nd section (`Dynamic Text`) is not affected, I belive this is atk4/ui issue instead of SUI/FUI one

[2022-04-13 16:18] mvorisek commented on #1737
fixed in the latest develop

[2022-04-13 16:18] #1737 closed, assigned to nobody

[2022-04-16 09:11] mvorisek commented on #1262
fixed in PR 1765

[2022-04-16 09:11] #1262 closed, assigned to nobody

[2022-04-23 08:14] #1379 closed, assigned to ibelar

[2022-04-23 14:55] mvorisek opened #1777 "Impl. temporary upload file storage on server"
from forum:

native FUI upload is available in unreleased v2.9

before any upload feature, this component should be fully tested in CI (now upload is not tested using Behat in atk4/ui)
- related issue: https://github.com/atk4/ui/issues/1394

then we should implement temporary file on server (as upload should happen before form is submit & allow form reload/resubmit /wo reupload)

then we can imple

[2022-04-23 20:04] #1699 closed, assigned to ibelar

[2022-04-23 20:04] #1732 closed, assigned to ibelar

[2022-04-24 09:53] #1741 closed, assigned to nobody

[2022-04-25 07:41] mvorisek commented on #1639
the developer must handle the upload by its own, to use managed impl., use atk4/filestore addon

[2022-04-25 07:41] #1639 closed, assigned to nobody

[2022-04-25 07:44] #758 closed

[2022-04-25 07:45] #420 closed

[2022-04-25 07:46] #339 closed

[2022-04-25 07:47] mvorisek commented on #213
no direct echo

[2022-04-25 07:47] #213 closed

[2022-04-25 07:48] #76 closed

[2022-04-25 07:49] #415 closed

[2022-04-25 07:50] #798 closed

[2022-04-25 07:50] mvorisek commented on #542
I belive this issue is fixed

[2022-04-25 07:50] #542 closed

[2022-04-25 07:52] mvorisek commented on #1482
closing in favor of https://github.com/atk4/core/issues/103

[2022-04-25 07:52] #1482 closed, assigned to nobody

[2022-04-25 07:53] mvorisek commented on #1322
see docs & demos/

[2022-04-25 07:53] #1322 closed, assigned to nobody

[2022-04-25 08:05] mvorisek commented on #885
currently we throw if a property does exist

your issue is legit, but we cannot implement it easily as `Factory::mergeSeed` does not know the target class (even if it is available in the 0th key, it may be changed again in another seed merge)

moving to atk4/core

@georgehristov if you know a good solution, please advise

[2022-04-25 08:35] mvorisek commented on #1773
reported as fixed

[2022-04-25 08:35] #1773 closed, assigned to nobody

[2022-04-25 20:39] mkrecek234 opened #1780 "Paginator & menu of tables/grids/cruds & Tabs not breaking properly on small width columns"
Steps to reproduce:
- e.g., add three columns in a view
- add a crud with menu bar and paginator in the first column
- fill with sufficient data to have many pages, so paginator is wider

Error:
- menu bar does not break responsively into next line (or better: fold into burger menu)
- Paginator does not responsively break properly into two lines - exceeds width into next column

![image](https://u

[2022-04-25 21:11] mkrecek234 opened #1781 "Demo broken in interactive/popup.php"
Steps to reproduce:
- Click into item in 3-column table
- Error: `TypeError: Atk4\Ui\AbstractView::assertInstanceOfApp(): Argument #1 ($app) must be of type object, null given, called in vendor/atk4/core/src/AppScopeTrait.php on line 76`

![image](https://user-images.githubusercontent.com/2228672/165317448-7212b9f4-4f20-4be4-804d-07ed17454010.png)

[2022-04-26 14:01] mvorisek commented on #1780
can you post a small repro code /w the not breaking paginator? is this atk4/ui or FUI issue?

[2022-04-27 22:34] mvorisek commented on #1780
`flex-wrap: wrap` set for selector `.ui.pagination.menu` fixes this issue:

![image](https://user-images.githubusercontent.com/2228672/165642394-7aeddaf7-893a-4604-bc16-4e4b31d394c7.png)

tested on `demos/interactive/paginator.php` demo

FUI issue: https://github.com/fomantic/Fomantic-UI/issues/2345

[2022-04-29 18:26] mvorisek commented on #1257
FUI issue: https://github.com/fomantic/Fomantic-UI/issues/2355

[2022-04-30 12:03] #1025 closed

[2022-05-05 15:17] mkrecek234 opened #1786 "Grid filter for hasOne relations"
Situation:
- You have a model with a hasOne reference, e.g. eye_color_id (1=Brown, 2=Blue, 3=...)
- You have a grid with added filters, also showing the field eye_color_id or eye_color.

Idea:
- The dropdown menu of the eye color filter should not show text filters like "contains" but should just show the valid 1:N entries like Brown, Blue, ...

Caveat: This only makes sense for hasOne references

[2022-05-08 11:31] #1257 closed, assigned to nobody

[2022-05-09 11:39] mhuser opened #1787 "Demo site is down"
As for yesterday and tried again today, seems the [demo site](https://ui.agiletoolkit.org/) is down.

[2022-05-09 11:40] mhuser commented on #1787
![image](https://user-images.githubusercontent.com/8080934/167402652-bfdb064c-2065-4f76-9a20-4b9d14d1c9e1.png)

[2022-05-09 13:18] DarkSide666 commented on #1787
I guess it's because of that certificate issue :(
Trying to reach @romaninsh

[2022-05-11 13:53] mkrecek234 opened #1789 "Form submit on Enter key press not working, if only one input field in form"
A Form with only one input field won't submit on enter key press. It will if there are two input fields or more...

Code to replicate:
[code]
Console warning on atkjs-ui-min.js 1:1102

[2022-05-11 16:39] mvorisek opened #1790 "Crud demo /w Array persistence is broken"
steps to reproduce:

1. open `demos/collection/crud3.php`
2. click edit icon on any row
3. notice, the Modal has empty fields

UPDATE: newly it throws:

![image](https://user-images.githubusercontent.com/2228672/192119050-bddc3f92-f182-49b0-a740-4f56cad11a91.png)

[2022-05-11 16:40] mvorisek commented on #1789
can be reproduced on `demos/form/form.php` demo (1st form has one field)

currently, the submit even is triggered twice somehow:

![image](https://user-images.githubusercontent.com/2228672/168533016-4fc2251a-8b1e-43a3-be67-bb4ffe4af781.png)

[2022-05-21 16:36] mvorisek opened #1792 "`Form::addControl('xxx', [Checkbox::class])` does not work /wo explicit type"
steps to reproduce:

1. open `demos/form-control/checkbox.php`
2. click "Save" on "CheckBoxes in a form" section
3. ![image](https://user-images.githubusercontent.com/2228672/169660966-57e81524-4537-4ac0-8ea0-601d9d1880ba.png)

[2022-05-21 19:15] #1781 closed, assigned to nobody

[2022-05-22 12:19] mvorisek opened #1795 "UserAction executors should render steps with native Fomantic UI"
steps to reproduce:

1. open `data-action/jsactions-panel.php`
2. click `Multi Step`

current design:

![image](https://user-images.githubusercontent.com/2228672/169694768-c3f1f4e8-4e28-431e-9294-e10f2ec1adc4.png)

expected design:

![image](https://user-images.githubusercontent.com/2228672/169694758-4060bd98-0a71-42b2-a807-36e5111eb302.png)

[2022-06-17 14:41] mkrecek234 opened #1799 "addDecorator with tooltip not working on grids with addTotals line"
Steps to reproduce:
1. Setup any grid or crud to have a decorator and also the table to have addTotals line:
[code]

2. If you keep the addTotals line it will throw an error:
[code]
If you delete the addTotals line, it will work.

[2022-06-17 21:32] mvorisek commented on #1799
I can reproduce with this code:

[code]

on `demos/collection/table.php`

but I get slightly different exception:

[code]

but the line is covered https://app.codecov.io/gh/atk4/ui/blob/develop/src/Table.php, so some unexpected data structure is passed

[2022-07-12 07:41] mkrecek234 opened #1802 "UI persistence currency_decimals not working"
The UI decimals by default is 2: If you have a stored field with 4 digits, however, UI does not round to 2 digits but shows 4. How can you show 2, but store 4?

[2022-07-12 11:51] mvorisek commented on #1802
This is intended design and a trade of between UX and the real data.

`atk4_money` type rounds to 4 decimal digits - https://github.com/atk4/data/blob/e091b675d32a17d839e918557f3e24ab6211b563/bootstrap-types.php#L33

The `currency_decimals` represents a min. digits to be displayed, see https://github.com/atk4/ui/blob/dbfcc4e1cc2fd5656b1efddd8327fd61cfe3c6c0/tests/PersistenceUiTest.php#L70

So if y

[2022-07-12 12:06] mvorisek commented on #1802
If you need to round some calculated data like total price, you can add an expressional field to your model:
[code]

[2022-07-12 12:29] #1802 closed, assigned to nobody

[2022-07-30 19:58] mvorisek opened #1809 "Filter with "" operator throws"
But it does not represent no/cleared filter, instead it filter for... IDK, it throws an exception when selected:

![image](https://user-images.githubusercontent.com/2228672/236906298-36aa40bd-95cf-4fa7-bb99-638a44551552.png)

can be reproduced on `demos/collection/tablefilter.php` demo

[2022-08-04 11:17] mvorisek opened #1811 "Review all `array_merge_recursive` usages"
`array_merge_recursive` can merge the data not as expected, review all usages in this repo. All other major repos has no use, thus fine.

related with https://github.com/atk4/data/issues/1046

[2022-08-05 13:24] mkrecek234 opened #1812 "z-index error on Crud in combination with RighPanel"
Steps to reproduce:
- Add a Crud to a View
- Add a RightPanel to a View

Bug:
If the horizontal scroll bar is visible, and the Panel is opened, the scrollbar is above the panel and not below

Seen only on  current Safari and Safari Technology Preview - Chrome does not show this error.

[2022-08-05 13:24] mkrecek234 commented on #1812
![image](https://user-images.githubusercontent.com/28671486/183086615-5fd6c8cd-3672-405a-9cb3-cd33160a2577.png)

[2022-08-05 13:25] mkrecek234 commented on #1812
![image](https://user-images.githubusercontent.com/28671486/183086740-36ebbdce-7821-4f73-8351-4cac6fc3cf2e.png)

[2022-08-07 08:35] mkrecek234 commented on #1728
@mvorisek No, there is not yet an example but it is very simple: If you have a form with an Accordion layout inside, and one field does not validate, the form is reloaded on save, the error message is attached to the failing field, but the user can't see it if the field is in one of the (closed) Accordions. Very confusing for the user. This also would apply to tabs I assume.

Improved behaviour: I

[2022-08-09 15:33] mkrecek234 commented on #1713
A solution for onClose event would also be needed not only for Modal but also for JsModal.

[2022-08-11 12:46] mkrecek234 opened #1813 "Lookup control writes 0 instead of NULL for nullable field"
- You have any Lookup for a field which is nullable in a Form with a connected Model (e.g. via hasOne reference)
- You have selected an entry of the Lookup and saved.
- You then select the empty entry of that Lookup and save again

Result: Atk4/Data tries to store 0, instead of NULL. This is wrong, it has to be NULL.
Sorry can't provide a quick demo, but this should be straightforward.
Funnily, in

[2022-08-17 15:10] mkrecek234 commented on #1813
@mvorisek I added sample code in here - just set the dropdown/lookup fields in first form to empty and press save.

https://github.com/atk4/ui/blob/bug_null_zero/demos/form/form.php

[2022-08-17 20:31] mvorisek commented on #1813
thank you - repro using demo is great, I tried, but I cannot reproduce it using it.

I tried /w 1st dropdown field. When I select empty value and save, empty value is sent (correctly) to the server.

When I select `noob`, `0` is sent. When I select `pro`, `1` is sent.

This is because the values are an enumeration and expected.

When all validation rules are satisfied, the form can be saved and gr

[2022-08-18 04:17] mkrecek234 commented on #1813
See here the screencast - the Lookup (=Product Category Id) behaves wrongly, wheras the Dropdown class (Product_Sub_Category) behaves correctly.

https://user-images.githubusercontent.com/28671486/185292599-ef9385e9-9a44-4df4-90a0-03b1a6337518.mov

[2022-08-18 09:16] mvorisek commented on #1813
I am sorry, I tested on `develop` and not `bug_null_zero`.

[2022-08-18 23:35] mvorisek commented on #1813
![image](https://user-images.githubusercontent.com/2228672/185511879-ca918067-8f06-451c-932d-b0d221728456.png)

is sent to the server, investigating why such value is set on dropdown render

[2022-08-19 00:05] #1813 closed, assigned to nobody

[2022-08-19 10:38] mvorisek commented on #1811
one use also in https://github.com/atk4/chart/blob/4866a37172667b244055d1813da88bb8ca1fd3e5/src/Chart.php#L91

atk4/chart should use also camelCase everywhere

[2022-08-19 11:39] mvorisek commented on #1789
@ibelar do you know how to fix this easily?

[2022-08-19 11:39] #1787 closed, assigned to romaninsh, DarkSide666, abbadon1334

[2022-08-19 11:41] mvorisek commented on #1394
done in https://github.com/atk4/ui/pull/1783

[2022-08-19 11:41] #1394 closed, assigned to nobody

[2022-08-19 11:53] mvorisek commented on #222
closing as stale, iterator can be converted to array using `iterator_to_array` function

[2022-08-19 11:53] #222 closed

[2022-08-19 12:49] mhuser commented on #1787
Great !

[2022-08-20 18:55] mvorisek opened #1817 "Nested form error reporting is broken"
Steps to reproduce:

1. open `/demos/form-control/lookup.php`
2. in `Lookup countries` section (1st section after the first lookup field) click `Save`
3. when submit atk4/data generates `Must not be null` validation exception, but this exception is currently caught by https://github.com/atk4/ui/blob/393dfc58ad0f519a2b860ebaa03c81382c727f60/src/Form.php#L263 and the generated JS that should set the

[2022-08-20 20:52] mvorisek opened #1819 ""Callback requested, but never reached" error in some demos"
Steps to reproduce:

1. open `/demos/basic/breadcrumb.php`
2. open some row/country like `Angola`
3. click `Save` on opened country, no edit even needed, you will get:

![image](https://user-images.githubusercontent.com/2228672/185765604-8b2094e4-d733-4ce9-b343-937c22f50104.png)

Problem also in `/demos/form/html-layout.php` when saving the 2nd (`Template samples`) tab form.

Also in `/demos/form/

[2022-08-20 20:56] mvorisek opened #1820 "Validation error is not reset completely on demo"
Steps to reproduce:

1. open `/demos/form/form2.php` demo
2. click `Save` in the 1ast (`Input new country information here`) form
3. write `Angola` into `Basic Country Information` field
4. click `Check Duplicate`
5. notice the field error dismiss, but the field remains to have red background:

![image](https://user-images.githubusercontent.com/2228672/185765753-bfdd0db8-5e0b-4952-a769-42049031c16

[2022-08-20 21:04] mvorisek opened #1821 "Accordion Section is unattached after form is saved in demo"
Steps to reproduce:

1. open `/demos/form/form-section.php`
2. click `Save` in 2nd form `Accordion Section in Form`
3. click `Section 2` - for 1st time, section is expanded
4. repeat step 3. - for this time, section is not expanded at all

it seems the problem exists in 1st click/section expand already, console output:

![image](https://user-images.githubusercontent.com/2228672/185765943-c98f3e78-

[2022-08-20 21:15] mvorisek opened #1822 "`form-control/lookup-dep.php` should be tested"
Currently `->dependency` is not covered: https://app.codecov.io/gh/atk4/ui/blob/develop/src/Form/Control/Lookup.php

[2022-08-20 21:19] mvorisek opened #1823 "Detail link in demo is not working"
Steps to reproduce:

1. open `/demos/collection/table.php`
2. click on any 1st column on like 4th row:
    ![image](https://user-images.githubusercontent.com/2228672/185766300-d120cc6d-5571-43d1-8bc4-2cf7f2ae2350.png)
3. notice page is reload (URL is changed), but no row detail is opened

[2022-08-20 21:30] mvorisek commented on #1789
can be also reproduced on `/demos/interactive/modal.php` demo

click `Multi Step Modal` and then (when input in modal is focused) press Enter key, reload flashes very quickly, but nothing happen

when submit thru `Save`, the following is shown:

![image](https://user-images.githubusercontent.com/2228672/185766619-d70af062-f010-4ade-b960-f3d63c984b7f.png)

I would expect the same result after Enter

[2022-08-20 21:48] mvorisek opened #1824 "Deduplicate (copied/almost copied) code across executors"
see https://github.com/atk4/ui/pull/1797/files#diff-c71e2cb745cff4e0ebadc30c45bd87e41e2f7039f49f31e2f13b2f30c6331a40L120

also https://codeclimate.com/github/atk4/ui/issues?category=duplication&engine_name%5B%5D=structure&engine_name%5B%5D=duplication

[2022-08-20 22:12] mvorisek opened #1825 "CRUD edit/delete ID is not property casted"
Steps to reproduce:

1. open `/demos/collection/crud3.php` demo
2. click edit or delete icon on some row
3. observe error:

![image](https://user-images.githubusercontent.com/2228672/185767692-700bdbee-c8ae-4068-99ad-ce17f821de04.png)

I belive this is because of no/wrong typecasting, as Array persistence expects strictly typed ID (int instead of string)

[2022-08-20 22:20] mvorisek opened #1826 "Checkbox error prompt is displayed very badly"
Steps to reproduce:

1. open `/demos/form/form5.php`
2. click `Save` on the 1st/left Form
3. observe the the checkbox error rendered very badly:

![image](https://user-images.githubusercontent.com/2228672/185767912-40c6e200-bece-4649-99ab-816fc5ec8a1a.png)

[2022-08-20 22:34] mvorisek opened #1827 "File import demo is broken"
`/demos/collection/multitable.php` and `/demos/collection/crud.php` (bottom right CRUD) demos shows zero records:

![image](https://user-images.githubusercontent.com/2228672/185768224-ec374a5b-3ffc-4327-97e3-3f92a9321051.png)

![image](https://user-images.githubusercontent.com/2228672/185768215-fd013a55-9afc-41fd-87dc-8afe5a9958be.png)

maybe this happends only when reimported, not sure, insvestig

[2022-08-27 04:31] mkrecek234 opened #1833 "i18n support"
In Atk4/Ui a number of strings like "Save", "Add", or "Delete" are hard-coded and thus localisation is not easily possible.

I suggest we make it centrally configurable in uiPersistence, but not sure what the best approach is:

In uiPersistence, We define a function _tUi(...) which by default returns null, but can be configured to be a callback function with the same parameters as _t(...) function

[2022-08-27 07:01] mvorisek commented on #1833
Please provide several repro/demo examples where the strings are hardcoded.

[2022-08-27 08:00] mvorisek commented on #1811
also `array_replace_recursive`, regex `array\w+recursive`

[2022-08-27 09:50] mkrecek234 commented on #1833
Form's save button: https://github.com/atk4/ui/blob/01d39d24694e4b4f63a576d090e55e0e97aaa9e4/src/Form.php#L76
EceutorFactory: https://github.com/atk4/ui/blob/01d39d24694e4b4f63a576d090e55e0e97aaa9e4/src/UserAction/ExecutorFactory.php#L56

[2022-08-27 09:54] mvorisek commented on #1833
Thank you and 👍 for posting links /w commit hash (instead of a branch that can change and line numbers can be out of date).

In the Form example, the value is set as property default, so no call to a method is possible here. What do you propose?

[2022-08-27 09:57] mkrecek234 commented on #1833
We should then remove the default in the property definition and load it in the init function by checking if _t function is null or otherwise set to 'Save' in this example, so somehting like

`$this->buttonSave = [Button::class, $this->getApp()->uiPersistence->_tUi('form.button.save') ?? 'Save', 'class.primary' => true];`

For the translation reference we might to define an automatic name that is

[2022-08-27 10:05] mvorisek commented on #1833
That would break DI if done in init, so need to be done in constructor, but that would break the possibility to override the variable default in child class.

So it would need to be a fallback... Quite hard to read.

Maybe be should define some grammar like `__atk4_translate(atk4.ui.form.button.save)__` or `__atk4_text(Save)__` which will be replaced by regex during rendering.

[2022-08-27 10:14] mkrecek234 commented on #1833
By fallback you mean, that it is only replaced if not yet set?
Grammar and replace in rendering sounds also very elegant. Your take, what coding structure would work best. Today we already have some configuration through uiPersistence->dateFormat etc., so it makes sense to me to keep the general structure eventually the same?

[2022-08-27 10:23] mvorisek commented on #1833
yes

quite complex thema, to support plural (in Czech for example, we have even different endings for {2, 3, 4} vs. {5, 6, ...})

normally translations are done with patters like 'Add %n pieces to basket' so the translation can reorder the words or even the variables

you mean moving formatting into localisation?

https://www.lionbridge.com/blog/translation-localization/localization-globalization-

[2022-08-27 10:28] mkrecek234 commented on #1833
Agree - any way to open up translation possibilities is better than what we have today. I think singular/plural things are very well considered if you look in atk4/i18n or the underlying Symfony repo - we can still think about to transmit further parameters to the translate function later on which allows for correct grammar/singular/plural stuff.

No don't mean to move formatting to localisation,

[2022-08-27 10:41] mvorisek commented on #1833
I have not used atk4/i18n in any project, does this library support pattern translations (like `Add %n pieces to basket`) or does it require translations id (`form.button.save`)?

If we have a lib /w pattern translations support, we can fuzzy tokenize the current render based on html/common text delimiters with a regex and "try translate" these matches. Of course, if some company would be named li

[2022-08-27 11:12] mkrecek234 commented on #1833
Atk4/i18n is a wrapper for Symfony\Translation made by @ibelar - this supports pattern translations, and also simple logic like male/female or other conditional texts. I'd think this is using Symfony/Translation is very good practice.

The function is defined `function _t(string $id, array $param = [], string $domain = null, string $locale = null): string`using an id (e.g. atk4.ui.form.button.save

[2022-08-27 11:20] mkrecek234 commented on #1833
If we can achieve where today hardcoded strings are present, instead  - if defined - a translate function is called passing an id like `form.button.save` as parameter and checking if something is returned, that would be perfect.

I think parametrisation (singular, plural) is not needed at this stage, but then could very easily be extended: You would just need to pass e.g. the number of deleted rec

[2022-08-27 12:31] mvorisek commented on #1833
by "pattern translations" I meant what I provided with an example - "Add %n pieces to basket" - can this be passed to atk4/i18n or is translation ID required?

`function _t(string $id, array $param = [], string $domain = null, string $locale = null): string` prototype requires we call this function on all places where rendered - can we do that? (read more for usages in atk4/data and core)

https:/

[2022-08-27 13:14] mkrecek234 commented on #1833
You always pass an id and parameters - the _t function will then lookup the id and get the pattern you mention from the language file an insert the parameters at the placeholder. See examples above.

If captions are used, there is no need to translate, as the developer can define captions as he likes including using _t function.

All methods requiring a string will be unchanged - the developer wil

[2022-08-27 13:23] mkrecek234 commented on #1833
So in brief: only where today is a hardcoded string to be localised, we try to fetch a localised string calling (if defined) a closure in Persistence/Ui - or take the old hardcoded string if no localised is offered.

[2022-08-27 14:05] mkrecek234 commented on #1833
Whenever core or data are using class name to describe, this is perfectly fine and remains like that. Today, you can always override eg a model name as a descriptor by setting model::caption.

So this should not be an issue for us in Ui.

I think we should keep it really simple - while just offering to attach a translation function optionally and not mandatory. There are not that many hard-coded s

[2022-08-27 14:08] mkrecek234 commented on #1833
The alternative would be to move all hardcoded strings to be configurable in the respective class (Form, Crud) or in Persistence/Ui. But this seems to me not so nice, especially if we have more than 5-10 strings. Surely though, this is the simplest way.

[2022-08-27 14:58] mvorisek commented on #1833
I see what you want - a translation method in ui persistence, which would be invoked from every place where an ui string is built [1].

This is reasonable.

In the ui persistence, the translation method can return the (untranslated) input by default. It should not return null, otherwise we will have to maintain en/default translations on two places.

When [1]/built = hardcoded in code statement (n

[2022-08-27 15:54] mkrecek234 commented on #1833
For validation messages that are rendered by Exception, that should be easy as they are defined in the developers user-defined models or views. It is easy to make available the _t function there and pass over the translated exception text to data - I did this already.

Same is true for all field names and model captions, as those are also just define using the caption property which already define

[2022-08-27 17:28] mvorisek commented on #1833
With the analysis above, Atk4\Data\Field caption should not be translated. Let's not discuss this case as the best solution might pop out during implementation.

What I stress is this:

Imagine company xxx having 2 repos. xxx/models and xxx/ui.

In xxx/models, the company defines all models (DB relations, views, migrations, ...). This repo requires (only) atk4/data, thus no translation is possible

[2022-08-27 22:30] #1827 closed, assigned to nobody

[2022-08-28 06:06] mkrecek234 opened #1836 "In forms, Accordion->activate(...) stopped working"
For Accordions in forms, the activate function to open Accordions on load worked until very recently (must have been introduced only max. in the last 7-10 days, as this commit still worked f8278d6934559eb8efd8f86013f39cc95bdb1475

This stopped working now, see demo - the first Accordion should open:

https://github.com/atk4/ui/blob/a120f0f4d1593a4dd10b8b3ad32668c6107d191b/demos/form/form-section-a

[2022-08-28 09:20] mvorisek commented on #1836
Thank you for reporting it. Problem is present since https://github.com/atk4/ui/commit/01d39d24694e4b4f63a576d090e55e0e97aaa9e4.

The problem is removed method override https://github.com/atk4/ui/commit/01d39d24694e4b4f63a576d090e55e0e97aaa9e4#diff-08f1560acb847ce226eb00aca9621dc3412618092cd61be204df26aaf98a7ecaL62

here you can see what causes a missing test with `getOwner()` 😃

[2022-08-28 12:01] mvorisek opened #1837 "Drop `legacy/v1` branches"
We will be dropping `legacy/v1` branches (and other closed (no longer supported) release branches) soon.

Here is a diff for documentation purposes before the branches are dropped:
- atk4/core `legacy/v1` branch HEAD vs. latest v1 tag - https://github.com/atk4/core/compare/1.3.10...8143b48440042c827e5b7c4247664aa5626088da
  - HEAD tagged as [1.3.11](https://github.com/atk4/core/releases/tag/1.3.11

[2022-08-28 13:23] mvorisek commented on #1837
atk4/core, atk4/data, atk4/ui legacy release branches tagged and deleted.

If you are using legacy branches as a dependency, update your `composer.json` based on the example.

[2022-08-28 13:23] #1837 closed, assigned to nobody

[2022-08-28 22:36] mvorisek opened #1838 "Readonly/disabled Dropdown form control must not be clickable/changeable"
Steps to reproduce:

1. open `demos/form-control/input2.php`
2. click on readonly or disabled `File Upload` control:
  ![image](https://user-images.githubusercontent.com/2228672/187097307-d882931a-21f2-46f6-a238-0d376054dcd4.png)
3. notice a file select dialog is shown and file was changed

[2022-08-30 04:55] mkrecek234 commented on #1833
If you separate into two repos, I think conceptually you in your projects then should set atk4/data model/field captions from your Ui repo when you instantiate them (thus also there you can then set it localised using the user's locale).

By definition, data should not be dealing with user interactions, thus also not translations. However, the caption properties in atk4/data are in a way a "link t

[2022-08-30 09:15] mvorisek commented on #1833
this is impossible from design perspective, as for ex. reference seeds are defined like: `model => [OrderModel::class]`

this is valid, maybe we should provide optional context

above, I have written:

maybe we should translate caption (commit from data) as well, then, you will be able to define it like `volume - expenses` and translate even the English text if needed

it is basically the same que

[2022-08-30 10:08] mkrecek234 commented on #1833
No, since the translation method requires an identifier, whereas the return string has to be a localised text. And if you did not configure translation, or the text is missing, then we would want the same nice captions that Atk4/Ui today renders, e.g., based on the field or model name: so field `article_id` becomes `Article ID`. If a localisation could be found for auto-generated _t('model.article

[2022-08-30 10:13] mvorisek commented on #1833
we need to update it

during refactoring of atk4/core I have also noticed there is some translation logic - https://github.com/atk4/core/tree/develop/src/Translator and some preparation to translate exceptions - https://github.com/atk4/core/blob/3d80f2a57a87c1577eba9734b0b4f291a721f44b/src/Exception.php#L26

that iface must be implemented by atk4/i18n

these theps are already mentioned in https://

[2022-08-30 10:24] mkrecek234 commented on #1833
It is not translated "twice" if you use default atk4/ui without any i18n repo. We talk here about maximum 10-20 strings which are existing today in the Ui views, like "Add", "Delete", "Edit", "Save" or so. It is not justified for that to force people to use i18n always - in unlocalised Atk4/Ui applications, this would be as fast as today:

$fieldCaption = ($this->getApp()->_tUi ? $this->getApp()->

[2022-08-30 10:28] mvorisek commented on #1833
good point

still, I do not like `'form.saveButton') ?? 'Save'` as it introduces some semi translation, there should be no translation at all or full support

[2022-08-30 10:33] mkrecek234 commented on #1833
This is why we should only test first if $this->getApp()->uiPersistence->_tUi is defined or not. If it is defined (=i18n support enabled), then call that closure, if not go with the default value. May be there are more elegant ways to code this logic - but I liked to concept to start an untranslated app using the handy Atk4/Ui automated rendering of captions based on field names, or default string

[2022-08-30 10:57] #1744 closed, assigned to DarkSide666, ibelar

[2022-08-30 10:57] #1746 closed, assigned to DarkSide666

[2022-08-30 14:31] #1838 closed, assigned to nobody

[2022-08-31 07:41] mkrecek234 opened #1843 "ScopeBuilder must support load/save"
demo https://dev.agiletoolkit.org/demos/form-control/scope-builder.php

Currently it outputs `Unexpected non-scalar value` on Save.

[2022-08-31 08:27] mkrecek234 opened #1844 "CardDeck default UserAction not working"
Steps to reproduce:
- add default CardDeck to any view
- set any model to CardDeck
- Press default UserAction 'Add' and enter entity

Error:
- Expected entity, but instance is a model
https://github.com/atk4/ui/blob/a8a08cfed516c5ffc1e7e0c54db8ab3e8122b0c4/src/CardDeck.php#L262

and here

https://github.com/atk4/ui/blob/a8a08cfed516c5ffc1e7e0c54db8ab3e8122b0c4/src/CardDeck.php#L296

Replacing $act

[2022-08-31 08:35] mvorisek commented on #1844
Yes, `$action->getModel()->isLoaded()` is definitely wrong.

In the past I put a lot of efford into https://github.com/atk4/data/pull/932 but there are some issues & limitations with phpstan itself although I filed and fixed many bugs there... Before releasing v4.0, it would be great if I can manage to run such static analysis at least one locally.

[2022-08-31 08:39] mvorisek commented on #1844
Is there any demo in demos/? Or can any existing demo be adjusted with one, two lines to reproduce there?

[2022-08-31 08:45] mvorisek commented on #1843
The problem is https://github.com/atk4/ui/pull/1730. How much is this important to you?

Previously, it used php serialization, which is a security problem, thus the ScopeBuilder save support was removed until it will be fixed.

[2022-08-31 08:59] mkrecek234 commented on #1844
See https://github.com/atk4/ui/tree/bug/card_deck_add_action
However since save is deactivated in demo, error not triggered.

[2022-08-31 09:34] mvorisek opened #1846 "CardDeck reformat after reload"
Steps to reproduce:

1. open `demos/collection/card-deck.php` demo
2. click on `Request Info` button
3. click outside the Modal
4. notice, the CardDeck is reformat - previously there were 4 cards per row, now there are 5

before reload:

![image](https://user-images.githubusercontent.com/2228672/187647682-d055ab31-9f6b-4266-a509-283acb521a98.png)

after reload:

![image](https://user-images.github

[2022-08-31 21:02] mvorisek opened #1848 "Card is not updated after edit action"
tested on demos in RW mode (commented out transaction throw/break and no `initPreventModification`):
- after edit: Card is not updated
- after delete: Card is not removed from the View
- after add: Card reloads (completely, and also quite slow with all ~250 countries CardDeck items on 1 page)

in RO mode (default):
- after add: no reload at all
- edit/delete testing is useless, until CardDeck upda

[2022-08-31 21:08] #1844 closed, assigned to nobody

[2022-09-01 10:13] mkrecek234 commented on #1833
@mvorisek Another thought on this - why don't we turn it around and on the Ui side getting any model/field captions like this:
- If model field's caption is set, take that ("Article Number")
- If not, check if translation _t function is set in uiPersistence, if so, call _t($model->field->getI18nIdentifier(), ...), so e.g. _t('model.article.article_id') = "Artikelnummer")
- If no translation availa

[2022-09-01 11:28] mvorisek commented on #1833
Are you defending translations by ID primary because atk4/i18n does not support is currently?

I understand your example with "volume", but as long as you extend the source text + translate default/English text, it is not an issue. Strictly said, this option will allow you to specify anything, also an "ID", as long as you translate these source texts...

[2022-09-01 12:12] mkrecek234 commented on #1833
atk/i18n is structure around identifiers like ‚model.article..article_name‘ - and this is what I mean by identifier. With this you can specidy anything.Am 01.09.2022 um 13:28 schrieb Michael Voříšek ***@***.***>:﻿
Are you defending translations by ID primary because atk4/i18n does not support is currently?
I understand your example with "volume", but as long as you extend the source text + transla

[2022-09-01 12:47] mkrecek234 commented on #1833
atk/i18n is structured around identifiers like ‚model.article..article_name‘ - and this is what I mean by identifier. With this you can specify anything in any language. And also passing any parameter to be incorporated in the localised string.

Please check the sample file I posted above from atk4/i18n for the translation file - these are the identifiers we need to use. And these can be auto-gene

[2022-09-01 14:26] mkrecek234 opened #1849 "CardDeck/general addUserAction icon support"
Today, the UserActions are all automatically rendered based on the UserAction's name, so 'Edit', 'Delete' or the like. The 'name' by nature becomes then also the caption for all buttons. In Cruds, the 'Edit' UserActions are shown by an edit icon, in Cards not.

Generally, it would be helpful if there is an easy and direct way to also set the 'icon' for a UserAction that Ui is taking. Consider this

[2022-09-01 15:12] mvorisek commented on #1849
slightly related with https://github.com/atk4/ui/issues/1848, I highly support unified look & feel (and impl.)

[2022-09-01 18:52] mkrecek234 commented on #1848
Regarding your comment on dedup CardDeck vs. Crud - I appreciate to see CardDeck just as another way of displaying a Crud, and having everything else the same. I made a quick overview of analogies, and also of parts that are missing in CardDeck implementation that are present though in Crud, not exhaustive, but a good starting point how a CardDeck derived from Crud could benefit from existing code

[2022-09-01 22:10] mvorisek commented on #1849
Initially, I thought this is supported, but not honored by CardDeck.

The UserAction is a class defined in atk4/data. This class cannot hold any UI specific information. `icon` is UI specific, as the possible values are defined by FUI.

this is correctly documented in https://github.com/atk4/data/blob/82fe55997a6c0cb73a982bfd86698d3a0ba9118d/src/Model/UserAction.php#L19

however, an `ui` property

[2022-09-02 05:08] mkrecek234 commented on #1849
Dogmatically I understand, but you can also be less strict, otherwise you would have to eliminate all field captions from atk4/data, as they are UI-specific. Would be a nightmare for ease of code. And icon can be nothing else than a caption - a descriptive element for the action.

So how to easily make a user action easily be shown by an icon rather the UserAction's name? Without adding dozens of

[2022-09-02 05:11] mkrecek234 commented on #1849
Understood for the default actions and also understood that we have to change that on the Ui side. I would though ask for adding the ui property to UserAction as in Field, that at least custom defined UserActions can easily be setup and configured to show icon

[2022-09-05 13:27] mkrecek234 opened #1853 "ScopeBuilder with hasOne reference not working"
Steps to reproduce:

1. Define two models with MySQL persistence, e.g. customer and agent, where contract has a hasOne reference to agent.
2. The hasOne reference needs to be set like this: `$this->hasOne('agent_id', ['model' => [Agent::class], 'required' => true])->addTitle()`;
2. Create a view with a form `$form` and add a ScopeBuilder to it.

When rendering, I receive this error:
![image](https

[2022-09-05 14:49] mvorisek commented on #1853
This is known/expected atk4/data limitation. We do not have to allow to create model from array here, as it might have negative performance implications if the `getTheirFieldName` getter is called often.

An already created model needs to be passed. I will check if we can do this easily.

[2022-09-05 19:51] mvorisek opened #1855 "ScopeBuilder does not work with boolean type"
When I open `demos/form-control/scope-builder.php` demo and change the model to `Atk4\Ui\Demos\File` which has `boolean` field and then:

click/add that boolean field:

![image](https://user-images.githubusercontent.com/2228672/188506895-3402d425-9269-439a-912b-3564816c59f9.png)

and click `Save` (on the ScopeBuilder demo) I get:

![image](https://user-images.githubusercontent.com/2228672/18850700

[2022-09-05 19:56] #1853 closed, assigned to mvorisek

[2022-09-05 20:25] mkrecek234 commented on #1601
Fixed by #1655

[2022-09-05 20:38] mvorisek commented on #1601
@mkrecek234 when some PR fixes some issue, the issue is closed by that PR when merged, no need to close it before...

[2022-09-06 02:42] mkrecek234 commented on #1601
This is a duplicate issue so no need to keep this topic open twice.

[2022-09-06 03:47] mvorisek commented on #1601
where is the 2nd one?

the PR says it fixes this one...

[2022-09-06 04:05] mkrecek234 commented on #1601
You are right, I had erroneously memorised the PR discussion as an issue. Reopening until you contribute the test😉

[2022-09-06 07:35] mkrecek234 commented on #1855
@mvorisek There is another issue with ScopeBuilder and `boolean` type - please use the following conditioned model in scopebuilder demo and you'll see it:

[code]

As type strictness has increased in atk4/data, the getOption function passing a `$value = false` will render an exception and not allow boolean type in this function:
https://github.com/atk4/ui/blob/28fc62448334a72943b23527c3889e8a4dda0

[2022-09-06 07:38] mkrecek234 commented on #1855
P.S. Only if is_folder = false is converted to "0" in string, the radio buttons of the rule are properly pre-selected to "No". So a proper type conversion from boolean to string for $value in this case is required to make it work properly.

[2022-09-06 10:22] mvorisek opened #1856 "StepExecutor does pass args /w fields & no preview"
Steps to reproduce:

1. add action with args - modify https://github.com/atk4/data/blob/be7c84f9f8d125025761485c4b4f2d203fad545c/src/Model/UserActionsTrait.php#L153 action to make it non-system
2. open `demos/data-action/jsactions2.php` demo
3. click on `Validate` action
4. input some `intent` arg
5. click `Next`
6. click `Validate`
7. an exception is shown:
   ![image](https://user-images.githubu

[2022-09-07 10:24] #1836 closed, assigned to nobody

[2022-09-07 18:58] #1601 closed, assigned to ibelar

[2022-09-08 11:17] mvorisek commented on #101
Should, but IDs are unique, so this is only a feature request.

[2022-09-08 11:18] mvorisek commented on #447
@PhilippGrashoff ping

[2022-09-09 12:20] mkrecek234 opened #1857 "Grid/Crud addModalAction and addAction button not working anymore"
Steps to reproduce:
1. You have an extended Crud class where you add `$this->addActionButton(['icon'=>'star'], function ($v, $id) use ($grid, $model) { return 'Hello world';  });`inside the Crud->setModel function (and after parent::setModel()).
2. You add the Crud to a normal app. When rendered, button is there, but a click won't do anything.

Interesting:
In other scripts where I do not run addA

[2022-09-09 12:24] mvorisek commented on #1857
@mkrecek234 when you describe code in steps to reproduce, please also add the code to your description. I can then copy it simply, be sure the issue is really present and test/debug/fix it.

[2022-09-09 12:27] mkrecek234 commented on #1857
@mvorisek Here are code snippets for better understanding
[code]

The class then is used in this app script:
[code]

[2022-09-09 12:31] mkrecek234 commented on #1857
Strangely, the addAction buttons do work in this script:
[code]

[2022-09-09 20:39] mvorisek commented on #1857
@mkrecek234 please see https://github.com/atk4/ui/commit/996fa310de5a5dcf19d6465bbb469f8f49b8e5f5 - please checkout the repro branch and reproduce the problem on `demos/collection/crud.php`.

I copied the code your posted in https://github.com/atk4/ui/issues/1857#issuecomment-1241916619 and the buttons:

![image](https://user-images.githubusercontent.com/2228672/189439228-9cffc003-2dad-4e2d-bbb3-0

[2022-09-11 09:56] mvorisek commented on #1539
@PhilippGrashoff thank you for your reaction, it is already fixed (and you must use `name` instead of `id` property, `id` property no longer exists)

![image](https://user-images.githubusercontent.com/2228672/189521581-468641af-9a35-43cd-b852-5c1bcf0a9d6c.png)

[2022-09-11 09:56] #1539 closed, assigned to PhilippGrashoff

[2022-09-11 18:01] mkrecek234 opened #1858 "New onRowClick implementation stops action buttons and dropdowns from working"
With further changes, the onRowClick implementation renders action buttons in tables inactive, as well as action buttons in dropdowns.

This line has to be adjusted
https://github.com/atk4/ui/blob/ebbd3b952b44669d7793fa45e8995783ea17134c/src/Table.php#L513

to
[code]
- so remove .ui.button and .ui.dropdown please.

[2022-09-11 18:41] mkrecek234 commented on #1858
Additional comment: If you remove .ui.drodown class from the list, it is possible to click the arrow-down icon to open an "Actions..." menu, and then launch any of the action menu items.

However, if you click left of the down-arrow (so e.g., on "Actions..." text), it would not stop propagating and then launch the onRowClick action. Still this is better than today's code which renders all buttons

[2022-09-11 18:47] mkrecek234 commented on #1857
Issue identified and detailed in issue #1858
Thus, closing this issue as it is a bug in the onRowClick implementation, and not a addAction issue per se.

[2022-09-11 18:47] #1857 closed, assigned to mvorisek

[2022-09-11 19:54] mvorisek commented on #1857
ok, deleting `repro_1857` branch

[2022-09-12 13:08] abbadon1334 opened #1860 "ContainsXxx field should be editable in UI"
Example code
[https://gist.github.com/abbadon1334/313e166efb598b8a416d6241c62ddbbb](https://gist.github.com/abbadon1334/313e166efb598b8a416d6241c62ddbbb)

if ContainsOne or ContainsMany fields in persistence are not null and an exception is raised :
Critical Error
Atk4\Data\ValidationException: ContainsXxx does not support unmanaged data modification

in Crud ContainsOne/ContainsMany must be not v

[2022-09-16 13:38] mvorisek opened #1861 "Custom modal form executor"
from chat:

Still my custom modal executor stuff - I am convinced this would make UserActions more valuable to everyone. So far I cannot see that we have what we need. So may be I explain again if I may:
- In a Model::init function you can add a UserAction that will open a Modal (this exists today). BUT:
a) The form is NOT automatically rendered to collect the "Args" fields defined in the UserActi

[2022-09-16 13:49] mvorisek commented on #1861
Before implementing this feature, https://github.com/atk4/ui/issues/1856 should be fixed.

[2022-09-16 14:05] mvorisek commented on #1861
'executor' key/seed is problematic from OOP design as discussed in https://github.com/atk4/ui/issues/1849#issuecomment-1234837309 - but we can probably use `ui.executor` key instead, this is minor.

@mkrecek234 why do you want executor to be declared directly instead of defined thru `Atk4\Ui\UserAction\ExecutorFactory`?

What base class does `CustomModalExecutor` extend?

`CountryEditAgeForm` the

[2022-09-19 09:37] mkrecek234 commented on #1861
@mvorisek

My key goal is that when adding a UserAction to a model we should be able to very easily pass also the custom-defined form to collect the arguments required. Alternatively even the view (including the form) to collect the arguments. Currently I understand changing the ExecutorFactory is not a one-liner in code which it should be. At least for my code 90% of atk4/data actions involve to

[2022-09-19 15:14] mkrecek234 opened #1862 "Basket demo does not work fully"
- Go to demo `https://ui.agiletoolkit.org/demos/interactive/popup.php`
- Add some items in cart
- Hover on cart, according to instruction a click on item should remove it, and also there is a checkout button
- All clicks (remove item / checkout) won't do a thing

[2022-09-19 18:18] #1858 closed, assigned to nobody

[2022-09-19 18:30] mvorisek commented on #1862
the problem is caused by https://github.com/atk4/ui/blob/a036f67947e285f90ff7b7e0e3fc37fa0c9e7acb/src/View.php#L133

before the data are set, the ID = 0, but then reindexed using the linked code and remove ID is send reindexed because of it

[2022-09-19 18:48] mvorisek commented on #1862
see fix in https://github.com/atk4/ui/tree/fix_1862_cart_demo

there are still two issues I would like to be solved before merge:

a) add via "Browse" does not work, when an item is clicked, nothing happens (problem present since introduced in https://github.com/atk4/ui/pull/427)
b) menus are displayed on hover, but when clicked the same time, they close - https://github.com/fomantic/Fomantic-UI/i

[2022-09-19 19:50] mvorisek commented on #1861
Currently when there are no args/fields/preview `ExecutorFactory::STEP_EXECUTOR` is used which implied ModalExecutor. Otherwise JsExecutor is used.

There is https://github.com/atk4/ui/blob/01d39d24694e4b4f63a576d090e55e0e97aaa9e4/src/UserAction/ExecutorFactory.php#L168 I agree, the method `ExecutorFactory::getModelId` is horribly named, but this method can be used to register a custom executor fo

[2022-09-24 10:55] #1693 closed, assigned to nobody

[2022-09-24 15:44] AdityaMathur25 commented on #1789
hi i want to work on it please let me know if i can contribute to it ?

[2022-09-24 16:18] mvorisek commented on #1789
PR is welcomed

[2022-09-24 17:10] VividhPandey003 commented on #1077
Hey, I am a beginner. It was mentioned with "good first issue" label. Could you please explain me the issue so if I'm able to I'd like to contribute

[2022-09-24 17:15] VividhPandey003 commented on #1077
Hey, I am a beginner. It was mentioned with "good first issue" label. Could you please explain me the issue so if I'm able to I'd really love to contribute

[2022-09-24 17:35] mvorisek commented on #1077
PR welcomed, see the screenshot red note

[2022-09-24 21:18] mvorisek commented on #1790
duplicate of https://github.com/atk4/ui/issues/1825

[2022-09-24 21:18] #1790 closed, assigned to nobody

[2022-09-25 07:46] AdityaMathur25 commented on #1789
can you assing me this

[2022-09-25 10:39] VividhPandey003 commented on #1077
Hello again, Sorry.. I am not able to understand the image well regarding how to fix it. could you please tell me how can I access the Wizard, and view the dashboard

[2022-09-25 11:10] mvorisek commented on #1077
git clone this repo, run composer update and then open `demos/interactive/wizard.php` demo

[2022-09-26 09:26] mvorisek commented on #1738
add a test and test if problem is solved with https://github.com/atk4/ui/pull/1866

[2022-09-26 11:47] mkrecek234 commented on #1738
Problem seems to persist after upgrade to Fomantic UI 2.9.0-beta.320- the html special chars are stored returned from the control, whereas it should return the non-HTML-encoded characters like "<" or ">" rather than "&gt;" or "&lt;"

[2022-09-26 23:05] #1825 closed, assigned to nobody

[2022-09-27 14:07] mkrecek234 commented on #1365
@mvorisek here are typical use cases for row level action rendering:
- Varying access rights for the user per row - e.g., user is allowed to view all customer records, but edit only his own
- Completed tasks may no longer be edited or deleted, open tasks continue to have activated edit/delete buttons
- etc.

[2022-09-27 14:40] mkrecek234 commented on #1365
Check also https://github.com/atk4/ui/pull/1868 - addAction isDisabled feature already allows for row-level closure, see also extension to addModalAction isDisabled support in that PR.

[2022-09-28 11:31] mvorisek commented on #1826
related https://github.com/atk4/ui/issues/447

[2022-09-28 11:32] mvorisek commented on #877
ping @DarkSide666

[2022-09-30 14:55] mvorisek commented on #1861
(copied from Discord chat)

I would split your CustomModalFormExecutor into 4 points:
- custom form class - solved by `ModalExecutor::$formSeed` seed, custom class (extending Form) can be defined
- custom executor class - `ExecutorFactory::registerExecutor()` and `ExecutorFactory::registerTypeExecutor()` methods can be used to define custom executor seed (for custom Form - 1st point, or even a cus

[2022-10-01 11:07] mvorisek commented on #550
closing

[2022-10-01 11:07] #550 closed

[2022-10-01 11:13] mvorisek commented on #1021
closing as this is purely non Form Control

[2022-10-01 11:13] #1021 closed

[2022-10-01 21:57] mvorisek opened #1875 "Include JS/CSS resources only once"
should be probably solved in atk4/ui

![image](https://user-images.githubusercontent.com/2228672/193428511-63e3a995-c8dd-447a-9415-f53bb760b1d4.png)

see demos

same problem in atk4/ui `atk4/ui/demos/interactive/jssortable.php` demo

[2022-10-01 22:59] mvorisek commented on #1727
@mhuser is there anything to be improve in atk4/ui?

[2022-10-02 10:52] mhuser commented on #1727
Hello @mvorisek thank you a lot for asking!

I find atk4/ui is a really great tool!

When starting to use `Grid` I stumbled on this:
It is easy to create a grid with a model and some conditions. When interacting with it, it is also very straightforward to

1. use `$grid->menu->addItem(...);` to pop a `JsModal` and add a new record or perform an action on all records
2. use `$grid->addModalAction(.

[2022-10-02 11:09] #405 closed

[2022-10-02 11:13] mvorisek opened #1877 "Add checkbox to table header to select/unselect all"
When row selection is enabled, there should be "master" checkbox in the table header to select/unselect all rows.

Feature request from https://github.com/atk4/ui/issues/1727#issuecomment-1264612174.

It should probably still select the rows in the current page only.

related demo: `demos/collection/grid.php`

maybe add support for `shift` key to add support for range selection

[2022-10-02 11:15] mvorisek commented on #1727
Thank you for the perfect analysis.

If you can, please submit a PR with an improvement.

opened https://github.com/atk4/ui/issues/1877, it is a separate issue

[2022-10-02 11:20] mvorisek commented on #1720
another example is https://github.com/atk4/login/commit/f475d9593711f0984e9689121f1f376d033383b9 and `atk4/login/demos/admin-roles.php` demo

when

![image](https://user-images.githubusercontent.com/2228672/193451231-451dcb4b-73f8-4f5c-a9e8-44e58e11bcbc.png)

is clicked and then

![image](https://user-images.githubusercontent.com/2228672/193451245-0391f1df-b9bb-4bf8-a7d0-dfca5494ef47.png)

is clic

[2022-10-02 17:16] mvorisek commented on #513
![image](https://user-images.githubusercontent.com/2228672/193467173-7353ac0c-28fb-471e-bfe8-273ed4f9b302.png)

fixed in https://github.com/atk4/ui/pull/826, one doc leftover to be removed...

[2022-10-02 17:16] #513 closed

[2022-10-02 19:12] mvorisek commented on #140
@DarkSide666 what is currently the best option and how can this be improved?

[2022-10-02 19:13] mvorisek commented on #1713
related with https://github.com/atk4/ui/issues/1378

[2022-10-02 20:29] mvorisek commented on #1749
duplicate of https://github.com/atk4/ui/issues/1877

[2022-10-02 20:29] #1749 closed, assigned to ibelar

[2022-10-02 20:29] mvorisek commented on #1748
related/selection with https://github.com/atk4/ui/issues/1877

[2022-10-02 20:54] #1792 closed, assigned to nobody

[2022-10-02 21:14] mvorisek commented on #1728
Accordion Section activate on error is/was supported and was fixed by https://github.com/atk4/ui/pull/1863.

This issue is about general support. A test for Accordion and Tab should be added. And both must be activated even if insined nested structure, like Accordion->Tab->Tab->Accordion->section with an error.

[2022-10-02 21:19] #324 closed

[2022-10-02 22:22] mvorisek opened #1880 "Modal should set `observeChanges` by default"
related with https://github.com/atk4/ui/pull/334

currently in most of the Modal usage `observeChanges` is enabled manually

see also related discussion: https://github.com/atk4/ui/pull/553

[2022-10-03 21:45] mvorisek commented on #1817
maybe related with https://github.com/atk4/ui/issues/1821

[2022-10-03 21:47] mvorisek commented on #1444
closing as we execute the changes, but roll them back before the transaction is closed

[2022-10-03 21:47] #1444 closed, assigned to nobody

[2022-10-03 21:50] mvorisek commented on #752
closing in favor of https://github.com/atk4/ui/issues/1860

[2022-10-03 21:50] #752 closed

[2022-10-03 21:52] mvorisek commented on #498
fixed by https://github.com/atk4/core/pull/329 if the property is not present, if not present in template, error is correct

[2022-10-03 21:52] #498 closed

[2022-10-03 21:53] mvorisek commented on #402
duplicate of https://github.com/atk4/ui/issues/1728

[2022-10-03 21:53] #402 closed

[2022-10-03 21:54] mvorisek commented on #338
there are probably more methods to document...

[2022-10-03 21:54] #338 closed

[2022-10-03 21:54] #336 closed

[2022-10-03 21:56] mvorisek commented on #358
Calendar date/time/datetime control is already present, color should have some color picker integration... PR welcomed.

[2022-10-03 21:56] #358 closed

[2022-10-03 21:58] mvorisek commented on #203
unhandled echo is handled very strictly already

[2022-10-03 21:58] #203 closed

[2022-10-03 21:59] #122 closed

[2022-10-03 22:00] mvorisek commented on #128
fixed and tested by https://github.com/atk4/ui/blob/0d31ca39b3562b2bae1a49ecb5eced17383c5a38/tests-behat/checkbox.feature

[2022-10-03 22:00] #128 closed

[2022-10-03 22:03] #214 closed

[2022-10-03 22:04] mvorisek commented on #605
duplicate of https://github.com/atk4/ui/issues/1728

[2022-10-03 22:07] mvorisek commented on #1014
fixed to `JsSearch|null` already

[2022-10-03 22:07] #1014 closed

[2022-10-03 22:07] #605 closed

[2022-10-03 22:11] #433 closed

[2022-10-03 22:11] mvorisek commented on #433
in demos the CRUD is stretched

[2022-10-03 22:12] mvorisek commented on #1375
related to https://github.com/atk4/ui/issues/1860

[2022-10-03 22:19] mvorisek commented on #309
this is not akt4/ui problem, should be solved in https://github.com/atk4/outbox

[2022-10-03 22:19] #309 closed

[2022-10-03 22:24] #272 closed

[2022-10-03 22:25] mvorisek commented on #142
no response, please reply if the problem is still present

[2022-10-03 22:25] #142 closed

[2022-10-03 22:27] mvorisek commented on #172
needs demo/repro code, let's close it for now

[2022-10-03 22:27] #172 closed

[2022-10-03 22:27] mvorisek commented on #180
closing in favor of https://github.com/atk4/ui/pull/286

[2022-10-03 22:27] #180 closed

[2022-10-03 22:30] mvorisek commented on #1159
closing as wild feature request, maybe someday, help welcomed

[2022-10-03 22:33] mvorisek commented on #754
duplicate of https://github.com/atk4/ui/issues/1860

[2022-10-03 22:33] #754 closed

[2022-10-03 22:33] mvorisek commented on #676
@DarkSide666 please update your issue againts the latest develop

[2022-10-03 22:34] mvorisek commented on #456
no response, closing

[2022-10-03 22:34] #456 closed

[2022-10-03 22:38] mvorisek commented on #237
`App::caughtException()` method can be overriden to output less info

closing for now, but feel free to comment

[2022-10-03 22:38] #237 closed

[2022-10-03 22:39] #1698 closed

[2022-10-03 22:40] mvorisek commented on #249
in the latest atk4/data we always delete thru model /w all hooks executed, thus an exception is correctly thrown

[2022-10-03 22:40] #249 closed

[2022-10-03 22:42] mvorisek commented on #424
some work started in https://github.com/atk4/ui/blob/d8b145f8/src/App.php#L633

repro:
[code]
I think we can detect absolute path easily and run it thru `App::createRequestPathFromLocalPath()`

[2022-10-03 22:47] mvorisek commented on #211
CRUD is working with array persistence and tested in https://github.com/atk4/ui/blob/91c497f86958fd09a5267d493f06c6a4c4a50c8c/tests-behat/crud.feature#L60

[2022-10-03 22:47] #211 closed

[2022-10-03 22:48] mvorisek commented on #973
closing in favor of https://github.com/atk4/ui/pull/286

[2022-10-03 22:48] #973 closed

[2022-10-03 22:49] mvorisek commented on #891
currently some customization is possible with flatpickr

[2022-10-03 22:49] #891 closed

[2022-10-03 22:52] mvorisek commented on #161
closing now, PR welcomed

[2022-10-03 22:52] #161 closed

[2022-10-03 22:54] mvorisek commented on #1126
closing in favor of https://github.com/atk4/ui/issues/1760

[2022-10-03 22:54] #1126 closed, assigned to nobody

[2022-10-03 22:56] #216 closed

[2022-10-04 06:30] mvorisek commented on #1259
duplicate of https://github.com/atk4/ui/issues/1691

[2022-10-04 06:30] #1259 closed, assigned to nobody

[2022-10-04 18:49] mvorisek commented on #1821
fixed/tested in Fomantic 2.9.0

[2022-10-04 20:59] mvorisek commented on #512
dropdown focus/dropdown open is related to https://github.com/fomantic/Fomantic-UI/pull/2475

[2022-10-04 22:44] #1880 closed, assigned to nobody

[2022-10-05 07:24] mkrecek234 opened #1883 "Modal JS onComplete error in latest develop"
- I have a JsModal which is opened from a page.
- Inside this JsModal, there is a Crud which opens another Modal on row click.
- Having updated to the very latest develop branch, I now get this JS error if I click on the first Js Modal's Crud row - and the next JsModal is not opening but stuck at a small window with the "Loading..." message.

![image](https://user-images.githubusercontent.com/2867

[2022-10-05 07:27] mvorisek commented on #1883
please post a minimalistic repro code with a steps to reproduce

[2022-10-05 07:34] mvorisek commented on #1883
the browser console screenshot indicates a 500 server error

maybe you use some of the removed methods by https://github.com/atk4/ui/pull/1881?

not displaying the AJAX problem to user is related with https://github.com/atk4/ui/issues/1720 - for now, open the network browser developer tools tab and copy the server response here

[2022-10-05 07:34] mkrecek234 commented on #1883
Just analysed it further: The reason was an exception in the view that was assigned to the Modal. The exception was not visible, but resulted in the above JS code. For repro, just create a View that causes an Exception, and load it into a Modal, then the above JS code will fire. Not very developer-friendly.

[2022-10-05 07:36] mvorisek commented on #1883
yes, see my last post - so you figured the problem and the only atk4/ui issue is not showing the error which is known as https://github.com/atk4/ui/issues/1720, right?

[2022-10-05 07:37] mvorisek commented on #1720
another easy steps to reproduce/modal usecase described in https://github.com/atk4/ui/issues/1883#issuecomment-1268061493

[2022-10-05 07:55] mkrecek234 commented on #1883
Yes, correct, thus, I will close this issue

[2022-10-05 07:55] #1883 closed, assigned to nobody

[2022-10-05 12:01] mvorisek opened #1886 "Javascript coverage must be collected from Behat browser testing"
for `js/` files and reported to CodeCov

some tutorial for setup: https://docs.teamscale.com/howto/recording-test-coverage-for-javascript/#source-maps

needs probably #1045 / JS source map

[2022-10-05 21:54] mvorisek commented on #1817
The problem is the form is not using the same field names as the generated exception. We should validate the model first and any exception comming from usage later should not be handled.

[2022-10-05 22:52] mvorisek opened #1889 "UA execute exception should not be handled explicitly"
Currently `StepExecutorTrait` trait does handle an exceptions except `ValidationException`.

This is not for form field error handling, it is historical, see related https://github.com/atk4/ui/pull/896#issuecomment-579345788.

There should be no intermediate custom exception handling.

I do not know any demo to reproduce, code for Behat testing must be probably written newly.

code: https://github

[2022-10-06 00:37] mvorisek commented on #1820
seems fixed

[2022-10-06 00:37] #1820 closed, assigned to nobody

[2022-10-06 00:38] #1817 closed, assigned to nobody

[2022-10-06 07:57] #1821 closed, assigned to ibelar

[2022-10-06 11:30] #1045 closed, assigned to nobody

[2022-10-07 17:59] #1886 closed, assigned to nobody

[2022-10-08 01:13] mvorisek opened #1893 "Calendar demo submit is broken"
Steps to reproduce:

1. open `demos/form-control/calendar.php`
2. click Save

![image](https://user-images.githubusercontent.com/2228672/194680268-36cd8d48-7c34-48f9-b3e5-b1dd2485f22a.png)

[2022-10-09 08:05] mvorisek commented on #512
if we can detect "initial form opening/focus", then we should be able to stop the open via https://github.com/fomantic/Fomantic-UI-Docs/blob/c019739a5c5b9472c7725d794a68b85a6c46fca9/server/documents/introduction/new.html.eco#L62

[2022-10-09 08:19] mvorisek commented on #512
fixed in Fomantic-UI 2.9.0 https://github.com/fomantic/Fomantic-UI-Docs/blob/c019739a5c5b9472c7725d794a68b85a6c46fca9/server/documents/introduction/new.html.eco#L218

[2022-10-09 14:56] mvorisek commented on #1875
related with AJAX/lazy load https://github.com/atk4/ui/pull/1896

[2022-10-09 15:26] mhuser commented on #1727
Thank you.

Let's try it. This will enable me to better understand what is going behind the hood and I will be the first to benefits from it.

[2022-10-10 00:25] mvorisek commented on #1819
`/demos/basic/breadcrumb.php` - wrong use of sticky

`/demos/form/html-layout.php` - no `$form->onSubmit`, the Callback exception should be improved

[2022-10-10 10:17] mvorisek commented on #1812
RightPanel should be migrated to Fomantic-UI flyout - https://fomantic-ui.com/modules/flyout.html

note for myself - always push to body, see https://fomantic-ui.com/modules/flyout.html#scrolling-content example and console log:
![image](https://github.com/atk4/ui/assets/2228672/37671562-d1ff-4c2b-8f00-61d3e96a837b)

[2022-10-10 11:44] #512 closed

[2022-10-10 12:36] mvorisek opened #1900 "Modal autofocus is broken for dropdown"
Thanks to Fomantic-UI 2.9.0 which prevents dropdown open on focus we should focus dropdown field if it is the 1st one in the modal.

Currently we do input field autofocus in https://github.com/atk4/ui/blob/c535b9b45804394905e27506dae7c3df31f9f6d3/js/src/services/modal.service.js#L140 which has no dropdown support.

related to https://github.com/fomantic/Fomantic-UI/issues/2490

once the Fomantic-U

[2022-10-10 12:48] mvorisek commented on #1789
fixed in Fomantic-UI 2.9.0 (merged into develop already)

[2022-10-10 12:48] #1789 closed, assigned to nobody

[2022-10-13 10:04] mkrecek234 opened #1901 "CRUD style changed since Fomantic-UI 2.9.0"
Cruds now have a separator line between menu bar and the grid table - is this intentional? I think it is a waste of space:

![image](https://user-images.githubusercontent.com/28671486/195567787-22ef200b-ed2a-48f2-8391-c4ed8e622efc.png)

[2022-10-13 23:08] mvorisek commented on #1901
good UX catch, using too much real estate for nothing is of course bad, marking as a bug

I confirm this was not present with 2.8.8, hower the new FUI behaviour seems correct.

The problem is in https://github.com/atk4/ui/blob/c7e1960eae0e69338fd8f2400b4e761b229a773d/template/grid.html#L5 `vertical segment` present introduced in https://github.com/atk4/ui/pull/528

probably introduced by a mistake

[2022-10-14 10:13] mvorisek commented on #810
Currently multiline lookup is buggy, like in demo `demos/form-control/multiline.php`:

![image](https://user-images.githubusercontent.com/2228672/195822465-7a8a1d97-dc69-46a9-bfba-279b69bfc531.png)

it opens with options defined in the items data instead of the source data, something must be written to fetch the data from API first

[2022-10-15 17:17] mvorisek commented on #1860
ContainsXxx should imply nested CRUD, there is some old multiline demo for it https://github.com/atk4/ui/blob/51fb72710525baf51e98e479b0f4d8581845afa8/demos/form-control/multiline-containsmany.php

related with https://github.com/atk4/data/pull/1004 change made to address https://github.com/atk4/data/issues/881

containsXxx should behave like ref traversal, except the data are not in a different t

[2022-10-18 04:54] mkrecek234 opened #1908 "neverPersist and hasOne added fields not working properly"
Steps to reproduce:
- You have a model which has a hasOne relation to parentModel
- You addFields from the parenModel, say address and language.
- You have a form where you manually addControls, including controls for language and address, but you set neverPersist to false ( addControl([...],['neverPersist' => false])

On submit you perform a model->save.

Expected behaviour, all fields where cont

[2022-10-18 06:50] mvorisek commented on #1908
please post here a minimalistic code with 2 modeld and ui code neededto reproduce

[2022-10-18 14:23] #1395 closed, assigned to nobody

[2022-10-19 16:43] mvorisek commented on #1723
`demos/interactive/tabs.php` is fixed, the original issue is however still present

[2022-10-19 19:25] mvorisek commented on #1772
closing in favor of https://github.com/atk4/ui/issues/1812

[2022-10-19 19:25] #1772 closed, assigned to nobody

[2022-10-19 19:59] mvorisek commented on #1908
probably related with https://github.com/atk4/data/pull/1038 and https://github.com/atk4/data/blob/4f55681d5c0f7b380802a232969a17d03dfdc6ae/src/Reference/HasOneSql.php#L88

`HasOneSql` allows foreign model update (if non-ambiguous) - https://github.com/atk4/data/blob/4f55681d5c0f7b380802a232969a17d03dfdc6ae/src/Reference/HasOneSql.php#L44-L62

need the repro code to explain the current/correct beh

[2022-10-19 20:38] mkrecek234 opened #1909 "Crud or CardDeck add/edit modals not scrollable on first show"
- I have a Crud or CardDeck with a set model with many fields, so the add or edit  form is larger/longer than the screen
- If I click on add or edit after page load the first time, it shows the "middle" of the form, the top header is missing. The modal is not scrollable.
- If I close the modal, and click add again, it shows correct and is scrollable.

![image](https://user-images.githubusercontent

[2022-10-19 20:42] mkrecek234 opened #1910 "CardDeck won't reload after completed UserAction with applies_to_single_record"
- You have a model with a UserAction that modifies, say the name, and has `'appliesTo' => \Atk4\Data\Model\UserAction::APPLIES_TO_SINGLE_RECORD`

- If you run that UserAction, the CardDeck should reload to reflect the changes in that record. In Crud, it works. Though, in CardDeck it won't reload the CardDeck.

Interestingly, after adding a new record, the CardDeck now updates, this did not work be

[2022-10-19 20:44] mkrecek234 commented on #1908
But a neverPersist field should never result in updating a model, or a foreign model, shouldn't it?

[2022-10-19 20:47] mvorisek commented on #1908
it can be a virtual field with an ui override like https://github.com/atk4/data/blob/4f55681d5c0f7b380802a232969a17d03dfdc6ae/src/Reference/HasOneSql.php#L88

not sure if this is all the issue - expected behaviour - or you have something more complex, minimalistic code is really needed

[2022-10-19 20:48] mvorisek commented on #1909
thank you for the report - that is https://github.com/fomantic/Fomantic-UI/issues/2476

In https://github.com/atk4/ui/pull/1903 I removed unneeded refreshes as much as possible in favor of `observeChanges` set for all modals, it should be enough if the modal content is replaced with some added/removed HTML nodes (as attribute changes are currently not observed by Fomantic-UI)

in `demos/collection

[2022-10-19 20:51] mkrecek234 commented on #1909
Replacing JS files and refreshing cache solved the issue already. Thank you!

[2022-10-19 20:51] #1909 closed, assigned to nobody

[2022-10-19 20:54] mvorisek commented on #1910
Please always post a demo link and exact steps to reproduce like you did in https://github.com/atk4/ui/issues/1862 for example.

If such demos do not exist, you can still post a demo link with a diff of the changes needed to reproduce.

If no related demo exists, please post here a few lines of codes that can run on pure atk4/ui install, models used from atk4/ui can be present. I can then run such

[2022-10-19 21:05] mvorisek commented on #1909
Thank you for the feedback ❤️

several months ago I fixed all CDN problems by versioning the JS files together with the atk4/ui - please always link the files to the atk4/ui/public dir and never copy them somewhere else, no manual replacing should be done

currently we do not serve the static files thru PHP/VirtualPage and the cache control from atk4/ui side is limitted

webserver configured to al

[2022-10-19 21:17] mvorisek commented on #1910
isn't this https://github.com/atk4/ui/issues/1848 duplicate?

it is a feature, it was never supported, but of course the behaviour should be unified/implemented

[2022-10-20 04:50] mkrecek234 commented on #1910
You're right, did not see you added also the missing reload cases for edit/deletes. Closing this as duplicate of #1848.

[2022-10-20 04:52] mkrecek234 commented on #1848
@mvorisek Can we do a quick fix on this, as otherwise the CardDeck is in a way useless if it does not immediately reflect edits and deletes upon execution. The refactoring as a variant of Crud will take more time certainly to implement. Alternatively, @ibelar could you have a look how to make sure all APPLIES_TO_SINGLE_RECORD userAction updates are triggering a reload of the CardDeck after submit?

[2022-10-20 07:03] mkrecek234 commented on #1848
For Single record actions, around this line https://github.com/atk4/ui/blob/6d98fafb8d21db20bb8461b306ca3f64e9123282/src/CardDeck.php#L159

also the initActionExecutor's logic has to be added to the Executor to reload if action was successful

[2022-10-20 07:28] mkrecek234 commented on #1848
@ibelar After some further look at the history commits, looks like this is broken since executor refactor by you done last year - any chance you can fix this easily? CardDeck is powerful and we should get it back running

[2022-10-20 08:46] mkrecek234 opened #1911 "GRID quick search support for multiple words"
You want to be able to search for things like
`john AcMe Corp.` in a crud's quick search box.

if quicksearch is set-up to cover fields first name, last name and company name, then it should return the correct customer.
So we need a word-based aggregation of AND conditions, so conceptually

WHERE
(LASTNAME LIKE %john% OR FIRSTNAME LIKE %john% OR COMPANYNAME LIKE %JOHN%) AND
(LASTNAME LIKE %AcMe% O

[2022-10-20 09:40] mvorisek commented on #1911
Currently regex (regexp in mysql) can be used, is there anything againt using it or is some UI filter missing an integration?

[2022-10-20 09:41] mkrecek234 commented on #1911
If you search for "John AcMe" today, it looks for
(LASTNAME LIKE %John AcMe% OR FIRSTNAME LIKE %John AcMe% OR COMPANYNAME LIKE %John AcMe%)

and won't find any record becaus John is a first name and Acme is a company name. Each word should be in at least one of the search fields to have a match.

[2022-10-20 09:44] mvorisek commented on #1911
👍 - it is about "crud quick search" where there is no option to select the matching mode

[2022-10-20 13:52] mvorisek commented on #1911
in some components the search is done on title field only, in others - in atk4/ui - these two:

- https://github.com/atk4/ui/blob/6d98fafb8d21db20bb8461b306ca3f64e9123282/src/Form/Control/Lookup.php#L305
- https://github.com/atk4/ui/blob/6d98fafb8d21db20bb8461b306ca3f64e9123282/src/Grid.php#L338

the search is done using the whole input and on every column

1. the search in all components should b

[2022-10-20 14:27] ibelar commented on #1848
@mkrecek234 I don't think Card reload or delete was ever implement, yet, in CardDeck. It was mainly for UserAction that does not modify model record.

[2022-10-20 15:26] mkrecek234 commented on #1848
@ibelar I did not dig deeply in it, but check this code out. Isn't this the reload feature (which actually works OK for added cards, but is not initialized for SINGLE_RECORD updates/deletes?

https://github.com/atk4/ui/blob/6d98fafb8d21db20bb8461b306ca3f64e9123282/src/CardDeck.php#L202

I'd think we have to somehow also make sure the we add a hook also after UserAction success/completed. Unfortuna

[2022-10-20 15:34] mkrecek234 commented on #1911
I think the Grid/Crud logic is the important first one; it is configurable today already, so addQuickSearch can search in defined columns only.

For lookup, indeed this can also be handy to decide which columns are searched in - and also to have multiple word-based results.

At least in my use cases it is never slow. For lookup you can set the minimum letters before searching is started and the ma

[2022-10-22 05:56] mvorisek commented on #1723
the problem is modal window is rendered & opened and then the inner modal content is loaded using AJAX, when it fails, an error modal is shown and then user can recover/return from it

the race condition is probably fixed already

[2022-10-22 16:09] mvorisek commented on #1723
there are 3 problematic places - regex `jsShow.*load`:

![image](https://user-images.githubusercontent.com/2228672/197349542-d1ae5cdd-03fe-4b8a-beec-5c65270bcf70.png)

[2022-10-26 08:46] mhuser commented on #1727
I know that the question may sound silly, but once I have cloned atk4-ui master on a development web server, how can I get the demos to work? I guess there is something to do with composer to setup autoload.

[2022-10-26 08:51] mvorisek commented on #1727
run `composer update` in atk4/ui root directory

[2022-10-26 09:46] mhuser commented on #1727
Thank you so much !

[2022-10-26 14:23] mvorisek opened #1918 "JS render must be reordered"
repro code:

[code]

I would expect modal with message displayed, but empty modal is shown instead.

![image](https://user-images.githubusercontent.com/2228672/198052699-f9389ce4-65f6-48f0-87c2-88d75f937683.png)

the problem is:

![image](https://user-images.githubusercontent.com/2228672/198052258-8c2f02c3-8546-4d3d-b8e3-f6434dab52d1.png)

the `show` JS code must be rendered after modal is configu

[2022-10-26 15:21] mhuser commented on #1727
OK, I have the running demo and the sqlite db was populated thanks to your composer hint.
I have no css styles yet at this stage. This is because the app tries to have stylesheets and others loaded by their full local paths instead of relative path from the server adress. This is forbidden by the server.
Seems strange to me to have to modify the `demos/init-app.php` to force the paths. Is there so

[2022-10-26 15:27] mvorisek commented on #1727
in the latest develop version it should be configured automatically in:

https://github.com/atk4/ui/blob/b1b2268862f35c730425fdb410aec5a1406ac2f7/src/App.php#L630-L655

please describe:
- your webserver configuration
- confirm you use the latest develop version
- dump your `$_SERVER` variable at l632 or any entry place, and post here the data

[2022-10-26 15:58] mhuser commented on #1727
Apache HTTP Server 2.4 and PHP 74 on a local NAS server. `atk4-ui`  is a subdirectory in the http/web directory.
Using version up to commit b1b2268862f35c730425fdb410aec5a1406ac2f7
`$_SERVER`:
[code]

[2022-10-26 16:19] mvorisek commented on #1727
I will take a look.

for now, edit the App cdns here https://github.com/atk4/ui/blob/b1b2268862f35c730425fdb410aec5a1406ac2f7/src/App.php#L147 or anywhere where you create your App

[2022-10-27 18:55] mhuser commented on #1727
Thanks to you I am now up and running!
I applied this bodge to `demos/init-app.php`
[code]

[2022-10-28 15:31] mhuser commented on #1727
Draft started in #1920

[2022-10-28 15:45] mhuser commented on #1877
I noticed `Multiline` form control already has such a top checkbox. I will need to investigate where it is done in the code.

[2022-10-28 15:51] mvorisek commented on #1877
Isn't that only for Multiline? (not for Table/CRUD)

[2022-10-28 16:09] mhuser commented on #1877
Indeed. I could maybe just use `getHeaderCellHtml` of `Checkbox` Column type.

[2022-10-28 16:13] mvorisek commented on #1877
We need to move from vue used in Multiline to render everything via pure php to dedup the code and use standard php components purely.

[2022-10-28 16:49] mhuser commented on #1877
![image](https://user-images.githubusercontent.com/8080934/198689540-9d7be523-12e9-40ba-ac3c-2760511c250c.png)

Turned out that adding the checkbox in the header was easier than expected thanks to the existing `Checkbox` column type.
But I will still need to link it to the toggling action and that will probably be the tricky part.

#1921

[2022-10-29 10:40] mvorisek commented on #1727
@mhuser before https://github.com/atk4/ui/blob/b1b2268862f35c730425fdb410aec5a1406ac2f7/src/App.php#L641 line I added:

[code]

and `demos/index.php` demos homepage has about this content:

![image](https://user-images.githubusercontent.com/2228672/198826565-35262bfd-c560-49ec-be92-9a23ea6d76dd.png)

navigate to the homepage and please post here:
- what URL you use to access the homepage in your b

[2022-10-29 11:30] mvorisek opened #1924 "Radio should be uncheckable if the field can be empty/nullable"
https://ux.stackexchange.com/questions/13511/why-is-it-impossible-to-deselect-html-radio-inputs#comment213472_46389

https://stackoverflow.com/questions/2117538/how-to-uncheck-a-radio-button

[2022-10-29 20:09] mvorisek commented on #1924
related with https://github.com/atk4/ui/issues/1005

[2022-10-29 20:14] mhuser commented on #1727
- URL for local demos homepage: https://etml-elo.diskstation.me/atk4-ui/demos/ (only accessible locally)
- Link currently rendered: `<script src="/volume1/web/atk4-ui/public/external/jquery/dist/jquery.min.js">...`
- What link I expect: `<script src="/atk4-ui/public/external/jquery/dist/jquery.min.js">...`
- My local path: `/volume1/web/atk4-ui/` but it appears to be somehow a symlink of `/var/ser

[2022-10-29 20:20] mvorisek commented on #1727
Thank you a lot for the data! I will do my best to make it working. As there is no modrewrite, it should be possible :)

[2022-10-31 12:13] mvorisek opened #1928 "Modal executor should (re)load whole modal incl. buttons"
currently only modal inner content/view is r(e)loaded causing uncessary html/js generated like:

![image](https://user-images.githubusercontent.com/2228672/199005298-fde8875c-e54c-4643-8685-243d7382c047.png)

![image](https://user-images.githubusercontent.com/2228672/199004391-73ca20ad-b0a2-4155-bd7d-3a40ad488065.png)

no modal content should be generated before displayed (when inner content/view

[2022-10-31 13:19] mvorisek commented on #1720
mostly fixed by https://github.com/atk4/ui/pull/1925 and https://github.com/atk4/ui/pull/1919

[2022-10-31 13:19] #1720 closed, assigned to nobody

[2022-11-02 10:35] mvorisek opened #1932 "Lister with JS paginator can register events more than once"
code to reproduce:

[code]

steps to reproduce:

1. open the repro code and scroll the CRUD to be on a newly loaded (via JS paginator) row
2. click "edit" icon/action
3. notice `Uncaught Error: Unexpected modal to show - modal is already active` console error

this is because row events registered by table selector are added by the JS paginator AJAX again:

[code]

[2022-11-02 14:11] mvorisek opened #1934 "Lister with JS paginator should still complete the initialization when scrolled (init/setOrder should not matter if called first or last)"
code to reproduce:

[code]

the problem is `addJsPaginatorInContainer` terminates [1] the rendering and `onRowClick` is completely ignored when called from dynamic scroll AJAX

this problem poped out with https://github.com/atk4/ui/issues/1932 fix where we unregister all events from original/non-AJAX load

[1] https://github.com/atk4/ui/blob/3.1.0/src/Lister.php#L122

[2022-11-02 14:22] mvorisek commented on #1705
slightly related https://github.com/atk4/ui/issues/1934 (setup methods order should NOT matter)

[2022-11-02 23:36] #1932 closed, assigned to nobody

[2022-11-03 10:23] mvorisek opened #1935 "UA icons should display a UA action name/description on hover"
from Discord:
![image](https://user-images.githubusercontent.com/2228672/199696890-d50690da-60cf-4441-92db-5c90eead1b65.png)

User should be informed what an "icon" will do, important for UX, especially for new end users or not frequently perfermed tasks.

[2022-11-03 10:52] mvorisek commented on #1935
can be tested on `demos/data-action/factory-view.php` demo:

![image](https://user-images.githubusercontent.com/2228672/199702704-5093137c-ff48-42a6-b115-043a34a4bd3a.png)

[2022-11-03 22:26] #1723 closed, assigned to nobody

[2022-11-09 11:25] mvorisek commented on #1727
I was able to reproduce with the following filesystem configuration:
[code]
and
[code]
at the beginning of the `demos/index.php` file the output is then like:
[code]
and when `var_dump([$localPath, $requestLocalPath, $res])` is added to https://github.com/atk4/ui/blob/7102df96dc980ef04bc6c770897715bb3efeb25f/src/App.php#L652 it shows:
[code]

---
more debug:
[code]
shows
[code]

[2022-11-09 11:50] mhuser commented on #1727
Looks similar to the issue I faced !

[2022-11-09 11:59] mvorisek commented on #1727
please test if adding:
[code]
at https://github.com/atk4/ui/blob/7102df96dc980ef04bc6c770897715bb3efeb25f/src/App.php#L651
fixes the path calculation, eg. fixes https://github.com/atk4/ui/issues/1727#issuecomment-1295960552

[2022-11-09 16:15] mhuser commented on #1727
Yes, it fixes for my situation. With these lines, I do not need to tweak the cdns any more!
![image](https://user-images.githubusercontent.com/8080934/200882355-76f83acd-c97e-4cf1-8c2a-692ec1696476.png)

[2022-11-09 23:15] mvorisek commented on #1727
@mhuser thank you for reporting the problem and helping me to understand it, fix merged in https://github.com/atk4/ui/pull/1936, I was litte worried about `realpath` performance with many calls, but it turned out `__DIR__` is resolved implicitly, and all inputs should be constructed using it, thus with this knowledge/assumptiom, the fix requires only one `realpath` per app, ❤️

[2022-11-10 05:10] mhuser commented on #1727
@mvorisek This sounds great! Thank you a lot for the quick fix!

[2022-11-16 21:00] mkrecek234 opened #1937 "Cannot assign onHidden function for Modal anymore"
I have a modal which should trigger a callback after it is being hidden:
$this is a normal view.
[code]

In the recent version upon load of this view I now get this JavaScript error:
`Error: Fomantic-UI "modal.onHidden" setting cannot be customized outside atk`
jquery.min.js:2:31711

[2022-11-16 21:03] mvorisek commented on #1937
The exception saves you from state corruption, but like in FUI API we can impl. specific handler for the `onHidden` to call both (your/custom and out/atk).

[2022-11-16 21:09] mkrecek234 commented on #1937
@mvorisek Can I not as before just connect to any FUI function? There are plenty of function for FUI controls where we need to connect our own Atk4 code. How can we solve this?

[2022-11-16 21:33] mvorisek commented on #1937
@mkrecek234 you can, but there are a few function that atk4/ui override to customize Fomantic-UI behaviour - this is not new, only since a few weeks we throw a JS exception properly :)

see https://github.com/atk4/ui/pull/1917

do you need to change only `onHidden` or any other callback we override? I will impl. it, but it is not easy as for every function the side effects needs to be analysed man

[2022-11-16 21:55] mkrecek234 commented on #1937
I only encountered this error when using modal onHidden. Sure there are other FUI functions (mostly onChange of values of some controls, but there are no existing overrides by atk, so no throw of exception that I encountered 👍

onHidden for Modal (or even JsModal) would be indeed very important as we have to be able to react on it to update views etc.

[2022-11-18 17:23] #1937 closed, assigned to mvorisek

[2022-11-21 17:25] mvorisek commented on #1020
also reuse it in Multiline, prerender it /wo value for vue

[2022-11-28 00:27] mvorisek opened #1940 "Multiline dropdown does not filter from API since Vue.JS v3 upgrade"
related with #810

Known issue from https://github.com/atk4/ui/pull/1915 as the new SuiDropdown component is quite different:
- original: https://github.com/Semantic-UI-Vue/Semantic-UI-Vue/blob/v0.11.0/src/modules/Dropdown/Dropdown.jsx
- new: https://github.com/nightswinger/vue-fomantic-ui/blob/v0.13.0/src/modules/Dropdown/Dropdown.tsx)

Steps to reproduce:
1. open `demos/form-control/multiline.ph

[2022-11-28 12:51] mvorisek commented on #1855
Since https://github.com/atk4/ui/pull/1915 upgrade there is another known issue - enum/checkbox is broken, boolean/radio has no support by upstream https://github.com/nightswinger/vue-fomantic-ui/issues/16 lib (see `_unit-test/scope-builder.php` demo for reproduce).